@import 'src/client/style/partials';

.custom-agreement-area-container {
  display: flex;
  min-height: 50px;
  width: 100%;
  justify-content: space-between;

  .custom-agreement-area-estimate-button {
    width: 160px;
    white-space: normal;
    overflow-wrap: break-word;
  }
}

.custom-agreement-area-scale-selector {
  height: 24px;
  width: 170px;
}

.estimation-error-message {
  color: $ui-destructive;
  margin-left: auto;
}
