@import 'src/client/style/partials';

div.select__indicatorsContainer {
  display: grid;
  grid-column-gap: $spacing-xxxxs;
  grid-template-columns: repeat(2, auto);
  padding-left: $spacing-xxxs;

  &.isDisabled {
    display: none;
  }
}

@include rtl {
  div.select__indicatorsContainer {
    padding-left: unset;
    padding-right: $spacing-xxxs;
  }
}

div.select__clearIndicator {
  padding: unset;

  svg.icon {
    color: lighten($text-disabled, 10%);
  }

  &:hover {
    svg.icon {
      color: $text-body;
    }
  }
}

.select__dropdownIndicator {
  display: grid;
  align-items: center;
  justify-items: center;

  svg {
    color: $text-body;
  }

  &.isDisabled {
    display: none;
  }
}
