@use 'sass:color';

@use 'src/client/style/partials' as *;

div.select__indicatorsContainer {
  display: flex;
  gap: $spacing-xxxxs;

  &.isDisabled {
    display: none;
  }
}

div.select__clearIndicator {
  align-items: center;
  justify-content: center;
  padding: unset;
  width: 22px;
}

.select__dropdownIndicator {
  display: grid;
  align-items: center;
  justify-items: center;

  svg {
    height: 14px;
    width: 14px;
    color: $text-body;
  }

  &.isDisabled {
    display: none;
  }
}
