@import 'src/client/style/partials';

div.select__indicatorsContainer {
  display: flex;
  gap: $spacing-xxxxs;

  &.isDisabled {
    display: none;
  }
}

@include rtl {
  div.select__indicatorsContainer {
    padding-left: unset;
    padding-right: $spacing-xxxs;
  }
}

div.select__clearIndicator {
  padding: 1px;
  height: 18px;
  width: 18px;

  svg.icon {
    color: darken($ui-destructive, 7%);
  }

  &:hover {
    background-color: rgba(lighten($ui-destructive, 30%), 0.1);
    svg.icon {
      color: $ui-destructive;
    }
  }
}

.select__dropdownIndicator {
  display: grid;
  align-items: center;
  justify-items: center;

  svg {
    color: $text-body;
  }

  &.isDisabled {
    display: none;
  }
}

.select__toggleAllOption-checkbox {
  accent-color: $ui-accent;
  margin-right: $spacing-xxs;
  vertical-align: middle;

  &:checked {
    background-color: $ui-accent;
    border: none;
  }
}

.select__toggleAllOption-label {
  vertical-align: middle;
}
