@use 'src/client/style/partials' as *;

.area-select__container {
  div.select__control {
    &:hover {
      background-color: var(--ui-bg-hover);
      transition: background-color 0.3s ease;
    }
  }

  div.select__menu.bottom {
    border: unset;
    padding: $spacing-xxs 0;

    @include min-width($mobile-landscape) {
      min-width: 400px;
    }
  }

  div.select__menuList {
    @include min-width($tablet-portrait) {
      max-height: 560px;
    }
  }

  div.select__option {
    padding: unset;
  }

  // styles when user is logged in and has a valid role in the cycle
  &.withRoles {
    div.select__menu.bottom {
      @include min-width($mobile-landscape) {
        min-width: 550px;
      }
    }
    &.sortable div.select__menu.bottom {
      @include min-width($mobile-landscape) {
        // Increase the size of the menu when we can sort
        min-width: 570px;
      }
    }
    &.expanded {
      div.select__menu.bottom {
        @include min-width($mobile-landscape) {
          min-width: 1150px;
        }
      }
    }
  }
}

// common row style
.area-select__country-row {
  display: grid;
  grid-column-gap: $spacing-xxs;
  line-height: $spacing-xs;
  padding: $spacing-xxs $spacing-xs;

  &.withLastPublished {
    grid-template-columns: 1fr auto;
  }

  &.withRole {
    grid-template-columns: 220px 128px 1fr;

    &.expanded {
      grid-template-columns: 220px 128px repeat(4, 180px);
    }
  }
}
