@import 'src/client/style/partials';

.geo-map-menu-statistics-btn-download {
  float: right;
  width: 150px;
  margin: $spacing-s $spacing-l $spacing-s;
}

.table-title {
  padding: 0 0 $spacing-s $spacing-m;
  margin: auto;
}
