@use 'src/client/style/partials' as *;

.data-table {
  .validation-error {
    background-color: rgba($ui-destructive, 10%);
  }

  tr.fra-row-comments__open,
  div.fra-row-comments__open {
    outline: 1px solid $ui-accent;
    outline-offset: -1px;
    box-shadow: 0 0 4px rgba($ui-accent, 50%);
  }
}
