@import 'src/client/style/partials';

.country-options__notice {
  color: $text-mute;
  font-size: $font-s;
  margin-top: $spacing-xxxxs;

  &.hidden {
    visibility: hidden !important;
  }
}

.country-options {
  flex-direction: column;
  width: 100%;
}
