@import 'src/client/style/partials';

.table-grid__data-cell-input-number {
  text-align: right;

  &.disabled {
    height: unset;
  }
}

@include rtl {
  .table-grid__data-cell-input-number {
    text-align: left;
  }
}
