@import 'src/client/style/partials';

.table-grid__data-cell-input-number {
  text-align: right;

  &.input-text {
    &.disabled {
      align-items: center;
      display: flex;
      justify-content: end;
    }
  }
}

@include rtl {
  .table-grid__data-cell-input-number {
    &.input-text {
      &.disabled {
        justify-content: start;
      }
    }
  }
}
