@import (reference) 'webapp/main/styles/config';

@img-margin: 24px;
@row-gap: 64px;

.partners {
  display: grid;
  grid-row-gap: @row-gap;
  padding: @row-gap 0;
  color: @text-body;
}

.partners__imgs {
  height: 70px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;

  img {
    margin: 0 @img-margin;
    height: 60px;
  }

  img.mfafi {
    height: 90px;
    margin-top: 20px;
  }
}

.partners__support {
  max-width: 150px;
  display: flex;
  align-items: center;
  margin-left: @img-margin;
  font-size: @font-s;
  font-weight: 200;
  text-align: right;
}

.partners__disclaimer {
  color: @text-link;
  padding: 0 @row-gap;
  text-align: center;
  font-size: @font-s;
  line-height: 24px;

  a {
    color: @text-body;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
