.kiosk-latest-activities__map {
  height: 100%;
  width: 100%;
}

$button-bg: #61a2d8;

.kiosk-latest-activities__map-button {
  background-color: rgba($button-bg, 0.8);
  border-radius: 15px;
  border: min(0.6dvw, 1.05dvh) solid #ccdce9;
  box-shadow: 0 min(0.2dvw, 0.37dvh) min(0.3125dvw, 0.555dvh) rgba(0, 0, 0, 0.1);
  padding: 0 min(0.8dvw, 1.5dvh);
  width: 100%;

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgba(#fff, 0.8);
  }

  &:hover {
    background-color: rgba($button-bg, 0.9);
  }

  h1 {
    flex: 1;
    font-size: min(2.331dvw, 4.1475dvh);
    margin: min(0.8dvw, 1.5dvh) 0;
    text-align: center;
  }
}
