@import 'src/client/style/partials';

.fra-table__select-container {
  &.multiple {
    overflow: visible;
  }
  .multi-select {
    width: 100%;
  }
}

.estimation-mark {
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px solid $ui-border-dark;
  width: 12px;
  height: 12px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
