body {
  color: #333;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 16px;
  text-rendering: optimizeLegibility;
}

body.rtl {
  direction: rtl;
}

h1, h2, h3, h4, h5 {
  color: #111;
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 20px;
  margin-top: 32px;
}

h2 {
  font-size: 16px;
  margin-top: 24px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

hr {
  border: 0px;
  border-top: 1px solid #dadada;
  margin: 40px 0;
}

ol, ul {
  padding-left: 20px;
}

ol > li, ul > li {
  margin: 8px 0;
}

ol > li > ol {
  list-style: upper-alpha;
}

blockquote {
  padding: 12px;
  margin: 1em 0;
  background: #f5f5f5;
}

blockquote > p {
  margin: 0;
}

table {
  font-size: 14px;
}

table td,
table th {
  padding: 2px 4px;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: normal;
  hyphens: none;
}

pre code {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, "Arial", sans-serif;
  font-style: italic;
}

a {
  color: #008f9c;
}

.anchor-link:focus {
  outline: none;
}

.anchor-link:before {
  content: "";
  display: block;
  margin-top: -32px;
  padding-bottom: 32px;
}

.toc {
  list-style: none;
  padding: 0;
}

.toc li {
  margin: 0;
}

.toc li a {
  text-decoration: none;
}

.toc li a:hover {
  text-decoration: underline;
}


