body {
  color: #333;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 20px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  color: #111;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 20px;
}


ol, ul {
  padding-left: 20px;
}

ol > li, ul > li {
  margin: 10px 0;
}

blockquote {
  padding: 1rem;
  margin: 0;
  background: #c4e7eb;
}

blockquote > p {
  margin: 0;
}

a {
  color: #008f9c;
}
