.login__root {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.login__wrapper {
    margin: 0 auto;
    max-width: 480px;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.login__fao-logo {
    display: block;
    width: auto;
    height: 60px;
    margin: 0 auto;
}

.login__legal {
    text-align: center;
    color: #999;
    font-size: 13px;
}

.login__tucan {
    position: absolute;
    right: -34px;
    top: 23px;
}

.login__fail {
    margin-bottom: 16px;
}

.login__box {
    margin-top: 24px;
    padding: 64px 32px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border: 1px solid #d5d5d5;
    text-align: center;
}

.login__header {
    margin-bottom: 24px;
}

.login__input-group {
    margin-bottom: 16px;
}

.login__btn {
    border-radius: 2px;
    border: solid 1px transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    transition: all .1s ease-out;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    background-color: #0098a6;
    color: white;
}

.login__btn:hover {
   background-color: darken(#0098a6, 4%);
   color: white;
}

.login__btn:active {
   box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
}

body {
    color: #333333;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.alert-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.alert-error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 16px;
    line-height: 16px;

    background-color: #d0021b;
}

.alert-error svg {
    color: white
}

.alert-error .alert-icon {
    margin-right: 8px;
    flex-shrink: 0;
}

.icon {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    fill: currentColor;
    stroke: none;
    height: 16px;
    width: 16px;
}
