@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

.kiosk-content {
  align-items: center;
  background-color: #61a2d8;
  display: flex;
  flex-direction: column;
  padding: min(1.25dvw, 2.22dvh);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -40%);
    width: 50%;
    aspect-ratio: 1;
    background-color: #acc5db;
    pointer-events: none;
    -webkit-mask-image: url('/img/kiosk/boreal-biome-emblem.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-mode: luminance;
    mask-image: url('/img/kiosk/boreal-biome-emblem.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-mode: luminance;
  }

  div {
    z-index: 1;
  }
}

.kiosk-content__embedded-object {
  height: 100%;
  width: 100%;
}

.kiosk-content__grid-container {
  display: grid;
  gap: min(1.665dvw, 2.9625dvh) min(3.33dvw, 5.925dvh);
  grid-template-columns: repeat(3, 1fr);
}

.kiosk-content__title {
  font-size: min(3.33dvw, 5.925dvh);
  margin-bottom: min(1.28dvw, 2.4dvh);
  text-align: left;
}
