.kiosk-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-around;
  padding: 48px;
}

.kiosk-content__embedded-object {
  height: 100%;
  width: 100%;
}

.kiosk-content__grid-container {
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(3, 1fr);
}

.kiosk-content__title {
  color: #ef7a2d;
  font-size: 64px;
  font-weight: 900;
}
