@import 'src/client/style/partials';
@import 'src/client/styles/spinner';

.geo-layer-toggle__checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;

  > .failed {
    border-color: $ui-destructive;
  }

  > .fra-checkbox {
    cursor: pointer;
    margin: $spinner-margin;
  }

  > span {
    font-size: $font-s;
    font-weight: normal;
    margin: 0;
  }
}
