@import 'src/client/style/partials';

.file-upload {
  align-items: center;
  background-color: $ui-bg;
  display: flex;
  min-height: 35px;
}

.file-upload__file-drop {
  align-items: center;
  color: $text-body;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: $font-s;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: $spacing-xxs;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  white-space: initial;
  width: 100%;

  &:hover {
    background-color: $ui-bg-hover;
  }

  &--isActive {
    background-color: $ui-accent-light-extra;
  }
}
