@use 'src/client/style/partials' as *;

.references-file-list {
  display: grid;
  gap: $spacing-xxs;

  .file-drop {
    height: 56px;
    margin-top: $spacing-xs;
  }

  .file-row {
    align-items: center;
    cursor: pointer;
    display: grid;
    gap: $spacing-xxs;
    grid-template-columns: 1fr auto;
    justify-self: start;
  }
}

.repository-modal .modal-content {
  height: 80vh;
  margin: 5% 30%;
  overflow: hidden;
}

.repository-modal .modal-body {
  min-height: 0;
  overflow-y: auto;
}

.repository-modal .modal-header span {
  font-size: $font-s;
  font-weight: initial;
}
