@import 'client/style/partials';

.hr {
  background: radial-gradient(#c1c1c1, white);
  height: 1px;

  &.vertical {
    height: 60%;
    width: 1px;
  }

  &.dark {
    background: radial-gradient($ui-accent-dark, $ui-bg);
  }
}
