@use 'src/client/style/partials' as *;

.area-select__group-heading-sortable {
  all: unset; // reset all button defaults to inherit or initial
  align-items: start;
  cursor: pointer;
  display: flex;

  .icon {
    margin-right: $spacing-xxxxs;
  }

  &:hover,
  &.active {
    color: $text-body;
  }
}
