@import 'src/client/style/partials';

$btn-width: 128px;

.options-actions {
  display: grid;
  gap: $spacing-xs;
  grid-template-columns: repeat(2, $btn-width);
  justify-self: center;
}

.options-container {
  .select__container {
    z-index: auto;
  }
}

.options-hr {
  margin: $spacing-s 0;
  width: 70%;
  justify-self: center;
}
