@import 'src/client/style/partials';

.options-label {
  font-weight: 700;
}

$btn-width: 128px;

.options-actions {
  display: grid;
  gap: $spacing-xs;
  grid-template-columns: repeat(2, $btn-width);
  justify-self: center;
}

.options-hr {
  margin: $spacing-s 0;
  width: 70%;
  justify-self: center;
}
