@use 'src/client/style/partials' as *;

$btn-width: 128px;

.options-actions {
  display: grid;
  gap: $spacing-xs;
  grid-template-columns: repeat(2, $btn-width);
  justify-self: center;
  padding-bottom: $spacing-xl;
}

.options-container {
  .select__container {
    z-index: auto;
  }

  .sliding-panel {
    overflow-y: scroll;
  }
}

.options-hr {
  margin: $spacing-s 0;
  width: 70%;
  justify-self: center;

  &.country-options-hr {
    margin-top: $spacing-xxxs;
  }
}

.options-title {
  margin-bottom: 12px;
}
