.layer-year-selector-container {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.layer-year-selector {
  height: 24px;
  width: 170px;
}
