@import '_legacy_webapp/style/partials';

.statistical-factsheets__disclaimer {
  text-align: center;
}

.statistical-factsheets {
  width: 100%;

  > div {
    width: 100%;
    float: left;
    padding: $spacing-xxs;

    &:not(:nth-child(1)) {
      border-top: 3px double $ui-border;
    }

    @include min-width($laptop) {
      padding: $spacing-xs $spacing-l;
      width: 50%;

      &:nth-child(2) {
        border-top: unset;
      }
    }
  }

  .header {
    font-size: $font-l;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .chart {
    position: relative;
    height: calc(100% - 50px);
  }

  .fra-table__container {
    margin-bottom: unset;

    .fra-table {
      tbody th,
      tbody td {
        padding: 10px;
        min-width: unset;
      }
    }
  }

  .row-s {
    height: 260px;
  }

  .row-m {
    height: 300px;
  }

  .row-l {
    height: 390px;
  }

  .row-table {
    height: unset;
  }
}

.app-view.navigation-on {
  .statistical-factsheets {
    @include min-width($laptop) {
      .row-m {
        height: 380px;
      }
      .row-l {
        height: 520px;
      }
    }
  }
}
