@use 'src/client/style/partials' as *;
@use 'src/client/components/Inputs/InputText/InputText' as *;

.textarea,
.textarea-print {
  @extend .input-text;
  overflow-y: hidden;
  resize: none;
}

.textarea-print {
  padding-bottom: 12px;
  word-wrap: break-word;
  word-break: break-all;
}
