@import 'src/client/style/partials';
@import 'client/components/Inputs/InputText/InputText';

.textarea,
.textarea-print {
  @extend .input-text;
  overflow-y: hidden;
  resize: none;
}

.textarea-print {
  padding-bottom: 12px;
  word-wrap: break-word;
  word-break: break-all;
}
