@import 'webapp/style/partials';

.data-table-generate-values {
  display: grid;
  grid-template-columns: 180px auto;
  grid-column-gap: 8px;
  grid-row-gap: 2px;
  grid-auto-rows: 32px;
  align-items: center;

  button {
    justify-self: start;
  }

  .field {
    grid-column: 1;
    font-size: $font-s;
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    cursor: pointer;

    > *:focus,
    > *:focus-within {
      outline: none;
    }
  }

  .annual-change-rates {
    grid-column: 2;
    display: grid;
    grid-template-columns: 62px 62px auto;
    grid-column-gap: 2px;
    align-items: center;
    grid-auto-rows: 32px;
    font-size: $font-s;
  }

  .annual-change-rates__label {
    justify-self: center;
    align-self: end;
  }

  .annual-change-rates__unit {
    font-size: $font-xxs;
    color: $text-mute;
  }
}
