@import (reference) 'webapp/app/components/navigation/navigationMixins.less';

.country-selection-link-landing {
  .mixin-nav-secondary-base(12px, true);
  height: 100%;
  width: @ui-app-navigation-width;
  border-right: @ui-thin-border;
  align-items: center;
}
