@import 'src/client/style/partials';

.data-cell__flag {
  border: 1px solid $ui-border-dark;
  min-width: 14px;
  height: 14px;
  padding: 0 2px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
