@import "../app-styles/config";

.main__header {
  background: @ui-bg;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  a {
    text-decoration: none;
    margin-left: 32px;
    font-size: @font-l;
    font-weight: 700;
    color: @text-heading;
  }
}