@import 'src/client/style/partials';

.edit-user__form-field {
  &.edit-user__form-contact_method-field {
    border: none;
    gap: $spacing-xs;

    select {
      border: 1px solid $ui-border;
      width: 100%;
      padding: 0 $spacing-xxs;
    }
  }
}
