# Default web server port
PORT=9001
APP_URI=http://localhost:9001

# DB
PGHOST=localhost
PGPORT=5442
PGDATABASE=frap-dev
PGUSER=frap
PGPASSWORD=frap

# Session
FOO_COOKIE_SECRET=cookie-secret

# Google auth
FRA_GOOGLE_CLIENT_ID=google-client-id
FRA_GOOGLE_CLIENT_SECRET=goggle-client-secret

# Local development mail server
FRA_MAIL_HOST=localhost
FRA_MAIL_PORT=1234
FRA_MAIL_USER=foo
FRA_MAIL_PASSWORD=bar
