image: node:6

dev-deploy:
  type: deploy
  script:
  - apt-get update
  - apt-get install --assume-yes rubygems
  - gem install dpl
  - yarn install
  - yarn test
  - yarn build
  - dpl --provider=heroku --app=dev-fra-platform --api-key=$HEROKU_STAGING_API_KEY
  only:
  - master
