.DS_Store
node_modules
.idea
*.iml
dist
.tmp

## FakeSMPT stuff ##
fakeSMTP-2.0.jar
received-emails/
/tools/fraReport/
.env

#Eslint
.eslintcache
.vscode

#Test
test-results/

#Playwright
playwright-report/

#DB
db/backup
src/test/e2e/init-db/backup

#Reports
src/tools/report/output/

#CSVNodeImport sample data
src/tools/csvNodeImport/fra
src/tools/csvNodeImport/panEuropean

#Local env
/.env.review
/.env.production

#Data export
src/tools/db/fixtures/

#tsc cache
tsconfig.tsbuildinfo

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.auto.tfvars