image: node:12.13.0

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - yarn install
    - yarn test
    - yarn build

deploy_staging:
  stage: deploy
  except:
    - schedules
  script:
    - apt-get update
    - apt-get install --assume-yes rubygems
    - gem install dpl -v 1.10.6
    - dpl --provider=heroku --app=dev-fra-platform --api-key=$HEROKU_STAGING_API_KEY
  only:
    - master
  environment:
    name: staging
    url: https://dev-fra-platform.herokuapp.com/

deploy_production:
  stage: deploy
  script:
    - apt-get update
    - apt-get install --assume-yes rubygems
    - gem install dpl -v 1.10.6
    - dpl --provider=heroku --app=$HEROKU_PRODUCTION_APP_NAME --api-key=$HEROKU_PRODUCTION_API_KEY
  only:
    - master
  when: manual
  environment:
    name: production
    url: https://fra-platform.herokuapp.com/

deploy_production_scheduled:
  stage: deploy
  script:
    - apt-get update
    - apt-get install --assume-yes rubygems
    - gem install dpl
    - dpl --provider=heroku --app=$HEROKU_PRODUCTION_APP_NAME --api-key=$HEROKU_PRODUCTION_API_KEY
  only:
    - schedules
  except:
    - branches
  environment:
    name: production
    url: https://fra-platform.herokuapp.com/
