language: node_js
node_js:
  - 12
cache:
  directories:
    - node_modules
script:
  - yarn test
deploy:
  - provider: heroku
    app: dev-fra-platform
    script: heroku config:set APP_VERSION=$(node -p -e "require('./package.json').version") --app=dev-fra-platform
    on:
      branch: heroku-test
    api_key:
      secure: ocbekH515Gj+SQ3a7o4HkWAOiWlkvPzgyPZLUtfzvF567o1fv0Aqo/04AvPrvz1JViIx8PGR1JOORT/xD1luI8fQ/pSq/P6tRmIcD5s1DFDBUbAXVyLKvfmC6JWw+oVZf/f1XhSZenPS45rFPFHNPmnrEGps5PJfuSJOii6C/uW5QFAy7PeB5LUStEynE/JURKvZQCPW4hW5659XlBbCrEPQxraOCTgpknAGKYGOFOMUwxqj1n+7DJBHKye3Fhd4lclexMp2N2PNEMLjO+uNN/feInPAB6FW0LWqiC7bo6ue0mlFFny6F0PU+WsOeTRbhw0A5btDLhqhZ5rE55F/x7PJPjqEERFErbUrIUxlUjNjLKginq9iAtDkR2wS3+uMJFaVlvfoJ56vQ3igaSy/pKPBuC59+bHbh7W6REuXOot6LPqwr/oLpzGledQdeT/kwDMI3h0hhJ8/spGBGQdX+reo8i71vwV3ytgsJ2P7pf6BSzMZ6+TcTHW6MDhKhB5cly4ZB7DkjXaO5m5ioK8RbNZSq0lWfncxynQR2VUM943A6roNprqI/cl8Fea/vqugoVwhyx2GHETL7fvFjeuN7JsbVrye1p4FlTap5o/k7w7D3ZYUmLnJ3LQ2tA5yuIZfvPpUKOU0sGrDnLSLSnxTW1o8v0MQWgGBgfjTzjj+Sr0=
  - provider: heroku
    app: dev-fra-platform
    on:
      tags: true
    api_key:
      secure: ocbekH515Gj+SQ3a7o4HkWAOiWlkvPzgyPZLUtfzvF567o1fv0Aqo/04AvPrvz1JViIx8PGR1JOORT/xD1luI8fQ/pSq/P6tRmIcD5s1DFDBUbAXVyLKvfmC6JWw+oVZf/f1XhSZenPS45rFPFHNPmnrEGps5PJfuSJOii6C/uW5QFAy7PeB5LUStEynE/JURKvZQCPW4hW5659XlBbCrEPQxraOCTgpknAGKYGOFOMUwxqj1n+7DJBHKye3Fhd4lclexMp2N2PNEMLjO+uNN/feInPAB6FW0LWqiC7bo6ue0mlFFny6F0PU+WsOeTRbhw0A5btDLhqhZ5rE55F/x7PJPjqEERFErbUrIUxlUjNjLKginq9iAtDkR2wS3+uMJFaVlvfoJ56vQ3igaSy/pKPBuC59+bHbh7W6REuXOot6LPqwr/oLpzGledQdeT/kwDMI3h0hhJ8/spGBGQdX+reo8i71vwV3ytgsJ2P7pf6BSzMZ6+TcTHW6MDhKhB5cly4ZB7DkjXaO5m5ioK8RbNZSq0lWfncxynQR2VUM943A6roNprqI/cl8Fea/vqugoVwhyx2GHETL7fvFjeuN7JsbVrye1p4FlTap5o/k7w7D3ZYUmLnJ3LQ2tA5yuIZfvPpUKOU0sGrDnLSLSnxTW1o8v0MQWgGBgfjTzjj+Sr0=
  - provider: heroku
    app: fra-platform
    on:
      branch: production
    api_key:
      secure: ocbekH515Gj+SQ3a7o4HkWAOiWlkvPzgyPZLUtfzvF567o1fv0Aqo/04AvPrvz1JViIx8PGR1JOORT/xD1luI8fQ/pSq/P6tRmIcD5s1DFDBUbAXVyLKvfmC6JWw+oVZf/f1XhSZenPS45rFPFHNPmnrEGps5PJfuSJOii6C/uW5QFAy7PeB5LUStEynE/JURKvZQCPW4hW5659XlBbCrEPQxraOCTgpknAGKYGOFOMUwxqj1n+7DJBHKye3Fhd4lclexMp2N2PNEMLjO+uNN/feInPAB6FW0LWqiC7bo6ue0mlFFny6F0PU+WsOeTRbhw0A5btDLhqhZ5rE55F/x7PJPjqEERFErbUrIUxlUjNjLKginq9iAtDkR2wS3+uMJFaVlvfoJ56vQ3igaSy/pKPBuC59+bHbh7W6REuXOot6LPqwr/oLpzGledQdeT/kwDMI3h0hhJ8/spGBGQdX+reo8i71vwV3ytgsJ2P7pf6BSzMZ6+TcTHW6MDhKhB5cly4ZB7DkjXaO5m5ioK8RbNZSq0lWfncxynQR2VUM943A6roNprqI/cl8Fea/vqugoVwhyx2GHETL7fvFjeuN7JsbVrye1p4FlTap5o/k7w7D3ZYUmLnJ3LQ2tA5yuIZfvPpUKOU0sGrDnLSLSnxTW1o8v0MQWgGBgfjTzjj+Sr0=
