@import 'src/client/style/partials';

.repository-form__separator {
  align-items: center;
  color: $text-mute;
  display: flex;
  grid-column: 1/3;
  height: 8px;
  text-align: center;
}

.repository-form__separator-line {
  border-top: 1px solid $text-disabled;
  flex-grow: 1;
}

.repository-form__separator-text {
  padding: 0 $spacing-s;
}
