@import 'src/client/style/partials';

.landing__page-header {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;

  .space-between {
    justify-content: space-between;
  }
}

.landing__page-title {
  display: flex;
  align-items: center;
  flex: 1;
}

.landing__page-menu {
  display: flex;
  padding-top: 9px;
  align-items: start;
  overflow-x: auto;
}

a.landing__page-menu-button {
  border-radius: unset;
  font-size: $font-l;
  font-weight: normal;
  margin: 0;
  color: $text-body;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  border-bottom: 2px solid $ui-border;

  &:hover {
    color: $ui-accent;
  }

  &.disabled,
  &:disabled {
    border-bottom-color: $ui-accent;
    color: $ui-accent;
    opacity: 1;
  }
}

// TODO: uncomment lines below if needed, or add the style in the Component if applicable
.landng__page-country-label {
  display: inline-block;
  border: $ui-thin-border;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: lighten($ui-bg, 1%);
  color: darken($text-disabled, 15%);
  margin: 5px 2.5px 0;
  font-size: $font-s;
}
//
//.landing__page-container {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//}
//
//.landing__page-container-header {
//  margin-bottom: 12px;
//  width: 100%;
//  text-align: center;
//}
//
//.landing__page-container-item {
//  width: 50%;
//  padding: 8px;
//}
//
////Milestones
//.landing__milestones-container {
//  @extend .landing__page-container;
//  width: 100%;
//}
//
//.landing__milestones-content {
//  display: flex;
//  width: 100%;
//}
//
//.landing__milestone-group-item {
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//  padding: 0 8px;
//}
//
//.landing__milestone-group-year {
//  font-size: $font-m;
//  font-weight: bold;
//  text-align: center;
//}
//
//.landing__milestone-item {
//  padding: 14px 10px;
//  border: 1px solid $ui-border-light;
//  background-color: lighten($ui-bg, 1%);
//  margin-top: 12px;
//}
//
//.landing__milestone-item-date {
//  margin-bottom: 5px;
//  text-transform: uppercase;
//  font-size: $font-xxs;
//  color: lighten($text-mute, 10%);
//  text-align: center;
//  font-weight: bold;
//}
//
//.landing__milestone-item-desc {
//  text-align: center;
//}
//

////Logos
//.landing__logos-container {
//  padding: 32px 0;
//}
//
//.landing__logos-inner-container {
//  padding: 8px;
//  width: 100%;
//  text-align: center;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.landing__logos {
//  max-width: 40%;
//}
//
//.landing__logos__nicfi {
//  margin-top: 5px;
//  margin-left: 15px;
//  max-width: 10%;
//}
//
//// About
//
//.landing__about-text {
//  line-height: 1.75;
//  margin-bottom: 24px;
//}
//
//// Recent Activity
//
//.landing__activity-item {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  padding: 10px 0;
//  margin: 0 8px;
//  word-break: break-word;
//  width: 100%;
//
//  .link.disabled {
//    color: $text-body;
//    pointer-events: none;
//  }
//}
//
//.landing__activity-item:not(:first-of-type) {
//  border-top: 1px solid $ui-border-light;
//}
//
//.landing__activity-avatar {
//  flex-shrink: 0;
//  border-radius: 100%;
//  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
//  height: 28px;
//  width: 28px;
//  margin-right: 12px;
//}
//
//.landing__activity-name {
//  span,
//  strong {
//    margin-right: 4px;
//  }
//}
//
//.landing__activity-time {
//  color: $text-mute;
//  font-size: $font-s;
//  margin-left: auto;
//  white-space: nowrap;
//}
//
//.landing__activity-empty {
//  color: $text-disabled;
//  padding: 48px;
//  text-align: center;
//}
//
//.landing__activity-empty-title {
//  color: $text-body;
//  font-weight: 700;
//  margin-top: 20px;
//}
//
//// Links
//
//.landing__link-container {
//  padding: 20px 40px;
//  border: 1px solid $ui-border-light;
//  background-color: #f8f8f8;
//  margin: 12px 1%;
//  flex: 0 1 31%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  position: relative;
//
//  a {
//    background-color: transparent;
//    line-height: 20px;
//    text-align: center;
//    text-decoration: none;
//    transition: all 0.1s ease-out;
//    font-weight: bold;
//    color: $text-mute;
//
//    &:hover {
//      color: $ui-accent;
//    }
//  }
//}
//
//.landing__btn-remove-file {
//  position: absolute;
//  top: 0;
//  right: 0;
//  background-color: transparent;
//  padding: 4px;
//  border-color: $ui-border-light;
//  border-top: none !important;
//  border-right: none !important;
//  border-radius: 0 !important;
//  margin: 0;
//
//  &:hover {
//    background-color: rgba(208, 2, 27, 0.1);
//  }
//}
//
//.landing__repository-header {
//  @extend .landing__page-container-header;
//  margin-top: 24px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//
//  button {
//    margin-left: 12px;
//  }
//}
//
//// Table
//
//.landing__table {
//  border-collapse: collapse;
//  line-height: 20px;
//  width: 100%;
//
//  td,
//  th {
//    padding: 10px 20px 10px 0;
//    text-align: left;
//    vertical-align: top;
//
//    &:last-child {
//      padding-right: 0;
//    }
//  }
//
//  th {
//    font-size: $font-l;
//    color: $text-heading;
//  }
//
//  td {
//    font-size: $font-m;
//    border-top: 1px solid $ui-border-light;
//  }
//}
//
//// List
//
//.landing__list {
//  list-style: none;
//  margin: 0 0 24px 0;
//  padding: 0;
//}
//
//.landing__list-heading {
//  margin-bottom: 12px;
//}
//
//.landing__list-item {
//  margin: 4px 0;
//}
//
//.landing__list-item-year {
//  margin-right: 16px;
//  font-weight: 700;
//}
//
//// Block
//
//.landing__block {
//  p {
//    margin: 12px 0;
//  }
//}
//
//.landing__block-heading {
//  margin-bottom: 12px;
//}
//
//// Misc
//
//.landing__version {
//  color: $text-disabled;
//  font-size: $font-xs;
//  margin-top: 32px;
//  width: 100%;
//  text-align: center;
//}
