.invitation-privacy-notice {
  max-width: 620px;
  text-align: center;
}

.invitation-privacy-notice__link {
  a {
    color: inherit;
    font: inherit;
    text-decoration: underline;
  }
}

.invitation-privacy-notice__divider {
  max-width: 460px;
  width: 100%;
}
