@import 'src/client/style/partials';

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;

  img {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
