@import 'src/client/style/partials';

$border: 1px dotted $ui-border;

.dashboard {
  background-color: $ui-bg-light;
  border-left: $border;
  border-radius: 2px;
  border-right: $border;
  border-top: $border;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;

  @include min-width($laptop) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: $spacing-s;

    > .dashboard-item:nth-child(odd) {
      border-right: $border;
    }
  }
}

@include rtl {
  .dashboard {
    @include min-width($laptop) {
      > .dashboard-item:nth-child(odd) {
        border-left: $border;
        border-right: unset;
      }
    }
  }
}

.dashboard-item {
  align-content: start;
  align-items: start;
  display: grid;
  overflow: hidden;
  padding: $spacing-xs $spacing-s;
  border-bottom: $border;

  .header {
    h3 {
      font-size: $font-m + 1px;
    }
  }

  > :nth-child(2) {
    overflow: hidden;
  }

  table {
    table-layout: fixed;
  }

  td,
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include min-width($laptop) {
    grid-row-gap: $spacing-xs;
  }
}
