@import 'src/client/style/partials';

.geo-map-menu-layer-opacity-input-container {
  display: flex;
  margin: auto auto auto 5px;
  width: 120px;
  justify-content: space-between;
  > div {
    height: 100%;
    vertical-align: middle;
  }
  .geo-map-menu-layer-opacity-input {
    flex: 1;
    margin-left: 0px;
  }

  .geo-map-menu-opacity-percentage-container {
    margin-left: 15px;
    width: 10px;
  }

  input {
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  small {
    height: 100%;
    vertical-align: middle;
    font-size: normal;
    font-weight: bold;
  }
}
