@import 'src/client/style/partials';

.data-source__relative-cell {
  position: relative;

  .data-source__delete-button {
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    border: 0;
    align-items: center;

    background-color: transparent;
    background-color: transparent;

    svg {
      color: $ui-destructive;
    }
  }
}
