@import 'src/client/style/partials';

.nav-base {
  background-color: var(--ui-bg);
  box-shadow: 0px -1px 4px 1px $ui-border;
}

.nav {
  @extend .nav-base;
  grid-area: navigation;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 8px 0;

  .nav__bulk-download {
    margin-left: 16px;
    margin-top: 24px;
  }
}

.nav__divider {
  height: 1px;
  background-color: $ui-border;
  margin: 8px 0;
}

.nav__scroll-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 64px);
  padding-top: 8px;
  padding-bottom: 8px;
}

// Basic link item

.nav__link {
  @include mixin-nav-secondary-base(12px, true);
}

.nav__link-label {
  font-weight: 700;
}

.nav__link-count {
  color: $text-mute;
  margin-left: 8px;
}

.nav__link-status-content {
  @include mixin-status-content-base;
}
