@import 'src/client/style/partials';

.input-text {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  padding: $spacing-xxs;
  position: relative;
  text-align: inherit;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $text-disabled;
  }

  &.disabled {
    cursor: default;
  }
}
