@import 'src/client/style/partials';

.section__title {
  margin-bottom: $spacing-xs;

}

.section__title__header {
    display: flex;
    align-items: center;
    gap: $spacing-xxxs;
    margin-bottom: $spacing-xxxs;
}
