@use 'sass:color';

@use 'src/client/style/partials' as *;

div.description-title {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: $spacing-xxxxs 0px;

  &.editable {
    gap: $spacing-xxxs;
  }
}

.description-title__btn-edit {
  color: color.adjust($ui-accent, $lightness: -2%, $space: hsl);
  padding: 0 $spacing-xxs;
  white-space: nowrap;

  &:hover {
    color: color.adjust($ui-accent, $lightness: -6%, $space: hsl);
  }
}
