@import (reference) '../../app-styles/config';
@import (reference) '../../app-styles/buttons';

.edit-user__form-item {
  display: flex;
  padding: 10px;
  height: 60px;
}

.edit-user__form-label {
  flex: 0 1 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: @font-xxs;
  color: lighten(@text-mute, 10%);;
}

.edit-user__form-field {
  position: relative;
  border: @ui-thin-border;
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
}

.edit-user__form-field-disabled {
  .edit-user__form-field;
  color: @text-disabled;
}

.edit-user__form-item-picture {
  .edit-user__form-item;
  height: auto;

  .edit-user__form-field {
    border: none;
  }

  .btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.edit-user__picture-img {
  border-radius: 100%;
  width: 85px;
  height: 85px;
}

.edit-user__form-item-buttons {
  .edit-user__form-item;
  margin-top: 20px;
  height: auto;
}

.edit-user__form-field-buttons {
  .edit-user__form-field;
  border: none;
  .btn {
    min-width: 80px;
    margin: 0 6px;
  }
}

.edit-user__form-item-roles {
  .edit-user__form-item;
  height: auto;
}

.edit-user__form-field-roles {
  .edit-user__form-field;
  flex-direction: column;
  border: none;
}

.edit-user__form-field-role {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;

  .role {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 6px;
  }
}

.edit-user__form-field-role-countries {
  .edit-user__form-field-role;
  flex-wrap: wrap;
  padding-right: 30px;
  position: relative;

  div {
    margin: 0 5px 5px 0;
  }
}

.edit-user__form-field-country-selector {
  cursor: pointer;
  display: flex;
  padding: 5px;
  align-items: center;

  .fra-checkbox {
    margin-left: 4px;
  }
}

.edit-user__form-field-country-box {
  border: @ui-thin-border;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: lighten(@ui-bg, 1%);
  color: darken(@text-disabled, 15%);
}

.edit-user__form-field-country-selection {
  display: flex;
  flex-wrap: wrap;
}
