.home-user-actions {
  align-items: center;
  display: flex;
  gap: 8px;
  grid-column: 2;
  justify-self: flex-start;

  .hr {
    width: 1px;
    height: 16px;
  }

  .btn-message-count {
    padding-top: 10px;
  }
}
