@import 'src/client/style/partials';

.cycle-switcher {
  border: unset;
  background-color: unset;
  font-weight: inherit;
  color: inherit;
  outline: unset;
  font-size: $font-xxl;

  .popover-control__wrapper {
    .app-header__menu-item {
      padding: 20px 0px;
    }

    .popover-control__item {
      font-size: $font-m;
    }
  }
}
