@import 'src/client/style/partials';

.nav-geo-section {
  display: grid;
  padding: $spacing-xs 0;
  transition: all 0.1s ease;

  &.expanded {
    background-color: rgba($ui-bg, 0.9);
    border-radius: $spacing-xxxxs;
  }
}

.nav-geo-section__header {
  display: grid;
  justify-items: center;

  button.button {
    height: 36px;
  }
}

.nav-geo-section__content {
  display: grid;
  grid-row-gap: $spacing-xxs;

  &.hidden {
    max-height: 0;
    transition: max-height 0.15s ease-out;
  }

  &.visible {
    padding: $spacing-xs $spacing-xs 0;
    transition: max-height 0.25s ease-out;
  }
}

.nav-geo-section__label {
  padding-left: $spacing-xs;
  font-size: $font-m;
  text-transform: uppercase;
}
