@use 'sass:color';

@import 'src/client/styles/config';
@import 'src/client/styles/buttons';

.definition-link {
  @extend .link;
  color: color.adjust($ui-accent, $lightness: -2%, $space: hsl);
  white-space: nowrap;

  &:hover {
    color: color.adjust($ui-accent, $lightness: -4%, $space: hsl);
  }
}
