@use 'sass:color';
@import 'client/styles/config';
@import 'client/styles/buttons';

.definition-link {
  @extend .link;
  color: color.adjust($ui-accent, $lightness: 2%);
  white-space: nowrap;

  &:hover {
    color: color.adjust($ui-accent, $lightness: 4%);
  }
}
