@import "src/client/styles/config";
@import "src/client/styles/buttons";

.definition-link {
  @extend .link;
  color: darken($ui-accent, 2%);
  white-space: nowrap;

  &:hover {
    color: darken($ui-accent, 4%);
  }
}
