@import 'src/client/style/partials';

.assessment-section {
  align-content: start;
  display: grid;

  .justify_start {
    justify-self: start;
  }

  &.section__sustainableDevelopment {
    .subhead {
      margin-bottom: $spacing-xs;
    }

    .fra-secondary-table__wrapper {
      width: 100%;
    }
  }
}
