@import 'src/client/style/partials';

.assessment-section {
  align-content: start;
  display: grid;

  .justify_start {
    justify-self: start;
  }

  &.section__degradedForest {
    .fra-table {
      tr:nth-child(2) {
        th:first-child {
          min-width: 72px;
        }
      }
    }
  }

  &.section__sustainableDevelopment {
    .subhead {
      margin-bottom: $spacing-xs;
    }

    .fra-secondary-table__wrapper {
      width: 100%;

      .fra-table__header-cell-left {
        width: 25%;
      }
    }
  }
}
