@import 'src/client/style/partials';

.repository-form__input-field {
  display: grid;
  grid-gap: $spacing-xxs;
  grid-template-columns: 1fr;
}

.repository-form__input {
  border-radius: $spacing-xxxs;
  border: $ui-thin-border;
  padding: $spacing-xxs;
}

.repository-form__label {
  font-weight: 700;
}

.repository-form__error {
  min-height: 20px;
}

.error {
  label.repository-form__label {
    color: $ui-destructive;
    &::after {
      content: '*';
      color: $ui-destructive;
    }
  }

  .repository-form__input {
    border-color: $ui-destructive;
  }

  .repository-form__error {
    color: $ui-destructive;
    font-style: italic;
    font-size: $font-s;
  }
}
