@use 'src/client/style/partials' as *;

.status-filter {
  position: relative;
}

.status-filter__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-xxxs;
  padding: $spacing-xxs;
  background-color: white;
  border-radius: 2px;
  box-shadow: $shadow-3;
  z-index: $z-index-popover;
  white-space: nowrap;
}
