@use 'src/client/style/partials' as *;

.status-filter {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.status-filter__clear {
  margin-left: $spacing-xxxs;
  margin-top: -2px;
}

.status-filter__menu {
  position: absolute;
  background-color: white;
  border: 1px solid $ui-border;
  border-radius: 2px;
  box-shadow: $shadow-3;
  z-index: $z-index-popover;
}

.status-filter__option {
  cursor: pointer;
  padding: $spacing-xxs;
  white-space: nowrap;

  &:hover {
    background-color: $ui-option-hover;
  }

  &.selected {
    color: $text-body;
    font-weight: 600;
  }
}
