@import 'src/client/style/partials';

.geo-recipe-selector {
  background-color: $ui-bg-hover;
}

.geo-recipe-selector__container {
  width: 100%;
}

.geo-recipe-selector__label {
  display: inline-block;
  margin-bottom: $spacing-xxs;
}
