@import 'src/client/style/partials';

.explorer-filters {
  align-items: center;
  column-gap: $spacing-xxs;
  display: grid;
  grid-auto-rows: 30px;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  row-gap: $spacing-xxxxs;
  width: min-content;
  z-index: $z-index-explorer-filters; // Needed to show selectors above result grid sticky headers
}

.explorer-filters__multiselect {
  width: 235px;
}
