@import 'src/client/style/partials';

.toolbar-options {
  align-items: center;
  display: flex;
  gap: $spacing-xs;
  height: 100%;
  margin-left: auto;
  padding: 0 $spacing-xs;

  &.geoRoute {
    background-color: $ui-black-map;
    outline: 1px solid $ui-black-map;

    .button:not(.inverse) {
      border-color: $ui-border;
    }
  }
}
