.footer__container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.footer__autosave-status {
  font-style: italic;
  color: #666666;
}
