@import "../app-styles/config";

.footer__container {
  background: white;
  position: fixed;
  bottom: 0;
  left: 256px;
  display: flex;
  justify-content: space-between;
  padding: 9px 32px;
  border-top: @ui-thin-border;
}

.footer__item {
  color: @text-mute;
}

.footer__autosave-status {
  font-style: italic;
}

.footer__user-control {
  position: relative;
}

.footer__user-control-opened {
  width: 114px;
  position: absolute;
  top: -48px;
  text-align: right;
  right: -1px;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
