@import 'src/client/style/partials';

.nav-desktop {
  overflow-y: auto;
  padding: $spacing-xxs 0;
  position: sticky;
  top: 50px;
  transition: all 0.1s ease-out;

  &.geoRoute {
    background-color: rgba($ui-bg, 0.1);
    border-bottom-right-radius: $spacing-xxxxs;
    border-right: unset;
    box-shadow: 0 0 1px 1px rgba($ui-black-map, 0.1);
    height: auto;
    left: 0;
    padding: $spacing-xs;
    position: fixed;
    top: $ui-app-header-height + $ui-app-area-select-height;
    white-space: nowrap;
    width: auto;
    z-index: $z-index-geo-menu-layers;

    &.expanded {
      width: $ui-app-navigation-width;
    }
  }
}
