@use 'sass:color';

.kiosk-latest-activities__list-item {
  display: grid;
  padding: 0.5dvh 0;
  transition: all 0.1s ease;

  &.expanded {
    background-color: rgba(white, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(#07090a, 0.5);
  }
}

.kiosk-latest-activities__list-item-content {
  color: black;
  display: grid;
  font-size: min(1dvw, 1.6dvh);
  line-height: 1.5;

  &.expanded {
    padding: min(0.9dvw, 1.5dvh) min(0.9dvw, 1.5dvh);
    transition: max-height 0.25s ease-out;
  }

  &:not(.expanded) {
    max-height: 0;
    transition: max-height 0.15s ease-out;
  }
}

.kiosk-latest-activities__list-item-header {
  display: grid;
  justify-items: center;

  button.button.inverse {
    background-color: rgba(white, 0.85);

    &:hover {
      background-color: white;
    }
  }
}

.kiosk-latest-activities__list-item-button {
  background-color: #5aa955;
  border-radius: 10px;
  display: flex;
  font-size: min(0.89dvw, 1.5dvh);
  justify-content: center;
  line-height: unset;
  min-height: 4dvh;
  padding: min(0.6dvw, 0.85dvh);
  width: 75%;

  &:hover {
    background-color: color.adjust(#ef7a2d, $lightness: 5%, $space: hsl);
  }
}
