@import 'src/client/style/partials';

.user-invitations {
  display: flex;
  flex-direction: column;

  .btn-invite {
    margin: $spacing-xs 0 $spacing-xs auto;
  }

  .data-grid-column {
    display: flex;
    align-items: center;
  }

  .invitation {
    color: $text-mute;
    font-style: italic;
  }

  .expired {
    color: lighten($ui-destructive, 40%);
  }
}
