@use 'src/client/style/partials' as *;

.button-checkbox {
  $colorPrimary: $ui-accent;
  $colorSecondary: white;
  line-height: 1.4;
  text-align: left;

  svg {
    color: $colorSecondary;
    border: 1px solid $colorSecondary;
  }

  &.inverse {
    svg {
      color: $colorSecondary;
      border-color: $colorPrimary;
    }

    &:hover {
      svg {
        color: $colorPrimary;
      }
    }
  }

  &.button__type-black.inverse {
    svg {
      border-color: $ui-black-map;
    }

    &:hover {
      svg {
        color: $ui-black-map;
      }
    }
  }

  &.variant-checkbox {
    background-color: transparent;
    border: unset;
    color: $text-body;
    font-size: $font-s;
    font-weight: 400;
    justify-content: center;
    padding: unset;
    text-transform: unset;

    svg {
      background-color: $ui-accent;
      border: 1px solid $ui-accent;
      height: 14px;
      width: 14px;
    }

    &.inverse {
      background-color: transparent;
      color: $text-body;

      svg {
        border-color: $ui-border-dark;
        background-color: transparent;
      }
    }
  }

  &.variant-form {
    height: 22px;
    min-height: 22px;
    width: 22px;
    justify-content: center;
    padding: unset;
    border: 1px dotted $ui-edit-border-color;

    svg {
      height: 14px;
      width: 14px;
      border: unset;
    }

    &.inverse {
      background-color: transparent;
    }
  }
}

$lds-size: 12px;

.lds-ripple {
  display: inline-block;
  position: relative;
  width: $lds-size;
  height: $lds-size;
}

.lds-ripple div {
  position: absolute;
  border: 2px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: #{$lds-size * 0.45}; // 0.45
    left: #{$lds-size * 0.45};
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: #{$lds-size * 0.45};
    left: #{$lds-size * 0.45};
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: #{$lds-size * 0.45};
    left: #{$lds-size * 0.45};
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: #{$lds-size * 0.84}; // 0.84
    height: #{$lds-size * 0.84};
    opacity: 0;
  }
}

@include rtl {
  .button-checkbox {
    text-align: right;
  }
}
