@import 'src/client/style/partials';

div.description-title {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: $spacing-xxxxs 0px;

  &.editable {
    gap: $spacing-xxxs;
  }
}

.description-title__btn-edit {
  color: darken($ui-accent, 2%);
  padding: 0 $spacing-xxs;
  white-space: nowrap;

  &:hover {
    color: darken($ui-accent, 6%);
  }
}
