@use 'src/client/style/partials' as *;

.table-grid__data-cell-flag-original-value {
  display: flex;
  align-items: center;

  svg.icon {
    color: $text-body;
    height: 8px;
    width: 8px;
  }
}
