review_env_vars = {
  APP_VERSION                = ""
  AWS_ACCESS_KEY_ID          = ""
  AWS_REGION                 = ""
  AWS_SECRET_ACCESS_KEY      = ""
  FRA_GOOGLE_API             = ""
  FRA_GOOGLE_CLIENT_ID       = ""
  FRA_GOOGLE_CLIENT_SECRET   = ""
  FRA_GOOGLE_MAPS_API_KEY    = ""
  GEE_PRIVATE_KEY            = ""
  INVITATION_EXPIRY_DAYS     = ""
  KIOSK_ACTIVITIES_SHEET_URL = ""
  LOG_LEVEL                  = ""
  NPM_CONFIG_PRODUCTION      = ""
  PG_MAX_CONNECTIONS         = ""
  S3_BUCKET_NAME             = ""
  SEPAL_PASSWORD             = ""
  SEPAL_USER                 = ""
  WEB_MEMORY                 = ""
}
