@import 'src/client/style/partials';

.input-range {
  align-items: center;
  display: flex;
  justify-content: space-between;

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  $track-height: 6px;
  $thumb-height: 16px;
  /***** Track Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(90deg, $ui-accent var(--percentage), white var(--percentage));
    border-radius: 2px;
    height: $track-height;
  }
  /******** Firefox ********/
  input[type='range']::-moz-range-track {
    background-image: linear-gradient(90deg, $ui-accent var(--percentage), white var(--percentage));
    border-radius: 2px;
    height: $track-height;
  }

  /***** Thumb Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: white;
    border-radius: 2px;
    border: 5px solid $ui-accent;
    height: $thumb-height;
    margin-top: ($track-height/2)- ($thumb-height/2);
    width: $thumb-height;
  }
  /***** Firefox *****/
  input[type='range']::-moz-range-thumb {
    background-color: white;
    border-radius: 2px;
    border: 5px solid $ui-accent;
    height: $thumb-height;
    width: $thumb-height;
  }

  /***** Focus Styles *****/
  /* Removes default focus */
  input[type='range']:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type='range']:focus::-webkit-slider-thumb {
    border: 5px solid lighten($ui-accent, 8%);
    outline-offset: 2px;
    outline: 1px dashed $ui-accent;
  }

  /******** Firefox ********/
  input[type='range']:focus::-moz-range-thumb {
    border: 5px solid lighten($ui-accent, 8%);
    outline-offset: 2px;
    outline: 1px dashed $ui-accent;
  }
}

.input-range-value {
  color: $text-mute;
  font-size: $font-xxs;
  font-weight: 600;
  margin-left: $spacing-xxs;
  text-transform: uppercase;
  white-space: nowrap;
}
