@import 'src/client/style/partials';

.locations {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-xxs;
}

.locations-count {
  display: flex;
  gap: $spacing-xxs;
}

.locations-link {
  align-items: center;
  color: $text-body;
  display: grid;
  grid-column-gap: $spacing-xxxs;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  justify-items: start;
  text-decoration: none;
  width: min-content;

  &:hover {
    text-decoration: underline;

    svg {
      color: $ui-accent;
    }
  }
}
