@import 'src/client/style/partials';

.locations {
  min-width: 240px;
  white-space: normal;
  padding-left: $spacing-s;

  li:not(:last-child) {
    margin-bottom: $spacing-xxs;
  }
}

.locations-count {
  display: flex;
  gap: $spacing-xxs;
}

.locations-link {
  align-items: center;
  color: $text-body;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
