@import 'src/client/style/partials';

.locations {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-xxs;
  min-width: 240px;
  white-space: normal;
}

.locations-count {
  display: flex;
  gap: $spacing-xxs;
}

.locations-link {
  align-items: center;
  color: $text-body;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
