@import 'client/style/partials';

.review-indicator {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  width: 32px;
  svg {
    color: $text-disabled;
    &:hover {
      height: $font-xl;
      width: $font-xl;
      color: $text-body;
      transition: all .1s ease-out;
    }
  }
  &.open {
    svg {
      color: $ui-accent;
    }
  }
  &.resolved {
    svg {
      color: $text-disabled;
    }
  }
  &.unread {
    svg {
      color: $ui-alert;
    }
  }
}
