@import 'client/style/partials';

.review-indicator {
  background: none;
  border: none;
  padding: 0;
  align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 32px;
  svg {
    color: $text-disabled;
    &:hover {
      height: $font-xl;
      width: $font-xl;
      color: $text-body;
      transition: all .1s ease-out;
    }
  }
}
