@import 'src/client/style/partials';

.table-paginated-paginator {
  display: flex;
  list-style: none;
  justify-items: center;
  justify-self: center;
  padding: 6px 5px;
  border: 1px solid $ui-border-light;
  margin: 0;

  li {
    margin: 0 1px;
    border-radius: 2px;
    font-size: $font-xs;
    transition: all 0.2s;

    &.disabled {
      &:hover {
        background-color: darken($ui-bg, 4%);
      }
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      background-color: darken($ui-bg, 4%);
    }

    &.selected {
      background-color: $ui-accent-light;

      a {
        color: $ui-accent;
      }
    }

    a {
      cursor: pointer;
      height: 32px;
      width: 36px;
      display: grid;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 600;
      color: $text-disabled;
    }
  }
}
