@import (reference) 'webapp/main/styles/config';

.results-table {
  position: relative;

  .copyright {
    text-align: left;
  }

  .select-s {
    border: unset;
    color: @text-body;
    font-weight: 600;
    font-size: @font-s;
  }

  .timestamp {
    opacity: 0;
  }
}
