@import 'src/client/style/partials';

.navM {
  background-color: var(--ui-bg);
  border-bottom-left-radius: $spacing-xxs;
  border-bottom-right-radius: $spacing-xxs;
  box-shadow: 0 0 2px rgba($text-heading, 0.8);
  display: grid;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding: $spacing-s $spacing-xs;
  position: fixed;
  top: 0;
  transform: translateX(-120vw);
  transition: all 0.25s ease-in;
  width: 100vw;
  z-index: $z-index-popover;

  * {
    opacity: 0;
    transition-delay: 0.25s;
  }

  &.open {
    transform: translateX(0);

    * {
      opacity: 1;
    }
  }
}

.nav-mobile__assessment-container {
  padding: $spacing-xxs 0;
}

button.navM__btnClose {
  align-items: center;
  background-color: transparent;
  border: unset;
  display: flex;
  justify-content: center;
  padding: $spacing-xxxs;
  position: absolute;
  right: $spacing-xxs;
  top: $spacing-xxs;
  z-index: 1;

  .icon {
    margin: unset;
  }
}
