@import 'src/client/style/partials';

.measure-title {
  align-items: center;
  display: flex;
  gap: $spacing-xxs;
  justify-content: space-around;

  .select-primary__container {
    min-width: 120px;
  }
}
