@import 'src/client/style/partials';

.measure-title {
  align-items: center;
  display: flex;
  gap: $spacing-xxs;
  justify-content: space-around;
}

.measure-unit {
  display: inline-block;
  white-space: nowrap;
  width: auto;
}
