@import 'src/client/style/partials';

.edit-user__form-field {
  &.edit-user__form-select-field {
    display: block;

    &.error {
      .select__container {
        background-color: rgba($ui-destructive, 0.1) !important;

        input {
          background-color: transparent !important;
        }
      }
    }
  }
}
