@import 'src/client/style/partials';

.edit-user__form-field {
  &.edit-user__form-select-field {
    gap: $spacing-xs;

    select {
      border: none;
      width: 100%;
      padding: 10px;
    }
  }

  &.error {
    select {
      background-color: rgba($ui-destructive, 0.1) !important;
    }
  }
}
