@use 'src/client/style/partials' as *;

.export {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: $spacing-xl;

  @include min-width($laptop) {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-s;
  }
}

.export__form {
  display: grid;
  grid-row-gap: $spacing-xs;
  position: sticky;
  left: 0;
  flex: 1 100%;
  z-index: $z-index-explorer-filters;

  @include min-width($laptop) {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: unset;
    overflow-y: hidden;
  }
}

.export__form-section {
  display: grid;
  grid-auto-rows: 30px;
  grid-row-gap: $spacing-xxxs;
  position: relative;

  @include min-width($laptop) {
    grid-auto-rows: unset;
    grid-row-gap: unset;
    grid-template-rows: 60px 1px 1fr;
    overflow: hidden;
  }

  &:not(:last-child) {
    @include min-width($laptop) {
      border-right: 1px solid $ui-border-light;
    }
  }

  .divider {
    display: none;
    margin: 0;
    border-bottom: 1px solid $ui-border-light;

    @include min-width($laptop) {
      display: block;
    }
  }
  .country-multiselect__container {
    min-width: 100%;
  }
}

.export__form-section-header {
  display: grid;
  align-items: center;
  grid-column-gap: $spacing-xxs;

  @include min-width($laptop) {
    justify-content: center;
    align-content: space-between;
    grid-row-gap: $spacing-xxs;
  }

  .btn-all {
    padding: 0;
  }

  &.select-all {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    @include min-width($laptop) {
      justify-items: start;
      grid-template-columns: 1fr;
      padding-left: $spacing-xxs;

      .title-container {
        justify-self: center;
      }
    }
  }

  &.select-all.search {
    grid-template-columns: repeat(3, auto);
    justify-content: stretch;

    @include min-width($laptop) {
      grid-template-columns: 1fr auto 1fr;
      grid-row-gap: 0;
      justify-items: start;
      padding-left: $spacing-xxs;

      .title-container {
        grid-column: 2;
        justify-self: center;
      }

      :nth-child(2) {
        grid-column: 3;
      }

      :nth-child(3) {
        grid-column: 1 / -1;
      }
    }
  }
}

.title-container {
  align-items: center;
  display: flex;
  gap: $spacing-xxs;
}

.export__form-section-variables {
  display: grid;
  align-items: start;
  align-content: start;
  justify-items: start;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;

  @include min-width($laptop) {
    padding-left: $spacing-xxs;
  }
}
