@import 'src/client/style/_partials/_config';

@mixin mixin-input-base() {
  background-color: transparent;
  border: $ui-thin-border;
  border-radius: 2px;
  color: $text-body;
  line-height: 20px;

  &:focus {
    outline: none;
    border-color: $text-body;
  }
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.text-input {
  @include mixin-input-base;
  font-size: $font-m;
  padding: 7px 9px;
}

.text-input-s {
  @include mixin-input-base;
  font-size: $font-s;
  padding: 3px 7px;
}
