@import 'src/client/styles/config';
@import 'src/client/styles/form';
@import 'src/client/styles/inputMixins';
@import 'src/client/styles/fraValidation';

// Mixins

@mixin mixin-table-cell($fontWeight, $align, $padding, $cell: false) {
  border: $ui-thin-border;
  font-weight: $fontWeight;
  padding: $padding;
  text-align: $align;

  @if $cell == true {
    white-space: nowrap;
    min-width: 72px;
    position: relative;
  }
}

.fra-table__container {
  display: grid;
  position: relative;
  margin-bottom: 28px;
}

.fra-table {
  border-collapse: collapse;
  font-size: $font-s;
  line-height: 19px;
  width: 100%;
}

// Cells

.fra-table {
  th {
    background-color: rgba(0, 0, 0, 0.04);
  }

  tbody {
    th {
      min-width: 160px;
      max-width: 240px;
    }
  }
}

.fra-secondary-table__wrapper {
  th {
    background-color: white;
  }
}

.fra-table__header-cell {
  @include mixin-table-cell(600, center, 10px);
}

.fra-table__header-cell-left {
  @include mixin-table-cell(600, left, 10px);
}

.fra-table__category-cell {
  @include mixin-table-cell(400, left, 10px);

  .link {
    font-weight: 600;
  }
}

.fra-table__category-cell-right {
  @include mixin-table-cell(400, right, 10px);
}

.fra-table__subcategory1-cell {
  @include mixin-table-cell(400, left, 10px 10px 10px 20px);
  font-size: $font-xs;
  color: $text-mute;
}

.fra-table__subcategory2-cell {
  @include mixin-table-cell(400, left, 10px 10px 10px 32px);
  font-size: $font-xs;
  color: $text-mute;
}

.fra-table__cell {
  @include mixin-table-cell(400, right, 0, true);
}

.fra-table__cell-left {
  @include mixin-table-cell(400, left, 0, true);
}

.fra-table__calculated-cell {
  @include mixin-table-cell(600, right, 10px, true);
  cursor: default;

  &:empty:after {
    content: '\2212';
    color: $text-disabled;
    font-weight: 400;
    padding-right: 2px;
  }

  &.error {
    @include mixin-validation-error;
  }
}

.fra-table__calculated-sub-cell {
  @include mixin-table-cell(400, right, 10px, true);
  cursor: default;
}

// Helper cells

.fra-table__filler-first {
  border-right: none;
  border-bottom: 1px solid $ui-border;
  background-color: $ui-bg;
}

.fra-table__filler {
  border-right: none;
  border-bottom: 1px solid $ui-border;
  background-color: $ui-bg;
}

.fra-table__filler-last {
  border-bottom: 1px solid $ui-border;
  border-right: 1px solid $ui-border;
  background-color: $ui-bg;
}

.fra-table__row-anchor-cell {
  padding: 0;
  width: 1px;
  vertical-align: top;
}

.fra-table__review-indicator-anchor {
  position: absolute;
  right: 0;
}

.fra-table__review-cell {
  width: 32px;
}

.fra-table__hidden-cell {
  display: none;
}

.fra-table__divider {
  border-right: 3px double $ui-border;
}

// Select cell
.fra-table__select-container {
  @include mixin-input-container;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fra-table__select {
  @include mixin-select-base(10px, none, 0);
  font-size: $font-s;
  height: 100%;
  min-width: 100%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $text-body;
  }

  &:disabled {
    background-image: none;
    cursor: default;
  }
}

// Header button

.fra-table {
  .fra-table__header-button {
    line-height: 16px;
    vertical-align: inherit;
    margin-left: 8px;
  }
}

.fra-table__notice-message-cell {
  .message {
    padding: 8px 4px;
    vertical-align: top;
  }
}

// Validation

.fra-table__validation-cell {
  padding: 0;
  vertical-align: top;
}

.fra-table__validation-container {
  padding-top: 4px;
  min-width: 100%;
  width: 1px;

  &:empty {
    padding: 0;
  }
}

.fra-table__validation-error {
  color: $ui-destructive;
  font-size: $font-xs;
  line-height: 18px;
  margin: 8px;
  word-wrap: break-word;
}

// fra secondary table
.fra-secondary-table__wrapper {
  margin-top: 16px;
  width: 50%;
  min-width: 320px;

  table {
    table-layout: fixed;
  }
}

.fra-secondary-table__heading-cell {
  @include mixin-table-cell(600, left, 10px);
}
