@import 'src/client/styles/config';

@mixin mixin-icon-base() {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  fill: currentColor;
  stroke: none;

  use {
    fill: inherit;
  }
}

.icon {
  @include mixin-icon-base;
  height: 16px;
  width: 16px;
}

.icon-24 {
  @include mixin-icon-base;
  height: 24px;
  width: 24px;
}

.icon-middle {
  vertical-align: middle;
  position: relative;
}

.icon-sub {
  vertical-align: sub;
  position: relative;
}

.icon-no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.icon-margin {
  margin-left: 4px;
  margin-right: 4px;
}

.icon-margin-right {
  margin-right: 4px;
}

.icon-margin-left {
  margin-left: 4px;
}

.icon-white {
  color: white;
}

.icon-red {
  color: $ui-destructive;
}

.icon-orange {
  color: $ui-alert;
}

.icon-geo {
  @include mixin-icon-base;
  filter: invert(98%);
}

svg.icon_hit-down {
  transform: rotate(180deg);
}
