// RTL Configuration (for arabic)
.rtl {
  direction: rtl;
  .app-header__menu {
    justify-self: left !important;
  }

  .statistical-factsheets .fra-table tbody th,
  .text-input__input-field,
  .text-input__readonly-view,
  .fra-table__category-cell,
  .fra-table__subcategory-cell,
  .fra-table__header-cell-left,
  .fra-table__cell-left,
  .user-list__cell,
  .btn-country-select,
  .user-list__header-cell {
    text-align: right;
  }

  .landing__btn-download {
    margin-right: 12px;
  }

  // faq/definition links
  .app-view__section-toolbar {
    justify-content: initial;
  }

  .fra-table__btn-export {
    right: initial;
    left: 1px;
  }

  .definition-link.align-left.no-print {
    margin: initial;
  }

  .app-view__page-header > h1.title.align-left {
    margin-right: initial;
    margin-left: auto;
  }

  .toolbar__country .flag,
  .country-selection-list__row .status-editing {
    margin-right: initial;
    margin-left: 8px;
  }

  .icon-margin-right,
  .landing__activity-name span,
  .landing__activity-name strong,
  .chart__legend-item-color {
    margin-right: initial;
    margin-left: 4px;
  }

  .icon-margin-left {
    margin-right: 4px;
    margin-left: initial;
  }

  .nav-header__btn-toggle-sections {
    justify-self: left;
  }
  .country-selection-list__row .status-accepted {
    margin-right: initial;
    margin-left: 8px;
  }

  .fra-review__header-close-btn {
    right: initial;
    left: 14px;
  }

  .country-select__select-label {
    margin-right: initial;
    margin-left: 32px;
  }

  .btn-checkbox .fra-checkbox {
    margin-left: 8px;
    margin-right: initial;
  }

  .btn-s.btn-primary.nav__bulk-download {
    margin-right: 16px;
    margin-left: initial;
  }

  footer .copyright {
    right: initial;
    left: 24px;
  }

  .multi-select__opened-item-label {
    margin-right: 6px;
    margin-left: initial;
  }

  .edit-user__form-label {
    padding-right: initial;
    padding-left: 14px;
  }

  .edit-user__form-item-picture.btn,
  .country-selection-list {
    right: 0;
  }
  .country-selection-list {
    min-width: 600px;
  }

  .country-select {
    padding: 0;
  }

  .landing__repository-header button {
    margin-left: initial;
    margin-right: 12px;
  }
  .app-header__global-fra {
    padding-right: 8px;
  }

  .select,
  .select-s,
  .fra-table__select {
    background-position: left 8px top 50%;
    padding: 0 20px;
  }

  .title-with-excel-calculator select {
    margin-right: initial;
    margin-left: 8px;
  }

  .btn.btn-primary.no-print > .icon.icon-sub.icon-white,
  .btn-s .icon {
    margin-right: initial;
    margin-left: 6px;
  }

  .nav-header__status .icon,
  .nav-section__status-content div {
    margin-left: initial;
    margin-right: 4px;
  }

  .app-view .margin-right-big {
    margin-right: initial;
    margin-left: 16px;
  }
  .landing__activity-time {
    margin-right: 4px;
  }

  .multi-select,
  .multi-select:not([disabled]) {
    background-position: left 10px top 50%;
  }

  .autosave-status {
    right: initial;
    left: 40px;
  }

  .home-area-selector .m-r {
    margin-left: 36px;
    margin-right: initial;
  }

  .fra-description__header,
  .home-area-selector > * {
    margin-right: initial;
    margin-left: 8px;
  }

  .fra-review__container,
  .fra-table__review-indicator-anchor,
  .odp__review-indicator-row-anchor {
    left: 0;
    right: initial;
  }

  .fra-review__add-issue {
    margin-right: initial;
    margin-left: -32px;
  }

  .country-selection-link-landing {
    border-right: initial;
    border-left: 1px solid #dadada;
  }

  .modal-footer .btn.btn-secondary {
    margin-right: 12px;
    margin-left: initial;
  }

  .country-select .modal-footer .btn.btn-primary {
    left: initial;
    right: -100px;
  }

  .text-end {
    text-align: left !important;
  }

  .invitation-info-box {
    left: -1px;
    right: -200%;
    text-align: right;

    .invitation-info-box-close {
      right: auto;
      left: 8px;
    }
  }
}
