// Free to use from: https://loading.io/css/ (adapted)
$spinner-margin: 0 10px 0 5px;

.loading-spinner {
  display: inline-block;
  width: 14px;
  height: 100%;
  margin: $spinner-margin;
}
.loading-spinner:after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #1798a5;
  border-color: #1798a5 transparent #1798a5 transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
