//===WARNING====
// DO NOT IMPORT SPECIFIC COMPONENT STYLES HERE,
// ONLY MORE GENERAL STUFF USED IN MANY PLACES
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import 'src/client/styles/config';
//Import all common application styles
@import 'src/client/styles/cssVars';
@import 'src/client/styles/buttons';
@import 'src/client/styles/checkbox';
@import 'src/client/styles/icon';
@import 'src/client/styles/form';
@import 'src/client/styles/fraTable';
@import 'src/client/styles/fraValidation';
@import 'src/client/styles/typography';
@import 'src/client/styles/rtl';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: $font-m;
}

body {
  color: $text-body;
  font-family: $font-family-1;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  height: 100%;
  //overflow-x: hidden;
  //overflow-y: auto;
  // Fallback for safari
  direction: ltr;
}

#main {
  //  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  color: $text-body;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-size: $font-xxl;
}

h1.title {
  font-size: $font-xxxl;
}

.headline {
  font-size: $font-xl;
}

.subhead {
  font-size: $font-l;
}

a {
  color: darken($ui-accent, 2%);
}

a:hover {
  color: darken($ui-accent, 4%);
}

hr {
  border: 0;
  border-top: 1px solid $ui-border;
  margin: 24px 0;
}

.hidden {
  display: none;
}

.notfound {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100px;
  width: 100vw;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(white, 0.8);
  z-index: $z-index-loader;

  img {
    animation: wobble 0.3s ease-in-out 0.1s;
  }
}

.no-scroll {
  overflow: hidden;
}

.only-print {
  display: none;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
