.fra-table__select-container {
  &.multiple {
    overflow: visible;
    text-align: left;
  }
  .multi-select {
    width: 100%;
  }
}

body.rtl .fra-table__select-container {
  &.multiple {
    text-align: right;
  }
}
