@import (reference) "../../app-styles/config";

.fra-sustainable-dev__content {
  .fra-table__calculated-cell {
    color: @text-disabled;
  }
}

.fra-sustainable-dev-indicator-15-1-1 {
  margin-bottom: 48px;
}

.fra-sustainable-dev-sub-indicator-table {
  margin-top: 15px;
}
