@import 'src/client/style/partials';

$toolbarHeight: $spacing-l;

.print-header {
  display: grid;
  align-items: center;
  grid-row-gap: $spacing-xxs;
  padding-top: $toolbarHeight;
}

.print-header__toolbar {
  align-items: center;
  background-color: $ui-bg;
  border-bottom: 1px solid $ui-border;
  display: grid;
  grid-column-gap: $spacing-xs;
  height: $toolbarHeight;
  justify-content: end;
  left: 0;
  padding: 0 $spacing-s;
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 1;

  &.withDownload {
    grid-template-columns: repeat(2, auto);
  }
}

@media print {
  .print-header {
    padding-top: 0;
  }

  .print-header__toolbar {
    display: none;
  }
}
