@import 'src/client/style/partials';

.geo-map-menu-mosaic-satellite-panel {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 30px 25px;

  > div {
    flex-direction: row;
    margin: 15px 0 0 0;
    height: 50px;
    justify-content: space-between;

    > div {
      display: inline-block;
      vertical-align: middle;

      > input {
        width: 200px;
        margin: 0 0 0 auto;
      }
    }
  }
}

.geo-map-menu-mosaic-satellite-panel__label {
  font-size: $font-xl;
  text-justify: left;
  width: 165px;
  font-weight: bold;
  margin: 0 auto 0 0;
  display: inline-block;
  vertical-align: middle;
}

.geo-map-menu-mosaic-satellite-panel__checkbox {
  margin-right: 5px;
}

.geo-map-menu-mosaic-btn-apply {
  width: 150px;
  margin: 40px 1px 0 auto;
}

.geo-map-menu-mosaic-satellite-error-message {
  margin-top: 0px;
  color: red;
}
