@import '_legacy_webapp/style/partials';

.app-header-link-home {
  position: absolute;
  right: $spacing-xs;
  color: $text-link;
  transition: all 0.2s;

  @include min-width($laptop) {
    position: unset;
    margin-top: $spacing-xxs / 2;
    right: unset;
  }

  svg {
    height: 22px;
  }

  &:hover {
    color: $ui-accent-dark;
  }

  &.active {
    color: $ui-accent;
    pointer-events: none;
  }
}
