@import 'src/client/style/partials';

.references-file-list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 10px;

  .file-row {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: center;
    cursor: pointer;

    button.btn-checkbox {
      justify-content: flex-start;
    }
  }
}

.repository-modal {
  .modal-header span {
    font-size: $font-s;
    font-weight: initial;
  }
}
