@import 'src/client/style/partials';

.data-source > .btn-copy-prev-values {
  margin-top: $spacing-xs;
}

.data-source-grid {
  grid-template-columns: 0.2fr 1fr 1fr repeat(3, 1fr) 0.1fr;
}

.data-source-column {
  position: relative;
  min-height: 2rem;
}

.data-source-review-indicator {
  border: none !important;
  display: flex;
  align-items: center;

  > button {
    border: 0;
    background-color: transparent;
    > svg.delete {
      color: $ui-destructive;
    }
  }
}

.data-source__delete-wrapper {
  display: flex;
  height: calc(100% + -1px);

  > button {
    border: 0;
    background-color: transparent;
  }

  > div {
    width: 100%;
  }

  textarea:focus {
    box-shadow: none;
  }

  &:focus-within {
    outline: none;
    box-shadow: 0 0 0 1px $text-body;
  }

  .jodit-container {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  .data-source__markdown-wrapper {
    padding: 10px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
