@import 'src/client/style/partials';

.data-source > .btn-copy-prev-values {
  margin-top: $spacing-xs;
}

.data-source-grid {
  grid-template-columns: 1fr 1.3fr repeat(3, 1fr) 0.1fr;
}

.data-source-column {
  position: relative;
  min-height: 2rem;
}
.data-source-review-indicator {
  border: none !important;
  align-items: flex-end;
}

.data-source__delete-wrapper {
  display: flex;
  height: calc(100% + -1px);

  > button {
    border: 0;
    background-color: transparent;
    margin-top: $spacing-xxs;
    > svg.delete {
      color: $ui-destructive;
    }
  }

  > div {
    width: 100%;
  }

  textarea:focus {
    box-shadow: none;
  }

  &:focus-within {
    outline: none;
    box-shadow: 0 0 0 1px $text-body;
  }
}
