@import 'src/client/style/partials';

.geo-container {
  display: flex;
  flex: 1;
  width: 100%;
  // min-height: 100vh - (headerHeight + toolbarHeight);
  min-height: calc(100vh - (64px + 50px));
}
