@import 'src/client/style/partials';

.geo-container {
  display: flex;
  flex: 1;
  min-height: calc(100vh - ($ui-app-header-height + $ui-app-area-select-height));
  overflow: hidden;
  position: relative;
  width: 100%;
  grid-area: content;
}
