@import '../../../style/partials';

.select {
  &__control {
    border: 0 !important;
    border-radius: 0 !important;
    min-height: 40px;
  }

  &__control--is-focused {
    // box-shadow controls the border around the input when focused
    box-shadow: 0 0 0 1px $text-link !important;
  }

  &__option--is-focused {
    background-color: $ui-accent-light;
  }

  &__option--is-selected {
    background-color: $ui-accent !important;
  }

  &__control--is-disabled {
    background-color: white !important;

    .select__indicators {
      display: none;
    }

    .select__single-value {
      color: $text-body !important;
    }
  }
}
