@import 'client/style/partials';

$border-menu: 1px solid $ui-edit-border-color;

div.select__container {
  height: 100%;
}

div.select__control {
  background-color: transparent;
  border-radius: unset;
  border: unset;
  color: $text-body;
  cursor: pointer;
  gap: $spacing-xxxs;
  height: 100%;
  padding: $spacing-xxs;

  &.isDisabled {
    align-content: start;
    cursor: none;
  }

  &.isFocused {
    box-shadow: unset;
    //border: 1px solid $text-mute;
  }
}

div.select__valueContainer {
  padding: unset;
}

div.select__singleValue {
  color: $text-body;
  margin: unset;
  white-space: normal;
}

div.select__input {
  margin: unset;
  padding: unset;

  &.isDisabled {
    display: none;
  }
}

div.select__multiValue {
  background-color: $ui-bg;
  border: 1px dashed $ui-edit-border-color;
  margin: 0 1px 1px 0;
  padding: $spacing-xxxxs;

  &.isDisabled {
    background-color: transparent;
    border-color: transparent;
    flex: 0 0 100%;
    padding: 0 0 $spacing-xxxxs 0;
  }
}

div.select__multiValueLabel {
  border-radius: unset;
  color: $text-body;
  font-size: inherit;
  padding: unset;

  &.isDisabled {
    white-space: break-spaces;
  }
}

div.select__multiValueRemove {
  padding: 0 $spacing-xxxxs;

  &:hover {
    background-color: $ui-edit-background-error;
  }

  &.isDisabled {
    display: none;
  }
}

div.select__menuList {
  border: unset;
  padding: unset;
}

div.select__menu {
  border-left: $border-menu;
  border-radius: unset;
  border-right: $border-menu;
  margin-left: -1px;
  padding: unset;
  width: calc(100% + 2px);

  &.bottom {
    border-bottom: $border-menu;
    margin-top: -1px;
  }
  &.top {
    border-top: $border-menu;
    margin-bottom: -1px;
  }
}

div.select__group {
  padding: 0;
}

div.select__groupHeading {
  text-transform: unset;
  font-size: $font-xs;
  font-weight: 600;
  padding: $spacing-xxs;
  white-space: break-spaces;
  color: $text-disabled;
  margin: unset;
}

div.select__option {
  padding: $spacing-xxs;
  white-space: break-spaces;

  &.isFocused {
    background-color: lighten($ui-accent-light-extra, 3%);
    cursor: pointer;
  }

  &.isSelected {
    background-color: transparent;
    color: $text-body;
    cursor: unset;
    font-weight: 600;
  }
}
