@import 'src/client/style/partials';

.section-title-extentOfForest {
  display: grid;
  align-items: center;
  justify-content: start;

  &.withToggleODPs {
    grid-column-gap: $spacing-xxs;
    grid-template-columns: repeat(2, auto);
  }
}
