@use 'sass:color';

@use 'src/client/style/partials' as *;

$color-private: color.adjust($ui-destructive, $lightness: 2.5%, $space: hsl);
$color-public: color.adjust($ui-status-accepted, $lightness: -10%, $space: hsl);

.repository-list-item__created-at {
  color: $text-disabled;
  font-size: $font-xxxs;
  white-space: nowrap;
}

.repository-list-item__badge {
  align-items: center;
  border-radius: 4px;
  border: 1px solid $ui-border-dark;
  color: white;
  display: grid;
  font-size: $font-xxxxs;
  font-weight: 600;
  height: 20px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 0;
  opacity: 0.5;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 48px;

  &.private {
    color: $color-private;
  }

  &.public {
    color: $color-public;
  }

  &.linked {
    color: $ui-status-accepted;
  }

  &.unlinked {
    color: $ui-status-notStarted;
  }
}
