@import 'src/client/style/partials';

.partners {
  display: grid;
  grid-row-gap: $spacing-l;
  padding: $spacing-m 0;
  color: $text-body;

  @include min-width($laptop) {
    grid-row-gap: $spacing-xxxl;
    padding: $spacing-xxxl 0;
  }
}

.partners__imgs {
  display: grid;
  justify-content: center;
  grid-row-gap: $spacing-s;
  grid-template-columns: repeat(2, auto);

  img {
    height: 60px;

    @include min-width($laptop) {
      margin: 0 $spacing-s;
    }
  }

  img.mfafi {
    height: 90px;
    margin-top: 20px;
  }

  img.mmmfi {
    margin-top: -$spacing-s;

    @include min-width($laptop) {
      margin-top: unset;
    }
  }

  @include min-width($laptop) {
    height: 70px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
  }
}

.partners__col1Mobile {
  grid-column: 1/3;
  justify-self: center;

  @include min-width($laptop) {
    grid-column: unset;
  }
}

.partners__support {
  display: flex;
  align-items: center;
  font-size: $font-s;
  font-weight: 200;

  @include min-width($laptop) {
    max-width: 150px;
    margin-left: $spacing-s;
    text-align: right;
  }
}

.partners__disclaimer {
  color: $text-link;
  padding: 0 $spacing-xs;
  text-align: center;
  font-size: $font-s;
  line-height: $spacing-s;

  a {
    color: $text-body;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @include min-width($laptop) {
    padding: 0 $spacing-xxxl;
  }
}
