@import (reference) 'webapp/main/styles/config';

.export {
  display: grid;
  grid-template-rows: 300px 1fr;
  grid-row-gap: 25px;
}

.export__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: hidden;
}

.export__form-section {
  overflow: hidden;
  display: grid;
  grid-template-rows: 50px 30px 1fr;

  &.export-select-all {
    grid-template-rows: 50px 29px 1px 1fr;

    .btn-all {
      justify-self: start;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid @ui-border-light;
  }

  .divider {
    border-bottom: 1px solid @ui-border-light;
  }
}

.export__form-section-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .text-input {
    padding: 3px 9px;
  }
}

.export__form-section-variables {
  display: grid;
  align-items: start;
  align-content: start;
  justify-items: start;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
