@import 'src/client/style/partials';

.title-with-excel-calculator {
  display: flex;
  justify-content: space-between;

  select {
    margin-right: 8px;
  }
}

@include rtl {
  .title-with-excel-calculator select {
    margin-right: initial;
    margin-left: 8px;
  }
}
