@use 'src/client/style/partials' as *;

.table-paginated-actions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;
  padding: $spacing-xxxs;
  z-index: 1;
}

.table-paginated-actions__row {
  align-items: center;
  display: flex;
  gap: $spacing-xs;
  min-height: $spacing-l;

  .hr.vertical {
    flex-shrink: 0;
    min-height: $spacing-s;
  }

  &--extra {
    justify-content: center;
    width: 100%;
  }
}
