@import 'webapp/style/partials';

@mixin mixin-header-menu-item {
  padding: 20px 12px;
  cursor: pointer;
  transition: $ease-out;
  white-space: nowrap;
  color: $text-link;
  text-decoration: none;

  &:hover,
  &.active {
    color: $text-body;

    .icon {
      color: $text-body;
    }
  }
}

.app-header {
  border-bottom: $ui-thin-border;
  background: white;
  color: $text-mute;
  padding: $spacing-xxs;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row-gap: $spacing-xxs;

  @include min-width($laptop) {
    height: $ui-app-header-height;
    justify-items: unset;
    grid-template-columns: calc(#{$ui-app-navigation-width} - 21px) 1px auto auto;
    padding: 0 20px;
  }
}

.app-header__fao-logo {
  height: $spacing-xxl;
  @include min-width($laptop) {
    height: unset;
  }
}

.app-header__global-fra {
  font-size: $font-xl;

  @include min-width($laptop) {
    font-size: $font-xxl;
    padding-left: 24px;
  }
}

.app-header__menu {
  justify-self: right;
  display: none;
  align-items: center;

  > * {
    margin: 0 4px;
  }

  .popover-control__menu {
    top: 50px;
    right: 12px;
    text-align: right;
    width: 160px;
  }

  @include min-width($laptop) {
    display: flex;
  }
}

.app-header__menu-item {
  @include mixin-header-menu-item;

  .icon {
    margin-left: 4px;
  }
}

.app-header__separator {
  display: none;
  background-color: $text-body;
  height: $ui-app-header-height / 2;
  width: 1px;

  @include min-width($laptop) {
    display: inherit;
  }
}
