@import (reference) "../app-styles/config";
@import (reference) "../app-styles/fraTable";
@import (reference) "../app-styles/inputMixins";

.odp__section {
  margin-top: 32px;
  margin-bottom: 24px;

  &:first-of-type {
    margin-top: 24px;
  }

  > .subhead, > .headline {
    margin-bottom: 16px;
  }
}

.odp__section-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  > * {
    margin-right: 24px;
  }
}

.odp__year-selection {
  margin-bottom: 16px;
}

.odp__bottom-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.odp__cancel-button {
  margin-right: 16px;
}

.odp__cke_wrapper {
  display: flex;

  .cke_wrapper {
    flex-grow: 1;
  }
}

// Custom table styles

.odp__data-source-input-column {
  width: 75%;
}

// This is a workaround for MultiSelect problem (multiselect increases vertical scroll
// instead of popping out of the wrapper
.fra-table__scroll-wrapper.odp__data-source-table-wrapper {
  overflow-x: visible;
}

.fra-table__cell.odp__data-source-input-column {
  white-space: normal;
}

.odp__review-indicator-row-anchor {
  position: absolute;
  right: 0;
}

.odp__sub-table {
  .fra-table;
  color: lighten(@text-body, 10%);
  line-height: 16px;
  margin-top: 24px;

  .fra-table__header-cell,
  .fra-table__header-cell-right,
  .fra-table__header-cell-middle,
  .fra-table__header-cell-sub,
  .fra-table__header-cell-sub-right {
    background: transparent;
  }

  .fra-review__issue-status {
    height: 37px;
  }
}

.odp__nc-table {
  .odp__nc-table__name {
    width: 40%;
    min-width: 240px;
  }

  .odp__nc-table__input-container {
    .mixin-input-container(left);
  }

  .odp__nc-table__input {
    .mixin-input-field;
    padding-left: 24px;
    text-overflow: ellipsis;
  }

  .odp__nc-table__remove {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 4px;
    margin-top: -8px;
    cursor: pointer;
  }
}

// List view

.odp-list__list-table {
  border-collapse: collapse;
  line-height: 20px;
  width: 100%;
}

.odp-list__list-row {
  transition: @ease-out;

  &:hover {
    background: lighten(@ui-bg, 2%);
  }
}

.odp-list__header-cell {
  border-bottom: @ui-thin-border;
  font-size: @font-m;
  min-width: 80px;
  padding: 12px;
  text-align: left;
  white-space: nowrap;
}

.odp-list__cell {
  border-bottom: @ui-thin-border;
  font-size: @font-s;
  padding: 12px;
  text-align: left;
}

.odp-list__notification-column {
  text-align: right;

  > div {
    display: inline-block;
    padding: 0 4px;
    vertical-align: middle;
  }

  .open-issues {
    background-color: @ui-accent;
    border-radius: 100%;
    height: 10px;
    width: 10px;

    &.unread-issues {
      background-color: @ui-alert;
    }
  }
}

.odp-list__edit-column {
  padding: 0;
  text-align: right;

  .link {
    padding: 12px;
  }
}

.odp_list__empty-column {
  color: @text-disabled;
}

// Validation
.error {
  .validation-error-sensitive-field {
    background-color: fade(@ui-destructive, 10%);
  }
}

// Table with odp

.table-with-odp {
  .odp-header-cell {
    background-color: #e5f4f6;
    background-color: fade(@ui-accent, 10%);
  }

  .odp-value-cell {
    text-align: right;
    background-color: #f2fafa;
    background-color: fade(@ui-accent, 5%);
  }
}
