.odp_data-input-row{
  display: flex;
  justify-content: flex-start;

  > div {
    padding: 5px 10px;
  }
}

.odp__section {
  margin: 20px 0 20px 0;
}

.odp__input-table {
  border-collapse: collapse;
  th {
    text-align: middle;
    background: #F5F5F5;
    border: 1px solid #CCCCCC;
    padding: 10px;
    min-width: 100px;
  }
  td {
    border: 1px solid #CCCCCC;
  }
  input {
    border: none;
    padding: 10px;
  }
}

.odp__extent-of-forest-class-name {
  background: #F5F5F5;
  padding: 10px;
}

.odp__national-class-row-class-name {
  position: relative;
}

.odp__national-class-remove {
  position: absolute;
  top: 12px;
  left: 5px;
  color: grey;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.odp__input-table input.odp__national-class-row-class-name-input {
  padding-left: 20px;
}

.odp__extent-of-forest-percent-cell {
  white-space: nowrap;
}
