@import 'src/client/style/partials';

.admin-user-management__role-field {
  text-align: left;
  word-break: break-word;

  .invitation {
    color: $text-disabled;
    font-style: italic;
  }

  span:not(:last-child)::after {
    content: ',  ';
  }
}
