@use 'src/client/style/partials' as *;

.lang-selector {
  display: grid;
  grid-column-gap: $spacing-xxs;
  justify-content: center;

  button {
    font-weight: 400;
    color: $text-mute;
    text-transform: unset;
    padding: 0 4px;

    &.disabled {
      font-weight: 600;
      color: $text-body;
      opacity: 1;
    }
  }
}
