@use 'sass:color';

@use 'src/client/style/partials' as *;

.diff-text {
  span {
    word-break: break-word;
  }

  .added,
  .removed {
    font-weight: 600;
  }

  .added {
    color: #49a549;
  }

  .removed {
    color: $ui-destructive;
    text-decoration: line-through;
  }
}
