@use 'sass:color';
@use 'src/client/style/partials' as *;

.form-field-permissions {
  gap: $spacing-xs;
  width: 100%;

  div.multiselect__container.active {
    border: unset;
  }

  div.select__wrapper:focus-within {
    outline: 1px solid $ui-edit-border-color;
  }
}

div.form-field-permissions__container {
  height: 32px;
}

div.form-field-permissions__label {
  background-color: white;
  color: color.adjust($text-mute, $lightness: 10%, $space: hsl);
  font-size: $font-xxs;
  font-weight: bold;
  height: 14px;
  outline: unset !important;
  padding: 0 4px;
  position: absolute;
  text-transform: uppercase;
  transform: translate(8px, -14px);
}
