@use 'sass:color';
@import 'src/client/style/partials';

.form-field-permissions {
  gap: $spacing-xs;
  width: 100%;
}

.form-field-permissions__container {
  height: 32px;
}

.form-field-permissions__label {
  position: absolute;
  transform: translate(7%, -55.7%);

  color: color.adjust($text-mute, $lightness: 10%, $space: hsl);
  font-size: $font-xxs;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  padding: 0 4px;
}
