@import 'src/client/style/partials';

.geo-map-menu-container {
  position: absolute;
  margin: 0 0 10px $ui-geo-menu-button-spacing;
  display: flex;
  flex-direction: column;
}

.geo-map-menu-separator {
  margin: 0;
  width: 100%;
  border-top: 1px solid gray;
}

.geo-map-menu-item {
  > div {
    position: absolute;
    padding: $ui-geo-menu-button-width;
    width: calc(100% - 200px - $ui-geo-menu-button-spacing);
    right: 0;
    margin: -5px 0 0 0;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid $ui-border;
    background: $ui-bg 0% 0% no-repeat padding-box;
    font-size: $font-l;
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}
