@import "../app-styles/config";

.main__navigation {
  background: @ui-bg;
  padding-bottom: 8px;
  width: 256px;
  height: 100%;
  overflow-y: auto;
  min-width: 256px;

  &.hidden {
    display: none;
  }
}

.navi__country-item {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid @ui-border;
  background-color: @ui-bg;

  &:hover {
    cursor: pointer;
    background-color: #eee;
    transition: all .15s ease-in-out;
  }
}

.navi__country-flag {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  min-width: 32px;
  height: 32px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;
  border-radius: 100%;
}

.navi__country-info {
  flex-grow: 1;
  margin: 0 8px;
}

.navi__country-name {
  color: @text-body;
  display: block;
  font-weight: 700;
  line-height: 20px;
}

.navi__country-nc {
  color: @text-mute;
  display: block;
  font-size: @font-xs;
  line-height: 20px;
}

.navi__country-list {
  position: absolute;
  top: 68px;
  left: 16px;
  width: 224px;
  background: white;
  border-radius: 2px;
  border: 1px solid @ui-border;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);

  &.hidden {
    display: none;
  }
}

.navi__country-list-content {
  max-height: 560px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  padding: 4px 0;
}

.navi__country-list-item {
  display: block;
  color: @text-body;
  text-decoration: none;
  padding: 6px 12px;

  &:hover,
  &.selected {
    background: #eee;
  }
}

.navi__link-item {
  display: inline-block;
  width: 100%;
  padding: 12px 24px;
  text-decoration: none;
  font-family: @font-family-1;
  color: @text-body;

  &.selected {
    background-color: @ui-accent-light;
  }
}
.navi__link-label {
  display: block;
  font-weight: bold;
  line-height: 20px;
}

.navi__primary-item {
  padding: 12px 24px;
}

.navi__primary-label {
  display: block;
  font-weight: bold;
  line-height: 20px;
}

.navi__primary-link {
  font-size: @font-s;
  display: inline-block;
  margin-top: 4px;
  line-height: 20px;
}

.navi__secondary-item {
  padding: 12px 24px;
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  color: @text-body;
  font-family: @font-family-1;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: @ui-accent-light;
  }
}

.navi__secondary-order {
  flex: 0 0 auto;
  width: 24px;
  font-size: @font-s;
}

.navi__secondary-label {
  display: block;
  font-size: @font-s;
  line-height: 20px;
}

.navi__secondary-status {
  display: block;
  font-size: @font-xs;
  color: @text-mute;
  line-height: 20px;
}
