@import 'src/client/style/partials';

//TODO: Investigate
//.fra-table__select-container {
//  &.multiple {
//    overflow: visible;
//    text-align: left;
//  }
//  .multi-select {
//    width: 100%;
//  }
//}
//
//body.rtl .fra-table__select-container {
//  &.multiple {
//    text-align: right;
//  }
//}

.table-grid__data-cell {
  align-items: center;
  display: flex;
  justify-content: end;
  padding: 10px;
  text-align: right;

  &.calculated {
    cursor: default;
    font-weight: 600;
  }

  &.category {
    background-color: $ui-bg;
  }
}
