@use 'sass:color';
@import 'client/style/partials';

.landing__page-header {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.landing__page-title {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: $spacing-xxs;
}
