@import 'src/client/styles/config.scss';

$bgColorTooltip: rgba(17, 17, 17, 0.85);

.chart__container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.chart__container > *:first-child {
  text-align: center;
}

.chart__data-points circle:hover {
  cursor: pointer;
}

.chart__legend-wrapper {
  display: flex;
  height: 20px;
}

.chart__legend-item {
  display: flex;
  align-items: center;
  opacity: 0;
}

.chart__legend-item-color {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 2px;
}

.chart__legend-item-label {
  color: $text-mute;
  font-size: $font-xs;
  white-space: nowrap;
  overflow: hidden;
}

// Tooltip

.chart__tooltip {
  line-height: 16px;
  font-weight: 400;
  padding: 12px 16px;
  background: $bgColorTooltip;
  border-radius: 2px;
  pointer-events: none;
  font-size: $font-xs;
  color: #fff;
  opacity: 0;
  text-align: center;
  transition: opacity 0.2s ease-out 0.1s;
}

.chart__tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $bgColorTooltip transparent transparent transparent;
}

.chart__tooltip-heading {
  text-align: left;
  color: $ui-border;
  margin-bottom: 4px;
}

.chart__tooltip-value-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.chart__tooltip-marker {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 2px;
  align-self: center;
}

.chart__tooltip-value {
  font-size: $font-m;
}

.chart__tooltip-unit {
  margin-left: 4px;
}

.chart__tooltip-methods {
  margin-top: 8px;
}

.chart__tooltip-data-source {
  text-align: left;
}
