@import 'src/client/style/partials';

$btn-width: 128px;

.repository-form__actions {
  grid-column: 1/3;
  display: grid;
  grid-column-gap: $spacing-xs;
  grid-template-columns: repeat(2, $btn-width);
  justify-content: center;
  margin-top: $spacing-xs;
}

.repository-form__actions-delete {
  grid-column: 1/3;
  justify-self: end;
  margin-top: $spacing-m;

  button {
    width: $btn-width;
  }
}
