@use 'src/client/style/partials' as *;

.report-and-story {
  background-color: #f2fcff;
  display: flex;
  flex-direction: column;
  gap: $spacing-l;
  justify-content: center;
  padding: $spacing-xs 0;

  @include min-width($tablet-portrait) {
    padding: $spacing-m 0;
  }

  @include min-width($laptop) {
    gap: $spacing-xxxl;
    flex-direction: row;
  }
}

.home-hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  justify-content: center;

  @include min-width($tablet-portrait) {
    flex-direction: row;
    gap: $spacing-m;
  }
}

.home-hero__image {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.home-hero__title {
  color: $text-heading;
  font-size: $font-xl;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.home-hero__content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: $spacing-m;
}
