@import 'src/client/style/partials';

.toolbar {
  position: sticky;
  top: 0;
  z-index: $z-index-area-selector;
  display: flex;
  align-items: center;
  background-color: var(--ui-bg);
  border-bottom: $ui-thin-border;
  height: 50px;
  box-shadow: 0 2px 4px 0px rgba($text-body, 0.5);
  width: 100%;

  .text-input {
    width: 100%;
    border: none;
    font-size: 13px;
    padding: initial;
  }
}

.toolbar__nav-options {
  display: grid;
  grid-template-columns: 50px 1fr;
  width: 340px;
  padding-right: $spacing-xxxs;
}

.btn-toggle-navigation {
  font-size: 1rem;
  font-weight: 400;
}

.toolbar__select-laptop {
  display: none;

  @include min-width($laptop) {
    display: initial;
  }
}

.toolbar__select-mobile {
  @include min-width($laptop) {
    display: none;
  }
}

.links-download {
  margin-left: auto;
  margin-right: 12px;

  .btn {
    border: none !important;
  }
}
