@import 'src/client/style/partials';

.toolbar {
  position: sticky;
  top: 0;
  z-index: $z-index-area-selector;
  display: flex;
  align-items: center;
  background-color: var(--ui-bg);
  //border-bottom: $ui-thin-border;
  height: 50px;
  //box-shadow: 0 2px 4px 0px rgba($text-body, 0.5);
  //-webkit-box-shadow: 0 2px 4px 0px $ui-border;
  box-shadow: 0 0px 4px 1px $ui-border;

  width: 100%;
}

.toolbar__nav-options {
  display: grid;
  grid-template-columns: 50px 1fr;
  width: 340px;
  padding-right: $spacing-xxxs;
}

.links-download {
  margin-left: auto;
  margin-right: 12px;

  .btn {
    border: none !important;
  }
}

.toolbar__utils-container {
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  align-items: center;

  .btn {
    border: none !important;
  }

  .desk-study {
    color: $text-link;
    font-size: $font-l;
    font-weight: 300;
    margin-right: $spacing-xs;
  }
}
