@import 'src/client/style/partials';

.toolbar {
  align-items: center;
  background-color: var(--ui-bg);
  border-bottom: 1px solid $ui-border;
  display: flex;
  height: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $z-index-area-selector;
}

.toolbar__nav-options {
  display: grid;
  grid-template-columns: 50px 1fr;
  width: 340px;
  padding-right: $spacing-xxxs;
}

.toolbar__desk-study {
  color: $text-link;
  font-size: $font-m;
  font-weight: 500;
  margin-left: $spacing-xs;
  opacity: 0.9;
}

.toolbar__separator {
  width: 1px;
  height: 60%;
  background: radial-gradient(darken($ui-bg, 25%), $ui-bg);
}

.toolbar__utils-container {
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  align-items: center;
  height: 100%;

  .btn {
    border: none !important;
  }
}

.toolbar__geo-beta-message {
  background-color: $ui-black-map;
  border-radius: $spacing-xxxxs;
  color: white;
  font-size: $font-s;
  left: 50%;
  opacity: 0.6;
  padding: $spacing-xxxxs $spacing-xs;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(50%);
}
