@use 'sass:color';

@use 'src/client/style/partials' as *;

.data-sources__readOnlyText {
  background-color: color.adjust($ui-bg, $lightness: 2%, $space: hsl);
  display: grid;
  grid-column: 1 / -1;
  grid-row-gap: $spacing-xs;
  margin-top: $spacing-xxs;
  padding: $spacing-xs;

  h5 {
    color: $text-link;
    font-size: $font-xxs;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.data-source div.multiselect__container div.select__control,
.data-source div.select__control {
  align-content: start;
  padding: $spacing-xxs;
}

.data-source div.select__multiValueLabel {
  color: $text-body;
  font-size: $font-m;
  padding: unset;

  &.isDisabled {
    white-space: break-spaces;
  }
}
