@import 'src/client/style/partials';

.home-user-card {
  align-content: center;
  display: grid;
  grid-column-gap: $spacing-xxxs;
  grid-row-gap: $spacing-xxxxs;
  grid-template-columns: auto auto;
  justify-content: start;
  padding: $spacing-xxs;

  .user-avatar {
    align-self: center;
  }

  &.invitation {
    .user-avatar,
    .user-info {
      opacity: 0.6;
    }
  }

  // Hide all buttons but not message button
  [class*='home-user-action-button-']:not([class*='home-user-action-button-message']) {
    opacity: 0;
    transition: all 0.2s ease;
  }

  &:hover {
    background-color: rgba($ui-accent-light-extra, 0.2);

    [class*='home-user-action-button-']:not([class*='home-user-action-button-message']) {
      opacity: 1;
    }
  }
}
