@bgColorTooltip : rgba(17, 17, 17, 0.9);

.chart__data-points circle:hover {
  cursor: pointer;
}

.chart__data-points-tooltip {
  line-height: 1;
  font-weight: 400;
  padding: 20px 15px;
  background: @bgColorTooltip;
  border-radius: 3px;
  pointer-events: none;
  font-size: 13px;
  color: #fff;
  opacity: 0;
  transition: opacity .25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.chart__data-points-tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: @bgColorTooltip transparent transparent transparent;
}

.chart__data-points-tooltip-year {
  font-size: 11px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: .8;
}

.chart__data-points-tooltip-value {
  display: flex;
  justify-content: center;
  align-items: center;

  .unit {
    font-size: 11px;
  }
}

.chart__data-points-tooltip-value-marker {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 20%;
}
