@import 'src/client/style/partials';
@import 'src/client/components/Links/Link/Link';

$pdf-guideline-width: 1202px;

div.editorWYSIWYG {
  height: 100%;
  word-break: break-word;

  table {
    word-break: normal;
  }

  p,
  table,
  ul {
    margin: unset;
  }

  a {
    @extend .link;
    @extend .color-blue;
  }
  div.jodit-react-container,
  div.jodit-container,
  div.jodit-workplace {
    height: 100%;
  }

  div.jodit-wysiwyg {
    padding: $spacing-xxs;
  }

  div.jodit-toolbar__box {
    background-color: $ui-bg !important;
    border-bottom: 1px dashed $ui-edit-border-color;
    border-radius: 0;
  }

  div.jodit-toolbar-editor-collection_mode_horizontal:after {
    display: none;
  }

  div.jodit-ui-separator {
    margin: 0 1px;
    border-right: 1px dashed $ui-edit-border-color;
  }

  span.jodit-toolbar-button {
    margin: 0;

    button {
      border-radius: 0;
    }
  }

  &.disabled {
    .jodit-toolbar__box {
      display: none;
      border: unset;
    }
  }

  .icon-reference-files {
    stroke: none;
  }
}

@include print {
  div.editorWYSIWYG {
    height: unset;

    table {
      width: auto;
    }

    td[nowrap] {
      white-space: normal;
    }

    tr {
      @include print-break-inside-avoid-page;
    }
  }
}
