@use 'src/client/style/partials' as *;

$alignment-values: (start, end, center, stretch, baseline, first, last, space-between, space-around, space-evenly);
$alignment-properties: (align-items, align-content, justify-items, justify-content);
$flex-direction-values: (row, row-reverse, column, column-reverse);

$gaps: 0, 4, 8, 16, 32;

.flex {
  display: flex;

  @each $property in $alignment-properties {
    @each $value in $alignment-values {
      &.#{$property}-#{$value} {
        #{$property}: $value;
      }
    }
  }

  @each $value in $flex-direction-values {
    &.flex-direction-#{$value} {
      flex-direction: $value;
    }
  }

  @each $gap in $gaps {
    &.gap-#{$gap} {
      gap: #{$gap}px;
    }
  }
}
