@import "../app-styles/config";

.fra-review__add-issue {
  display: flex;
  padding: 0 12px 12px;
}

.fra-review-active {
  position: fixed;
  right: 0;
  height: 100%;
  width: 288px;
  visibility: visible;
  transition: visibility 0.1s, opacity 0.1s ease-out, width 0.1s ease-out;
  opacity: 1;
  border: 1px solid #CCCCCC;
  box-shadow: inset 1px 0 0 0 #cccccc;
  box-shadow: inset 1px 0 0 0 var(--ui-border);
  background: white;
  display: flex;
  flex-flow: column nowrap;
}

.fra-review-hidden {
  visibility: hidden;
  width: 0;
  opacity: 0;

  .fra-review__issue-comment-input {
    display: none;
  }
  .fra-review__comment-buttons {
    display: none;
  }
  .fra-review__header {
    display: none;
  }
}

.fra-review__header {
  height: 76px;
  background-color: #f5f5f5;
  padding: 16px;
  border-bottom: 1px solid #CCCCCC;
  h2 {
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #111111;
  }
}

.fra-review__header-close-btn {
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 16px;
}

.fra-review__comment-placeholder {
  position: absolute;
  top: 50%;
  left: calc(~"50% - 44.5px");
  width: 89px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.fra-review__comment-placeholder-text {
  display: block;
}

.fra-review__issue-comment-input {
  border: solid 1px #cccccc;
  border-radius: 2px;
  margin: 8px 16px;
  height: 36px;
  min-height: 36px;
  max-height: 76px;
  width: 256px;
  resize: none;
  padding: 8px 16px 0;
  font-size: @font-s;
  font-family: @font-family-1;
  &:focus {
    outline: none;
  }
}
.fra-review__comment-buttons {
  padding: 0 16px 8px;
}

.fra-review__comment-edit-author-empty {
  padding-bottom: 8px;
}

.fra-review__issue {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: white;
  padding: 8px 0;
}

.fra-review__comment-widget-visible {
  position: relative;
  height: calc(~"100% - 98px");
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s ease-out, width 0.1s ease-out;
}

.fra-review__comment-widget-hidden {
  position: relative;
  width: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0s, width 0.1s ease-out, width 0.1s ease-out;
}

.fra-review__comment-widget-other-target {
  position: relative;
  width: 260px;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s, width 0s;
}

.fra-review__comment {
  padding: 8px 16px;
  line-height: 18px;
}

.fra-review__comment-edit-author {
  font-size: @font-s;
  font-weight: bold;
  padding: 8px 16px 16px;
  border-bottom: @ui-thin-border;
}

.fra-review__issue-status-count {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: @ui-accent;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  font-size: @font-xs;
}

.fra-review__issue-status-visible {
  cursor: pointer;
}

.fra-review__comment-add-btn {
  margin-right: 8px;
}

.fra-review__comment-author {
  font-size: @font-s;
  font-weight: bold;
}

.fra-review__comment-time {
  color: @text-mute;
  font-size: @font-xs;
  margin-top: 4px;
}

.fra-review__comment-text {
  font-size: @font-s;
  margin-top: 4px;
  overflow-wrap: break-word;
}
