@import "../app-styles/config";

.fra-review__add-issue {
  margin-right: -32px;
}

.fra-review-active {
  position: fixed;
  right: 0;
  height: 100%;
  width: 288px;
  visibility: visible;
  transition: visibility 0.1s, opacity 0.1s ease-out, width 0.1s ease-out;
  opacity: 1;
  border-left: @ui-thin-border;
  background: white;
  display: flex;
  flex-flow: column nowrap;
}

.fra-review-hidden {
  visibility: hidden;
  width: 0;
  opacity: 0;

  .fra-review__issue-comment-input {
    display: none;
  }

  .fra-review__comment-buttons {
    display: none;
  }

  .fra-review__header {
    display: none;
  }
}

.fra-review__header {
  height: 76px;
  background-color: @ui-bg;
  padding: 16px;
  border-bottom: @ui-thin-border;
}

.fra-review__header-close-btn {
  position: absolute;
  cursor: pointer;
  right: 14px;
  top: 14px;
}

.fra-review__header-target {
  margin-top: 4px;
}

.fra-review__comment-placeholder {
  position: absolute;
  top: 50%;
  left: calc(~"50% - 50px");
  width: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.fra-review__comment-placeholder-icon {
  fill: rgba(0,0,0,.3)
}

.fra-review__comment-placeholder-text {
  display: block;
  color: @text-disabled;
  margin-top: 8px;
}

.fra-review__add-comment {
  padding: 8px 16px;
}

.fra-review__issue-comment-input-border {
  border-radius: 2px;
  border: @ui-thin-border;
  overflow: hidden;
}

.fra-review__issue-comment-input {
  border: none;
  display: block;
  font-family: inherit;
  font-size: @font-s;
  line-height: 18px;
  max-height: 400px;
  overflow: auto;
  padding: 8px;
  padding-right: 32px;
  resize: none;
  width: 278px;

  &::placeholder {
    color: @text-disabled;
  }

  &:focus {
    outline: none;
  }
}

.fra-review__comment-buttons {
  padding-top: 8px;
}

.fra-review__comment-edit-author-empty {
  padding-bottom: 8px;
}

.fra-review__issue {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: white;
  padding: 8px 0;
}

.fra-review__comment-widget-visible {
  position: relative;
  height: calc(~"100% - 98px");
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s ease-out, width 0.1s ease-out;
}

.fra-review__comment-widget-hidden {
  position: relative;
  width: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0s, width 0.1s ease-out, width 0.1s ease-out;
}

.fra-review__comment-widget-other-target {
  position: relative;
  width: 260px;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s, width 0s;
}

.fra-review__comment {
  padding: 8px 16px;
  line-height: 18px;
}

.fra-review__comment-edit-author {
  font-size: @font-s;
  font-weight: bold;
  padding: 8px 16px 16px;
  border-bottom: @ui-thin-border;
}

.fra-review__issue-status-count {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: @ui-accent;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  font-size: @font-xxs;
  transition: @ease-out;
}

.fra-review__issue-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 41px;
  cursor: pointer;

  .icon {
    transition: @ease-out;
  }

  &.active,
  &:hover {
    .icon {
      fill: rgba(0,0,0,.75);
      width: 20px;
      height: 20px;
    }
  }
}

.fra-review__comment-add-btn {
  margin-right: 8px;
}

.fra-review__comment-author {
  font-size: @font-s;
  font-weight: bold;

  &.author-me {
    color: darken(@ui-accent, 2%);
  }
}

.fra-review__comment-time {
  color: @text-mute;
  font-size: @font-xs;
  margin-top: 4px;
}

.fra-review__comment-text {
  font-size: @font-s;
  margin-top: 4px;
  overflow-wrap: break-word;
}

tr.fra-row-comments__open,
div.fra-row-comments__open .cke_wrapper {
  outline: 1px solid @ui-accent;
  outline-offset: -1px;
  box-shadow: 0 0 4px fade(@ui-accent, 50%);
}
