@import 'webapp/style/partials';

.home-introduction {
  position: relative;
  height: 75vh;
}

.home-introduction__about-fra {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    110deg,
    rgba($text-heading, 1) 0%,
    rgba($text-heading, 0.9) 10%,
    rgba($text-heading, 0.8) 20%,
    rgba($text-heading, 0.7) 30%,
    rgba($text-heading, 0.6) 40%,
    rgba($text-heading, 0.5) 50%,
    rgba($text-heading, 0.4) 60%,
    rgba($text-heading, 0.3) 70%,
    rgba($text-heading, 0.2) 80%,
    rgba($text-heading, 0.1) 90%,
    rgba($text-heading, 0) 100%
  );
  display: grid;
  grid-row-gap: 24px;
  align-content: center;
  padding: 0 36px;
  color: white;

  .header {
    font-size: $font-xl + 1;
    font-weight: 600;
  }

  .process {
    max-width: 38%;
  }

  .link-fra-process {
    font-weight: 600;
    font-size: $font-l;
  }
}

.home-introduction__area-selector {
  display: grid;
  grid-row-gap: 24px;

  hr {
    border-top: 1px solid rgba(white, 0.5);
    margin: unset;
    width: 38%;
  }
}

//-ms-ime-align: auto is used to check whether is non chromium edge version

@supports not (-ms-ime-align: auto) {
  .home-introduction__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@supports (-ms-ime-align: auto) {
  .home-introduction__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}
