@import 'client/style/partials';

.geo-map-menu-button {
  position: relative;
  border-radius: 4px;
  border: 1px solid $ui-border;
  background: $text-body 0% 0% no-repeat padding-box;
  font-size: $font-l;
  padding: 15px;
  z-index: 2;
  border-color: $ui-border;
  background-color: $text-body;
  color: $ui-bg;
  width: $ui-geo-menu-button-width;
  margin: $ui-geo-menu-button-spacing 0 0 0;
  text-align: left;

  &:hover {
    color: $ui-bg-hover;
  }

  &.selected {
    border-color: $ui-border;
    background-color: $ui-accent;
    color: $ui-bg;
  }

  > p {
  }
}
