@import 'src/client/style/partials';

.grid-header-cell__button-sort {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  svg {
    color: $text-body;
  }

  &.active {
    svg {
      color: $ui-accent;
    }
  }
}

@include rtl {
  .grid-header-cell__button-sort {
    left: 0;
    right: unset;
  }
}
