@use 'sass:color';

@use 'src/client/style/partials' as *;

.toolbar-editor {
  align-items: center;
  border: 1px dashed color.adjust($ui-edit-border-color, $lightness: 15%, $space: hsl);
  display: flex;
  column-gap: $spacing-xs;
  height: calc(100% + 2px);
  padding: 0 $spacing-xs;
}

.toolbar-editor__github {
  align-items: center;
  color: $text-body;
  display: grid;
  font-size: $font-xs;
  font-weight: 600;
  grid-column-gap: $spacing-xxxs;
  grid-template-columns: repeat(2, auto);
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}
