@use 'src/client/style/partials' as *;

.home-report {
  align-items: start;
  background-color: #f8f8f9;
  display: grid;
  gap: $spacing-s $spacing-xxxl;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: $spacing-xl $spacing-l;
}

.home-report__cover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 260px;
}

.home-report__links {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
}
