@use 'sass:color';

@import 'src/client/style/partials';

$colorError: color.adjust($ui-destructive, $lightness: -5%, $space: hsl);

.data-validations {
  align-items: center;
  color: $colorError;
  display: grid;
  font-size: $font-xs;
  font-weight: 600;
  grid-column-gap: $spacing-xxxs;
  grid-template-columns: auto 1fr;
  letter-spacing: 0.4px;
  margin-top: $spacing-xs;
  text-transform: uppercase;

  .msg {
    grid-column: 2;
  }

  svg.icon {
    color: $colorError;
    height: 12px;
    width: 12px;
  }
}
