@import 'src/client/style/partials';

.input-number {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  height: 100%;
  left: 0;
  line-height: inherit;
  opacity: 0;
  outline: none;
  padding: $spacing-xxs;
  position: absolute;
  text-align: inherit;
  top: 0;
  width: 100%;

  &::placeholder {
    color: $text-disabled;
  }

  &.disabled {
    cursor: default;
  }

  &.visible {
    opacity: 1;
  }
}

.input-number__readonly-view {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: $spacing-xxs;
  position: relative;
  text-align: inherit;
  width: 100%;
}

.input-number__container {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
