//===WARNING====
// DO NOT IMPORT SPECIFIC COMPONENT STYLES HERE,
// ONLY MORE GENERAL STUFF USED IN MANY PLACES
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import 'src/client/style/partials';
//Import all common application styles
@import '_main/buttons';
@import '_main/cssVars';
@import '_main/rtl';
@import '_main/validation';
@import 'src/client/styles/fraTable';
@import 'react-loading-skeleton/dist/skeleton.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-m;
}

body {
  color: $text-body;
  direction: ltr; // Fallback for safari
  font-family: $font-family-1;
  font-weight: 400;
  height: 100dvh;
  line-height: 20px;
  margin: 0;
}

@include rtl {
  direction: rtl;
}

#main {
  align-content: start;
  display: grid;
  height: 100%;
  min-height: 100dvh;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: $text-body;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-size: $font-xxl;
}

h1.title {
  font-size: $font-xxxl;
}

.headline {
  font-size: $font-xl;
}

.subhead {
  font-size: $font-l;
}

hr {
  border: 0;
  border-top: 1px solid $ui-border;
  margin: 24px 0;
}

.hidden {
  display: none;
}

.only-print {
  display: none;
}
