@import 'src/client/style/partials';

.geo-global-opacity__container {
  align-items: center;
  display: grid;
  grid-template-columns: 150px 120px;
  justify-content: space-between;
  margin: $spacing-xs 0 $spacing-xxxxs 0;

  .input-range {
    > input {
      width: 70px;
    }
  }
}
