@use 'src/client/style/partials' as *;

.table-grid__odp-cell.header {
  background-color: rgba($ui-accent, 10%);
  font-weight: 700;

  .review-summary-status {
    margin: 0 $spacing-xxxs;
  }
}

.table-grid__odp-cell.header.validation-error {
  background-color: rgba($ui-destructive, 10%);

  .table-grid__odp-link {
    color: $ui-destructive;
  }
}

.table-grid__odp-cell.header .table-grid__odp-link {
  display: inline-flex;
  text-decoration: underline;

  &.removed {
    pointer-events: none;
  }
}
