@import 'src/client/styles/config';

.multi-select {
  height: 100%;

  &:not([disabled]) {
    cursor: pointer;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDcgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8dGl0bGU+CiAgICAgICAgY29sbGFwc2UKICAgIDwvdGl0bGU+CiAgICA8cGF0aCBkPSJNMy41IDBMNyA1SDBsMy41LTV6bTAgMTJMMCA3aDdsLTMuNSA1eiIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjMzMzIi8+Cjwvc3ZnPgo=);
  }

  &[disabled] {
    pointer-events: none;
  }

  &:focus,
  &.has-focus {
    outline: none;

    .multi-select__closed-content {
      outline: 1px solid $text-body;
      outline-offset: 0px;
    }
  }
}

.multi-select__opened-content-anchor {
  position: relative;
  height: 0;
}

.multi-select__closed-content {
  padding: 10px 24px 10px 10px;
  white-space: normal;
  display: flex;
  height: 100%;
  align-items: center;
}

.multi-select__opened {
  position: absolute;
  top: 1px;
  left: 0;
  cursor: pointer;
  z-index: $z-index-popover;
  background-color: white;
  border-radius: 2px;
  padding: 4px 0;
  border: 1px solid $text-link;
  border-top: initial;
  min-width: 100%;
}

.multi-select__opened-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  line-height: 16px;
  color: $text-body;

  &:hover {
    background-color: darken($ui-bg, 4%);
    cursor: pointer;
  }
}

.multi-select__opened-item-label {
  cursor: pointer;
  margin-left: 6px;
}

.multi-select__placeholder {
  color: $text-disabled;
}
