@import (reference) "../app-styles/config";

.table-with-odp {
  .odp-header-cell {
    background-color: #e7f4f6;
    background-color: fade(@ui-accent, 10%);
  }

  .odp-value-cell {
    background-color: #f3fafa;
    background-color: fade(@ui-accent, 5%);
  }

  .validation-error {
    background-color: fade(@ui-destructive, 10%);
  }
}
