@import 'src/client/style/partials';

.contacts__button-add-container {
  display: flex;
  justify-content: flex-end;

  button.btn-add-contact {
    margin-top: $spacing-m;
    margin-right: $spacing-m;
  }
}
