@use 'sass:color';

@use 'src/client/style/partials' as *;

.country-selection-list {
  display: block;
  position: absolute;
  top: 40px;
  left: -51px;
  width: 100vw;
  background: white;
  border-radius: 2px;
  box-shadow: $shadow-3;
  z-index: $z-index-area-selector;

  @include min-width($mobile-landscape) {
    left: 0;
    min-width: 400px;
    max-width: 550px;

    &.expanded {
      max-width: unset;
      width: 1150px;
    }
  }
}

.country-selection-list__content {
  max-height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
}

.country-selection-list__global {
  margin-top: $spacing-xxs;

  hr {
    margin: $spacing-xxs 0;
  }
}

.country-selection-list__roleSection {
  border-bottom: $ui-thin-border;
  padding: $spacing-xxs 0;

  &:last-of-type {
    border: none;
  }
}

.country-selection-list__header,
.country-selection-list__row {
  display: grid;
  line-height: $spacing-xs;
  padding: $spacing-xxs $spacing-xs;

  &.hasLastPublishedLabel {
    grid-template-columns: 1fr auto;
  }
}

.country-selection-list__header,
.country-selection-list__row:not(.NONE) {
  grid-column-gap: $spacing-xxs;
  grid-template-columns: 220px 128px 1fr;

  &.expanded {
    grid-template-columns: 220px 128px repeat(4, 180px);
  }
}

.country-selection-list__header {
  color: $text-disabled;
  font-size: $font-s;
  font-weight: 600;
  text-transform: uppercase;

  &.admin {
    background-color: white;
    position: sticky;
    top: -1px;
  }
}

.country-selection-list__row {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: color.adjust($ui-bg, $lightness: -2%, $space: hsl);
    color: inherit;
  }

  &.selected {
    background-color: rgba($ui-accent-light-extra, 0.4);
    color: inherit;

    &:hover {
      pointer-events: none;
    }
  }
}

button.country-selection-list__btn-show-more {
  margin-left: $spacing-xs;
  position: absolute;
  right: $spacing-xs;
  top: 0;
}

@include rtl {
  button.country-selection-list__btn-show-more {
    left: $spacing-xs;
    right: unset;
  }
}
