@import 'src/client/style/partials';

.country-selection-list {
  display: block;
  position: absolute;
  top: 30px;
  left: -51px;
  width: 100vw;
  background: white;
  border-radius: 2px;
  box-shadow: $shadow-3;
  z-index: $z-index-area-selector;

  @include min-width($mobile-landscape) {
    left: 0;
    min-width: 400px;
    max-width: 550px;
  }
}

.country-selection-list__content {
  max-height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
}

.country-selection-list__global {
  margin-top: $spacing-xxs;

  hr {
    margin: $spacing-xxs 0;
  }
}

.country-selection-list__roleSection {
  border-bottom: $ui-thin-border;
  padding: $spacing-xxs 0;

  &:last-of-type {
    border: none;
  }
}

.country-selection-list__header,
.country-selection-list__row {
  display: grid;
  line-height: $spacing-xs;
  padding: $spacing-xxs $spacing-xs;
}

.country-selection-list__header,
.country-selection-list__row:not(.NONE) {
  grid-column-gap: $spacing-xxs;
  grid-template-columns: 220px 100px 1fr;
}

.country-selection-list__header {
  color: $text-disabled;
  font-size: $font-s;
  font-weight: 600;
  text-transform: uppercase;

  &.admin {
    background-color: white;
    position: sticky;
    top: -1px;
  }
}

.country-selection-list__row {
  &:hover {
    background-color: darken($ui-bg, 4%);
    color: inherit;
  }

  &.selected {
    background-color: $ui-accent-light-extra;
    color: inherit;
  }
}

button.country-selection-list__btn-show-more {
  align-items: center;
  color: $ui-accent;
  display: flex;
  font-size: $font-xxs;
  font-weight: bold;
  height: $spacing-m;
  margin-left: $spacing-xs;
  padding: unset;
  position: absolute;
  right: $spacing-xs;
  text-transform: uppercase;
  top: 0;
}

@include rtl {
  button.country-selection-list__btn-show-more {
    left: $spacing-xs;
    right: unset;
  }
}
