@import 'src/client/style/partials';

.country-selection-list {
  display: block;
  position: absolute;
  top: 30px;
  left: -51px;
  width: 100vw;
  background: white;
  border-radius: 2px;
  box-shadow: $shadow-3;
  z-index: $z-index-area-selector;

  @include min-width($mobile-landscape) {
    left: 0;
    min-width: 400px;
    max-width: 550px;
  }
}

.country-selection-list__content {
  max-height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
}

.country-selection-list__global {
  margin-top: 12px;

  hr {
    margin: 12px 0;
  }
}

.country-selection-list__section {
  border-bottom: $ui-thin-border;
  padding: 8px 0;

  &:last-of-type {
    border: none;
  }
}

.country-selection-list__primary-col {
  min-width: 192px;
  width: 100%;
}

.country-selection-list__secondary-col {
  margin-left: 16px;
  min-width: 128px;
  width: 100%;
  white-space: nowrap;

  &.uppercase {
    text-transform: uppercase;
  }
}

.country-selection-list__header,
.country-selection-list__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 16px;
  padding: 8px 16px;
  font-weight: normal;
}

.country-selection-list__header {
  color: $text-mute;
}

.country-selection-list__row {
  color: $text-link;
  text-decoration: none;

  &:hover {
    background-color: darken($ui-bg, 4%);
    color: inherit;
  }

  &.selected {
    background-color: $ui-accent-light;
    color: inherit;
  }
}
