@import 'client/style/partials';

.country-selection-link-landing {
  @include mixin-nav-secondary-base(12px, true);

  height: 100%;
  width: $ui-app-navigation-width;
  border-right: $ui-thin-border;
  align-items: center;

  .icon {
    height: 18px;
    width: 18px;
  }
}
