@import "../app-styles/config";

.nde__data-input-component {
  padding: 32px 32px 64px 32px;
}

.nde__comment-transition {
  transition: @ease-out;
}

.nde__data-page-header {
  .mixin-flex-header-row;
  padding-bottom: 24px;
}

.nde__data-input-header {
  text-align: right;
  padding-bottom: 24px;
}

.nde__data-chart {
  text-align: center;
  padding-bottom: 48px;
}

.nde__data-table-header {
  .mixin-flex-header-row;
  margin-bottom: 16px;
}

.nde__data-table-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;

  .odp-header-cell {
    background-color: #e5f4f6;
    background-color: fade(@ui-accent, 10%);
  }

  .fra-table__text-readonly-cell {
    text-align: right;
    background-color: #f2fafa;
    background-color: fade(@ui-accent, 5%);
  }
}

.nde__description-header {
  margin-top: 24px;
  margin-bottom: 16px;
}

.nde__comment-column {
  .fra-review__add-issue:first-of-type {
    margin-top: 83px;
  }
}

.mixin-flex-header-row() {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  > *:nth-child(n + 2) {
    margin-left: 16px;
  }

  .align-left {
    margin-right: auto;
  }

  .aling-right {
    margin-left: auto;
  }
}
