.nde__input-table {
  border-collapse: collapse;
  font-size: inherit;

  .nde__input-table-heading {
    display: flex;
    justify-content: center;
    > div {
      background: #F5F5F5;
      border: 1px solid #CCCCCC;
      padding: 10px;
      text-align: right;
      width: 100px;
      min-width: 50px;
    }
  }

  .nde__input-table-content {
    display: flex;
    justify-content: center;
    > div {
      border: 1px solid #CCCCCC;
      padding: 0;
      width: 100px;
      min-width: 50px;
    }
  }

  input {
    color: inherit;
    font-size: inherit;
    border: none;
    text-align: right;
    padding: 10px;
    width: 100%;
  }
}

.nde__status-indicator {
  position: absolute;
  font-style: italic;
  top: 22px;
  left: 2px;
}

.nde__data-input-component {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nde__data-input-header {
  display: flex;
  justify-content: space-between;
}

.nde__data-table-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  margin: 15px 0 0 15px;
}
