.nde__input-saving {
    background: yellow;
}

.nde__input-saved {
    background: green;
}

.nde__input-table {
    border-collapse: collapse;
}

.nde__input-table th {
    background: #F5F5F5 ;
    border: 1px solid #CCCCCC;
    padding: 5px;
}
