@use 'sass:color';
@import 'src/client/style/partials';

.form-cell-label {
  align-self: center;
  justify-self: right;

  label {
    color: color.adjust($text-mute, $lightness: 10%, $space: hsl);
    font-size: $font-xs;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.form-cell-error {
  align-items: center;
  display: flex;
  font-size: $font-xxs;
  font-weight: 600;
  gap: $spacing-xxxxs;
  position: absolute;
  top: calc(100% + 4px);

  svg {
    color: $ui-destructive;
    height: 12px;
    width: 12px;
  }
}

.form-cell-field {
  &.disabled {
    background-color: rgba($ui-bg, 0.8);
  }
}

.form-field__full-width {
  grid-column: 1 / 3;
}
