@import 'src/client/style/partials';

$file-drop-border-radius: 4px;
$file-drop-border-width: 2px;
$file-drop-padding: 1rem;
$file-drop-transition-time: 0.3s;

.file-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
  padding: $file-drop-padding;

  background-color: $ui-bg;
  color: $text-body;
  border-radius: $file-drop-border-radius;
  border: $file-drop-border-width dashed $ui-border;

  cursor: pointer;
  transition: all $file-drop-transition-time ease-in-out;

  div {
    font-size: $font-l;
    margin: 0;
    text-align: center;
    white-space: initial;
  }

  &:hover {
    background-color: $ui-bg-hover;
    border-color: $ui-border-dark;
  }

  &--isActive {
    background-color: $ui-accent-light-extra;
  }
}
