@import 'src/client/style/partials';

.modal-collaborator-access {
  width: 100vw;
  height: 100%;

  .modal-content {
    margin: $spacing-m $spacing-s;
    width: calc(100% - #{$spacing-s * 2});
  }

  .modal-header {
    height: $spacing-xl;
  }

  .modal-body {
    overflow-y: hidden;
    padding: unset;
    height: calc(100vh - #{$spacing-m * 2} - #{$spacing-xl}); // 100vh - margin(top and bottom) - header height
    display: grid;
    align-content: start;
    justify-content: center;
    grid-template-rows: repeat(2, $spacing-m) 1fr;

    @include min-width($laptop) {
      grid-template-columns: 512px;
    }
  }

  .label-bold {
    font-weight: bold;
  }

  .form-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
  }

  .permissions-container {
    @include min-width($laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .permissions-header-container {
    margin-top: $spacing-xxxs;
    border-bottom: 1px solid $ui-border;
  }

  .permissions-options-container {
    overflow-y: auto;
  }
}
