@import 'src/client/style/partials';

.home-user-card {
  display: grid;
  grid-template-columns: 64px auto;
  gap: $spacing-xxxs;

  align-content: center;

  justify-content: start;

  padding: $spacing-xxs;

  .user-avatar {
    grid-row: span 3;
    align-self: center;
  }

  &.invitation {
    .user-avatar,
    .user-info {
      opacity: 0.6;
    }
  }

  // Hide all buttons but not message button
  [class*='home-user-action-button-']:not([class*='home-user-action-button-message']) {
    opacity: 0;
    transition: all 0.2s ease;
  }

  &:hover {
    [class*='home-user-action-button-']:not([class*='home-user-action-button-message']) {
      opacity: 1;
    }
  }
}
