@import 'src/client/style/partials';

.dashboard__no-data {
  align-items: center;
  border: 1px solid $ui-border-light;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 240px;
}
