@import 'src/client/style/partials';

.user-list__table {
  border-collapse: collapse;
  font-size: $font-s;
  line-height: 19px;
  width: 100%;
  table-layout: fixed;

  tr {
    &.user-list__invitation-row {
      color: $text-disabled;
      &.expired {
        color: $ui-destructive;
      }
    }

    &.user-list__inactive-user {
      color: $text-disabled;
      text-decoration: line-through;
    }

    th {
      &.user-list__header-cell {
        border-bottom: $ui-thin-border;
        font-size: $font-m;
        padding: 12px 10px;
        text-align: left;
        overflow-wrap: break-word;
      }
    }

    td {
      &.user-list__cell {
        border: 1px solid transparent;
        border-bottom-color: $ui-border;
        padding: 0;
        height: 1px;
        text-align: left;
        position: relative;

        .user-list__cell--read-only {
          cursor: default;
          padding: 12px 10px;
          word-break: break-word;
        }
      }
      .btn-s {
        svg {
          margin: 0;
          height: 13px;
          width: 13px;
          color: $ui-accent;
        }
        &.btn-link-destructive {
          svg {
            color: $ui-destructive;
          }
        }
      }
    }

    th {
      &.user-list__edit-column {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .btn-s {
          margin-left: $spacing-xs;
        }
      }
    }

    td {
      &.user-list__edit-column {
        width: 140px;
        text-align: right;
      }
    }
  }
}
