@import 'src/client/style/partials';

.link-cell {
  align-items: center;
  display: grid;
  grid-column-gap: $spacing-xs;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  width: 100%;
}

.link-cell__badge {
  align-items: center;
  background-color: $ui-status-accepted;
  border-radius: 4px;
  color: white;
  display: grid;
  font-size: $font-xxxxs;
  font-weight: 600;
  height: 20px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 0;
  padding: 0 $spacing-xxs;
  text-transform: uppercase;
}

.link-cell__anchor {
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.link-cell__badge-button-container {
  display: flex;
  gap: $spacing-xs;
}
