@use 'src/client/style/partials' as *;

.table-grid {
  font-size: $font-s;
  line-height: 19px;
  overflow-x: auto;
  width: 100%;
}

@include print {
  .table-grid {
    overflow-x: hidden;
  }
}

.table-grid-actions {
  display: flex;
  gap: $spacing-xxxxs;
}

.table-grid-container {
  margin-bottom: 28px;
  overflow-x: auto;

  &.secondary-table {
    margin-top: $spacing-xs;
    min-width: 320px;
    width: 50%;
  }
}

@include print {
  .table-grid-container {
    overflow-x: hidden;
  }
}

// TODO: delete once when the tables using it are refactored
.fra-table__scroll-wrapper {
  align-content: start;
  display: grid;
  justify-items: start;
}
