@import 'src/client/style/partials';


.table__grid {
  overflow-x: auto;
  width: 100%;
}

// TODO: fra prefix is left with old mode consistency. refactor later on
.fra-table__scroll-wrapper {
  align-content: start;
  display: grid;
  justify-items: start;
}

.fra-table__editor {
  display: flex;
  justify-self: start;

  .button:not(:first-child) {
    margin-left: 1px;
  }
}
