@import '_legacy_webapp/style/partials';

.modal-country-select {
  width: 100vw;
  height: 100%;

  .filter {
    width: 200px;
    padding: 7px 9px;
    border: 1px solid #888;

    @include min-width($laptop) {
      width: 400px;
    }
  }

  .modal-content {
    margin: $spacing-m $spacing-s;
    width: calc(100% - #{$spacing-s * 2});
  }

  .modal-body {
    overflow-y: auto;
    height: calc(100vh - 87px - 85px);
  }

  .modal-footer {
    .btn {
      width: 100px;
      justify-self: center;
      margin-left: 12px;

      @include min-width($tablet-portrait) {
        width: 200px;
      }

      &.btn-primary {
        @include min-width($laptop) {
          margin: auto;
          position: relative;
          left: -100px;
        }
      }
    }
  }
}
