@import 'src/client/style/partials';

.geo-map-section-panel-container {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 30px 25px;

  > p {
    margin: 30px 0 20px 0;
  }
}

.geo-map-section-panel-layers {
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}
