.pan-european__container {
  display: flex;
  justify-content: space-between;
}

.pan-european__buttons {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin: 0 10px;
  }
}
