@import 'src/client/style/partials';

.admin-countries__country-link {
  color: $text-body;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: $spacing-xxxs;
  align-items: center;
  justify-content: start;
  justify-items: start;
  text-decoration: none;

  &:hover {
    svg {
      color: $ui-accent;
    }
  }
}
