@import 'src/client/style/partials';

.statistics {
  // Makes the statistics divs be the same length as the button.
  > div {
    width: 100%;
  }
}

.geo-map-menu-button-statistics {
  &.selected {
    width: 700px;
  }
}

.geo-map-alt-message {
  padding: 0 0 $spacing-m $spacing-m;
}

.geo-map-menu-statistics-btn-download {
  float: right;
  width: 150px;
  margin: $spacing-s $spacing-l $spacing-s;
}

.table-title {
  padding: 0 0 $spacing-s $spacing-m;
  margin: auto;
}
