@use 'src/client/style/partials' as *;

.repository-list-item {
  align-items: center;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  min-height: 32px;

  &:nth-child(even) {
    background-color: $ui-bg-light;
  }

  &:hover {
    background-color: $ui-accent-light;
  }
}
