@use 'src/client/style/partials' as *;

.repository-list-item {
  align-items: center;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  min-height: 32px;
  padding-right: $spacing-xxs;

  &:nth-child(even) {
    background-color: $ui-bg-light;
  }

  &:hover {
    box-shadow: inset 0 0 50px 10px $ui-accent-light;
  }
}
