@import (reference) "../app-styles/config";

@dashboard-border: 1px solid #eeeeee;

.dashboard__page-header {
  max-width: 1280px;
  margin: 0 auto 24px;
}

.dashboard__container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.dashboard__main {
  padding-right: 16px;
  width: 60%;
}

.dashboard__main-title {
  margin-bottom: 16px;
}

.dashboard__sidebar {
  padding-left: 16px;
  width: 40%;
}

// Activity

.dashboard__activity-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: @dashboard-border;
  padding: 10px 0;
}

.dashboard__activity-avatar {
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  height: 28px;
  width: 28px;
  margin-right: 12px;
}

.dashboard__activity-name {
  span, strong {
    margin-right: 4px;
  }
}

.dashboard__activity-time {
  color: @text-mute;
  font-size: @font-s;
  margin-left: auto;
  white-space: nowrap;
}

.dashboard__activity-empty {
  border-top: @dashboard-border;
  color: @text-disabled;
  padding: 48px;
  text-align: center;
}

.dashboard__activity-empty-title {
  color: @text-body;
  font-weight: 700;
  margin-top: 20px;
}


// Table

.dashboard__table {
  border-collapse: collapse;
  line-height: 20px;
  width: 100%;
  margin-bottom: 32px;

  td, th {
    padding: 10px 20px 10px 0;
    text-align: left;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    font-size: @font-l;
    color: @text-heading;
  }

  td {
    font-size: @font-m;
    border-top: @dashboard-border;
  }
}

// List

.dashboard__list {
  list-style: none;
  margin: 0 0 24px 0;
  padding: 0;
}

.dashboard__list-heading {
  margin-bottom: 12px;
}

.dashboard__list-item {
  margin: 4px 0;
}

.dashboard__list-item-year {
  margin-right: 16px;
  font-weight: 700;
}

// Block

.dashboard__block {
  margin-bottom: 24px;

  p {
    margin: 12px 0;
  }
}

.dashboard__block-heading {
  margin-bottom: 12px;
}

// Misc

.dashboard__version {
  color: @text-disabled;
  font-size: @font-xs;
  margin-top: 16px;
}

.dashboard__logos {
  display: block;
  max-width: 100%;
  margin: 32px 0;
}
