@import (reference) 'webapp/main/styles/config';

.statistical-factsheets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 260px 240px 240px 380px;
  grid-template-areas:
    'forest-area carbon-growing-stock'
    'forest-area-percent primary-forest'
    'forest-area-protected-areas forest-ownership'
    'primary-designated-management-objective naturally-regenerating-forest';

  > div {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 30px 40px;
    &:not(:nth-child(1)):not(:nth-child(2)) {
      border-top: @ui-thin-border;
    }
  }

  .header {
    text-align: center;
    font-size: @font-l;
    margin-bottom: 12px;
  }

  .fra-table__container {
    margin-bottom: unset;
  }

  .fra-table {
    tbody th,
    tbody td {
      padding: 10px;
      min-width: unset;
    }
  }
}
