.data-grid-column {
  color: #555;
  border-collapse: collapse;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #dadada;
  border-top: none;

  &.head {
    --ui-accent: $ui-accent;
    --ui-accent-light: #c4e7eb;
    --ui-bg: #f5f5f5;
    --ui-bg-hover: #ebebeb;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    direction: ltr;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 19px;
    box-sizing: inherit;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid #dadada;
  }
}
