@import (reference) "../app-styles/fraTable";

.nwfpr__currency-table-wrapper {
  margin-top: 15px;
  width: 50%;
  min-width: 320px;
}

.nwfpr__currency-heading-cell {
  .mixin-table-cell-base(left, 700, 10px);
}
