@import 'client/style/partials';

.edit-user__form-item {
  display: flex;
  padding: 10px;
  height: 60px;
}

.edit-user__form-label {
  flex: 0 1 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $font-xxs;
  color: lighten($text-mute, 10%);
}

.edit-user__form-field {
  position: relative;
  border: $ui-thin-border;
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
}

.edit-user__form-field-disabled {
  @extend.edit-user__form-field;
  color: $text-disabled;
}

.edit-user__form-item-picture {
  @extend.edit-user__form-item;
  height: auto;

  .edit-user__form-field {
    border: none;
    padding: 10px 0;
  }

  .btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.edit-user__picture-img {
  border-radius: 100%;
  width: 85px;
  height: 85px;
}

.edit-user__picture-img-invalid {
  position: absolute;
  bottom: -5px;
  color: lighten($ui-destructive, 1%);
  font-weight: bold;
  font-size: $font-xs;
}

.country-select {
  .modal-content {
    margin: 2.5vh;
    animation-duration: 0.1s;
  }

  .modal-header {
    height: 5vh;
  }

  .modal-body {
    overflow: auto;
    height: 80vh;
  }

  .modal-footer {
    padding: 0;
    height: 10vh;
  }
}
