@import 'client/style/partials';

.toaster-container {
  max-width: 240px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: $z-index-popover;

  @include min-width($tablet-portrait) {
    min-width: 560px;
  }
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
  &.error {
    color: rgb(167, 54, 54);
    background-color: rgb(253, 244, 244);
    border-color: rgb(209, 67, 67);
    .toast-icon {
      color: rgb(167, 54, 54);
    }
  }
  &.info {
    color: rgb(41, 82, 204);
    background-color: rgb(243, 246, 255);
    border-color: rgb(51, 102, 255);
    .toast-icon {
      color: rgb(41, 82, 204);
    }
  }
  &.success {
    color: rgb(49, 113, 89);
    background-color: rgb(245, 251, 248);
    border-color: rgb(82, 189, 149);
    .toast-icon {
      color: rgb(49, 113, 89);
    }
  }
  &.warning {
    color: rgb(153, 106, 19);
    background-color: rgb(255, 250, 242);
    border-color: rgb(255, 176, 32);
    .toast-icon {
      color: rgb(153, 106, 19);
    }
  }
  .toast-icon {
    margin-right: 8px;
  }
  .toast-close {
    margin-left: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
