@import 'src/client/style/partials';

.table-paginated-filters {
  align-items: center;
  display: flex;
  gap: $spacing-xxs;
  height: 30px;
  width: 100%;

  svg.icon_filter {
    color: $ui-accent-dark;
  }
}
