.pan-eu-home {
  .partners {
    padding: 72px 0 0;
    display: grid;
    justify-items: center;
    grid-row-gap: 32px;

    hr {
      justify-self: normal;
      margin-bottom: 16px;
    }
  }

  .partners__disclaimer {
    display: flex;
    align-items: center;

    a {
      margin-left: 4px;
    }
  }

  .partner_che {
    margin-left: 12px;
    height: 50px;
  }
}
