.pan-eu-home {
  .partners {
    padding: 72px 0 0;
    display: grid;
    justify-items: center;
    grid-row-gap: 32px;

    hr {
      justify-self: normal;
      margin-bottom: 16px;
    }
  }

  .partners__disclaimer {
    position: relative;
  }

  .partner_che {
    position: absolute;
    top: -2px;
    margin-left: 12px;
    width: 200px;
    height: unset;
  }
}
