@import (reference) 'webapp/main/styles/config';

.pan-eu-home {
  .partners {
    padding: 0;
    display: grid;
    justify-items: center;
    grid-row-gap: 32px;

    hr {
      justify-self: normal;
      margin-bottom: 0;
    }
  }

  .partners__disclaimer {
    display: grid;
    align-items: center;
    grid-row-gap: 24px;
  }

  .partners__disclaimerLogos {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 60px;

      &:not(:last-child) {
        margin-right: 48px;
      }
    }

    img.forestEurope {
      height: 70px;
    }
  }

  .partners__disclaimerText {
    display: flex;
    align-items: center;
  }

  a {
    color: @text-body;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
