@use 'src/client/style/partials' as *;

:root {
  --ui-accent: $ui-accent;
  --ui-accent-light: $ui-accent-light;
  --ui-accent-light-extra: $ui-accent-light-extra;
  --ui-bg: $ui-bg;
  --ui-bg-hover: $ui-bg-hover;
}
