@import 'src/client/style/partials';

.nav-geo {
  display: grid;

  .hr {
    display: none;
    width: calc(100% - $spacing-xxxs);
    justify-self: center;
    opacity: 0.9;
  }

  .hr:has(+ .nav-geo-section.expanded) {
    display: block;
  }
}
