@import 'src/client/style/partials';

.geo-tree-cover-percentage__container {
  padding: 0 $spacing-xs $spacing-xxs $spacing-xs;
  width: 100%;
  > p {
    font-size: $font-s;
    font-weight: bold;
  }
}

.geo-tree-cover-percentage__radio-button {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  > label {
    font-size: $font-xs;
    font-weight: bold;
  }
}

.geo-tree-cover-percentage__radio-buttons-container {
  border: 1px solid $ui-border;
  display: flex;
  justify-content: space-between;
  padding: $spacing-xs;
}
