@import 'src/client/style/partials';

.landing__page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing__page-container-header {
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
}

.landing__page-container-item {
  width: 50%;
  padding: 8px;
}

//Milestones
.landing__milestones-container {
  @extend .landing__page-container;
  width: 100%;
}

.landing__milestones-content {
  display: flex;
  width: 100%;
}

.landing__milestone-group-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 8px;
}

.landing__milestone-group-year {
  font-size: $font-m;
  font-weight: bold;
  text-align: center;
}

.landing__milestone-item {
  padding: 14px 10px;
  border: 1px solid $ui-border-light;
  background-color: lighten($ui-bg, 1%);
  margin-top: 12px;
}

.landing__milestone-item-date {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: $font-xxs;
  color: lighten($text-mute, 10%);
  text-align: center;
  font-weight: bold;
}

.landing__milestone-item-desc {
  text-align: center;
}

// MessageBoardUsers
.landing__users-container-header {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;

  button {
    margin-left: 14px;
    margin-top: 0 !important;
  }

  .support-text {
    color: $text-mute;
    margin-left: 14px;
    font-size: $font-s;
    font-weight: normal;
  }
}

.landing__message-board-container {
  width: 100%;
  display: grid;
  //border: 2px solid $ui-border;
  background: lighten($ui-bg, 1%);
  border: 1px solid $ui-border-light;
}

.landing__message-board {
  //width: 40% !important;
  justify-self: center;

  .landing__user-outer-container {
    flex: 0 1 50%;
  }
}

.landing__users-container {
  @extend .landing__page-container !optional;
  width: 100%;
  padding: 32px 8px 0 8px;
}

.landing__user-outer-container {
  padding: 6px 12px;
  flex: 0 1 25%;
}

.landing__user-container {
  padding: 14px 10px;
  border: 1px solid $ui-border-light;
  background-color: white;
  //margin: 0 1% 10px 1%;
  line-height: 18px;
}

.landing__user-header {
  display: flex;
  align-items: center;
}

.landing__user-avatar {
  flex: 0 0 auto;
  width: 42px;
  height: 42px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  margin-right: 12px;

  &.country {
    aspect-ratio: 4/3;
    border-radius: $spacing-xxxxs;
    height: unset;
  }
}

.landing__user-info {
  flex-grow: 2;
  text-align: center;
}

.landing__user-name {
  font-weight: 600;

  &.session-user {
    color: $ui-accent;
  }
}

.landing__user-role {
  color: $text-mute;
}
