@import 'src/client/style/partials';
@import 'client/components/Inputs/InputText/InputText';

.repository-form__selected-file {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: $spacing-xxs;
  text-decoration: none;
}
