@import 'src/client/style/partials';

.admin-view {
  padding: $spacing-s;
}

.admin__page-header {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;

  .admin__page-title {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: $font-xxl;
  }
}

.admin__page-menu {
  align-items: start;
  background-color: white;
  display: flex;
  overflow-x: auto;
  padding-top: $spacing-xxs;
  position: sticky;
  top: 0;

  .admin__page-menu-button {
    border-radius: unset;
    font-size: $font-l;
    font-weight: normal;
    margin: 0;
    color: $text-body;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 2px solid $ui-border;

    &:hover {
      color: $ui-accent;
    }

    &.disabled,
    &:disabled {
      border-bottom-color: $ui-accent;
      color: $ui-accent;
      opacity: 1;
      pointer-events: none;
    }
  }
}

.admin__page-content {
  padding: $spacing-xs 0;

  .table-paginated-datagrid .data-grid-column.head {
    position: sticky;
    top: 42px;
  }

  .table-paginated-actions {
    background-color: #ffffff;
    position: sticky;
    top: 42px;

    + .table-paginated-datagrid .data-grid-column.head {
      position: sticky;
      top: 82px;
    }
  }
}
