@import 'src/client/style/partials';

.app-header-link-home {
  position: absolute;
  right: $spacing-xs;
  color: $text-link;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: darken($text-link, 10%);
    height: 28px;
    width: 28px;
  }

  @include min-width($laptop) {
    position: unset;
    right: unset;
  }

  &:hover {
    color: $ui-accent-dark;
  }

  &.active {
    color: $ui-accent;
    pointer-events: none;

    svg {
      color: $ui-accent;
    }
  }
}
