@import 'src/client/style/partials';

.geo-map-menu-item-header {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

.geo-map-menu-item-header-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .fra-checkbox {
    margin: 0 10px 0 5px;
    cursor: pointer;
  }
  > .failed {
    border-color: red;
  }
}

.geo-map-menu-item-header-title {
  font-size: $font-xl;
  margin: 0 0 0 5px;
}

.geo-map-menu-item-header-icon-expand {
  margin: 0 0 0 auto;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

// Free to use from: https://loading.io/css/ (adapted)
.geo-map-menu-list-element-loading-status-loading {
  display: inline-block;
  width: 14px;
  height: 100%;
  margin: 0 10px 0 5px;
}
.geo-map-menu-list-element-loading-status-loading:after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #1798a5;
  border-color: #1798a5 transparent #1798a5 transparent;
  animation: geo-map-menu-list-element-loading-status-loading 1.2s linear infinite;
}
@keyframes geo-map-menu-list-element-loading-status-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
