@import 'src/client/style/partials';
@import 'src/client/styles/spinner';

.geo-map-menu-item-header {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

.geo-map-menu-item-header-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .fra-checkbox {
    margin: 0 10px 0 5px;
    cursor: pointer;
  }
  > .failed {
    border-color: red;
  }
}

.geo-map-menu-item-header-title {
  font-size: $font-xl;
  margin: 0 0 0 5px;
}

.geo-map-menu-item-header-icon-expand {
  margin: 0 0 0 auto;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
