@use 'src/client/style/partials' as *;

.country-multiselect__tooltip {
  max-width: none !important;

  .regions-container {
    column-gap: $spacing-xs;
    display: grid;
    font-size: $font-xs;
    max-height: 500px;
    max-width: calc(100vw - 48px);
    overflow-x: scroll;
    overflow-y: scroll;
    pointer-events: auto;
    row-gap: $spacing-xxxs;

    .region-title {
      align-self: end;
      background-color: $infoTooltipBgColor;
      font-weight: bold;
      padding-bottom: $spacing-xxxs;
      position: sticky;
      text-align: center;
      top: 0;
    }

    .countries-container {
      display: grid;
      height: min-content;
      align-items: center;

      .country {
        box-shadow: 0px -2px 4px -4px rgba($ui-accent, 1);
        max-width: 170px;
        min-height: $spacing-s;
        padding: $spacing-xxxs 0;
        white-space: wrap;
      }
    }
  }

  &.navigation-visible {
    .regions-container {
      max-width: calc(100vw - 84px - #{$ui-app-navigation-width + 1});
    }
  }
}
