@use 'src/client/style/partials' as *;

.results-table {
  width: calc(100vw - #{$spacing-m});

  @include min-width($laptop) {
    flex: 1;
    width: auto;
  }

  .copyright {
    text-align: left;
  }

  .timestamp {
    opacity: 0;
  }
}

.results-table__title {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;

  .select__control {
    padding: unset;
  }
}
