@import 'src/client/style/partials';

.dropzone {
  align-items: center;
  background-color: $ui-bg;
  border-radius: 4px;
  border: 2px dashed $ui-border;
  color: $text-body;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  div {
    margin: 0;
    text-align: center;
    font-size: $font-l;
    white-space: initial;
  }

  &--isActive {
    background-color: $ui-accent-light-extra;
  }

  &:hover {
    background-color: $ui-bg-hover;
    border-color: $ui-border-dark;
  }
}
