@import '_legacy_webapp/style/partials';

.modal-country-select-body {
  display: grid;
  grid-row-gap: $spacing-xxs;

  @include min-width($laptop) {
    display: flex;
    justify-content: space-evenly;
  }

  select {
    width: 100%;
  }
}
