@import 'src/client/style/partials';

.nav-assessment-status-confirm__message {
  resize: none;
  outline: none;
  display: block;
  overflow-x: hidden; // Removes scrollbar

  width: 100%;
  min-height: 100%;
  background: transparent;
  border: $ui-thin-border;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  padding: 10px;

  &:focus {
    outline: none;
    //box-shadow: 0 0 0 1px $text-body;
  }

  &::placeholder {
    color: $text-disabled;
  }
}

.nav-assessment-status-confirm__notify-users,
.nav-assessment-status-confirm__notify-self {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;

  .fra-checkbox {
    margin-right: 7px;
  }

  &:hover {
    cursor: pointer;
  }
}
