@use 'sass:color';

@import 'src/client/style/partials';

.nav-header__status {
  align-items: center;
  border-radius: 2px;
  color: white;
  display: flex;
  font-size: $font-s;
  font-weight: 600;
  gap: 4px;
  height: $spacing-m;
  justify-self: start;
  letter-spacing: 0.25px;
  padding: 0 12px;
  text-transform: uppercase;
  transition: $ease-out;

  &.actionable-true {
    cursor: pointer;

    &:hover,
    &.active {
      box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
    }
  }

  &.status-undefined {
    visibility: hidden;
  }

  &.status-notStarted {
    background-color: $ui-status-notStarted;
  }

  &.status-editing {
    background-color: $ui-status-editing;
  }

  &.status-review {
    background-color: $ui-status-review;
  }

  &.status-approval {
    background-color: $ui-status-approval;
  }

  &.status-accepted {
    background-color: $ui-status-accepted;
  }

  &.status-published {
    background-color: $ui-status-published;
  }
}
