@import 'src/client/style/partials';

.nav-header__status {
  display: inline-block;
  border-radius: 2px;
  font-size: $font-s;
  color: white;
  padding: 4px 10px;
  transition: $ease-out;
  justify-self: start;

  &.actionable-true {
    cursor: pointer;

    &:hover,
    &.active {
      box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
    }
  }

  .icon {
    margin-left: 4px;
  }

  &.status-undefined {
    visibility: hidden;
  }

  &.status-notStarted,
  &.status-changing,
  &.status-editing {
    background-color: $ui-status-editing;
  }

  &.status-review {
    background-color: $ui-status-review;
  }

  &.status-accepted {
    background-color: $ui-status-accepted;
  }

  &.status-approval {
    background-color: $ui-status-review;
  }
}
