@import 'src/client/style/partials';

.nav-header__status {
  align-items: center;
  border-radius: 2px;
  color: white;
  display: flex;
  font-size: $font-s;
  font-weight: 600;
  justify-self: start;
  letter-spacing: 0.25px;
  padding: $spacing-xxxs $spacing-xxs;
  text-transform: uppercase;
  transition: $ease-out;

  &.actionable-true {
    cursor: pointer;

    &:hover,
    &.active {
      box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
    }
  }

  .icon {
    margin-left: 4px;
  }

  &.status-undefined {
    visibility: hidden;
  }

  &.status-notStarted,
  &.status-changing,
  &.status-editing {
    background-color: $ui-status-editing;
  }

  &.status-review {
    background-color: $ui-status-review;
    border: 1px solid darken($ui-status-review, 5%);
  }

  &.status-accepted {
    background-color: $ui-status-accepted;
  }

  &.status-approval {
    background-color: $ui-status-review;
  }
}
