@use 'src/client/style/partials' as *;

.table-grid__data-cell-flags {
  display: grid;
  grid-column-gap: $spacing-xxxs;
  grid-template-columns: repeat(3, auto);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
