@import 'src/client/style/partials';

.disclaimer {
  font-size: $font-l;
  font-weight: 200;
}

@media print {
  .disclaimer {
    padding: 60px 0;
  }
}

.table-of-content__header {
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
}

.table-of-content__list {
  letter-spacing: 0.5px;
  padding: 20px 40px;
  list-style: none;

  li {
    margin: 20px 10px;
    font-size: 17px;
    font-weight: 200;

    &:not([data-idx='0'])::before {
      content: attr(data-idx) '. ';
    }
  }

  a {
    color: $text-body;
    text-decoration: unset;
  }
}
