@use 'src/client/style/partials' as *;

.assessment-status-confirm__message {
  resize: none;
  outline: none;
  display: block;
  overflow-x: hidden; // Removes scrollbar

  width: 100%;
  min-height: 100%;
  background: transparent;
  border: $ui-thin-border;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  padding: 10px;

  &:focus {
    outline: none;
    //box-shadow: 0 0 0 1px $text-body;
  }

  &::placeholder {
    color: $text-disabled;
  }
}
.assessment-status-confirm__body {
  display: grid;
  gap: $spacing-xs;

  .button-checkbox {
    justify-self: center;
  }
}

.assessment-status-confirm__loading {
  color: $text-disabled;
  display: flex;
  justify-content: center;
  padding: $spacing-s;
}

.assessment-status-confirm__notice {
  align-items: center;
  border-radius: $spacing-xxs;
  display: grid;
  gap: $spacing-xs;
  grid-template-columns: auto 1fr;
  padding: $spacing-s;
}

.assessment-status-confirm__notice-error {
  background-color: rgba($ui-destructive, 0.06);
  border: 1px solid $ui-destructive;
}

.assessment-status-confirm__notice-icon {
  color: $ui-destructive;
  height: $spacing-s;
  width: $spacing-s;
}

.assessment-status-confirm__notice-content {
  color: $text-body;
  display: grid;
  gap: $spacing-xxs;
  line-height: 1.4;
  text-align: left;
}

.assessment-status-confirm__notice-text {
  color: $text-body;
}

.assessment-status-confirm__notice-link {
  .link {
    display: inline;
  }
}
