.statistical-factsheets {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 220px);
  grid-template-areas: 'forest-area forest-area forest-area carbon-growing-stock carbon-growing-stock carbon-growing-stock';

  > div {
    padding: 12px 24px;
  }

  .header {
    text-align: center;
  }
}
