@import 'client/style/partials';

.geo-map-menu-button-mosaic {
  &.selected {
    width: 650px;
  }
}

.geo-map-menu-mosaic-separator {
  margin: 0 0 15px 0;
  width: 100%;
  border-top: 1px solid gray;
}
