.ae__container {
  position: fixed;
  top: 50px;
  left: 40%;
  width: 20%;
  text-align: center;
  padding: 10px;
  background: white;
  border: 2px solid rgba(223, 92, 92, 0.31)
}

.ae__clear-button {
  position: absolute;
  top: 3px;
  right: 0;
  border: none;
  background: none;
}