@import 'src/client/style/partials';

.landing__repository-header {
  margin-top: $spacing-s;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin-left: 12px;
  }
}
