@use 'sass:color';

@import 'src/client/style/partials';

.edit-user__form-field-role-countries {
  flex-wrap: wrap;
  position: relative;
}

.edit-user__form-field-country-box {
  border: $ui-thin-border;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: color.adjust($ui-bg, $lightness: 1%, $space: hsl);
  color: color.adjust($text-disabled, $lightness: -15%, $space: hsl);
  margin: 5px 2.5px 0;
}
