@import 'src/client/style/partials';

.odp__section {
  margin: $spacing-m 0;

  > .subhead,
  > .headline {
    margin-bottom: $spacing-xs;
  }
}

.odp__section-header {
  display: flex;
  align-items: baseline;
  margin-bottom: $spacing-xs;

  > * {
    margin-right: $spacing-xs;
  }
}

// custom data grid
.odp__section {
  .data-grid {
    svg.icon-reference-files {
      stroke: none;
    }
  }
}
