@import (reference) "../app-styles/config";
@import (reference) "../app-styles/buttons";

.definition-link {
  .link;
  color: darken(@ui-accent, 2%);
  white-space: nowrap;

  &:hover {
    color: darken(@ui-accent, 4%);
  }
}
