@import (reference) '../app-styles/config';

.emoji-button-toggle {
  position: relative;
  cursor: pointer;
  margin-right: 6px;
}

.emoji-mart, .emoji-mart-search {
  font-size: @font-m !important;
}

.emoji-mart-scroll {
  border-bottom: none !important;
}

.emoji-mart-preview {
  display: none;
}

.emoji-mart-anchors {
  svg {
    width: 18px;
    height: 18px;
  }
}

.emoji-mart-anchor {
  padding: 10px 4px;
}
