@import (reference) "../app-styles/fraTable.less";

.percent__field {
  position: relative;
  height: 100%;
  line-height: 20px;
  text-align: right;
}

.percent__input-field {
  .mixin-input-base(30px);
}

.percent__readonly-view {
  position: absolute;
  top: 50%;
  right: 30px;
  left: 10px;
  height: 20px;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.percent__sign {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 15px;
  height: 20px;
  margin-top: -10px;
}
