@import (reference) "../app-styles/config";

.vgtf__container {
  position: relative;
  height: 100%;
}

.vgtf__textarea {
  resize: none;
  outline: none;
  display: block;
  overflow: hidden;  // Removes scrollbar

  width: 100%;
  min-height: 100%;
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  padding: 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px @text-body;
  }

  &::placeholder {
    color: @text-disabled;
  }
}
