@import 'src/client/style/partials';

.edit-user__form-field {
  &.edit-user__form-input-text-field {
    input {
      background: transparent;
      border: none;
      padding: 10px;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $text-body;
      }
    }
  }

  &.error {
    input {
      background-color: rgba($ui-destructive, 0.1) !important;
    }
  }
}
