@import "../app-styles/config";
@import "../app-styles/buttons";

.login__root {
  position: absolute;
  top: 0;
  left: 0;
  background-color: @ui-bg;
  width: 100%;
  height: 100%;
}

.login__wrapper {
  margin: 0 auto;
  max-width: 480px;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.login__fao-logo {
  display: block;
  width: auto;
  height: 60px;
  margin: 0 auto;
}

.login__legal {
  text-align: center;
  color: #999;
  font-size: @font-s;
}

.login__tucan {
  position: absolute;
  right: -34px;
  top: 23px;
}

.login__fail {
  margin-bottom: 16px;
}

.login__box {
  margin-top: 24px;
  padding: 64px 32px;
  border-radius: 2px;
  background-color: white;
  box-shadow: @shadow-1;
  border: @ui-thin-border;
  text-align: center;
}

.login__header {
  margin-bottom: 24px;
}

.login__input-group {
  margin-bottom: 16px;

  label {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
  }

  input[type="password"],
  input[type="text"] {
    background-color: white;
    border-radius: 2px;
    border: @ui-thin-border;
    color: @text-body;
    font-size: @font-m;
    line-height: 20px;
    padding: 8px 10px;
    width: 100%;
  }
}

.login__checkbox-group {
  margin-bottom: 24px;

  input {
    font-size: 16px;
    margin-left: 0;
    margin-right: 8px;
  }
}
