@import 'client/style/partials';

.geo-map-menu-mosaic-select-header {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

.geo-map-menu-mosaic-select-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  > p {
    font-size: $font-xl;
    margin: 0 0 0 0;
  }

  > .fra-checkbox {
    margin: 0 10px 0 0;
    cursor: pointer;
  }
}

.geo-map-menu-mosaic-icon-expand {
  margin: 0 0 0 auto;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
