@import 'src/client/style/partials';
@import 'src/client/styles/config';
@import 'src/client/styles/buttons';

.geo-map-menu-tree-cover-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;

  > div {
    flex-direction: row;
    margin: 0 0 0 0;
    min-height: 40px;
    justify-content: space-between;

    > p {
      font-size: $font-l;
      text-justify: left;
      width: 165px;
      margin: 0 auto 0 0;
      display: inline-block;
      vertical-align: middle;
    }

    > div {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
      margin: 0 0 10px 0;

      input {
        width: 200px;
        vertical-align: middle;
        margin: 0 10px 0 auto;
      }
      fieldset {
        display: flex;
        flex-direction: row;
        border: 1px solid $ui-border;
        justify-content: space-between;
        > label {
          display: flex;
          margin: 10px 0 5px 0;
          width: 15%;
          flex-direction: column;
          > input[type='radio'] {
            display: flex;
            padding: 5px;
            width: 100%;
            margin-left: 0px;
            align-self: center;
          }
        }
      }
      small {
        vertical-align: middle;
        font-size: normal;
        font-weight: bold;
      }
    }
  }
}
