@import 'src/client/style/partials';

.geo-statistics-section__collapse-button {
  align-items: center;
  all: unset;
  display: flex;
}

.geo-statistics-section__container {
  width: 100%;
}

.geo-statistics-section__content-container {
  padding: 0 $spacing-xs $spacing-xs $spacing-xs;
}

.geo-statistics-section__separator {
  border-bottom: 1px solid $ui-border;
  margin: 0;
  width: 100%;
}

.geo-statistics-section__title {
  margin: 0;
}

.geo-statistics-section__title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: $font-l;
  justify-content: space-between;
  min-height: $spacing-xl;
  padding: $spacing-s $spacing-xs;
}
