@use 'src/client/style/partials' as *;

.select__group-collapsible-heading {
  position: sticky;
  top: 0;

  .flex {
    flex-grow: 1;
  }
}

.select__group-collapse-button {
  all: unset;
  align-items: center;
  display: flex;
  padding: 0 $spacing-xxs;

  .icon {
    transition: $ease-out;
  }

  &.expanded {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.select__group-label--clickable {
  all: unset;
  cursor: pointer;
}
