@import "../app-styles/config";

.fra-issue__add-issue {
  padding: 0 12px 12px;
}

.fra-issue__triangle-marker {
  position: absolute;
  top: 20px;
  left: -11px;
  width: 12px;
  height: 12px;
  overflow: hidden;

}
.fra-issue__triangle {
  position: absolute;
  top: 0;
  right: -6px;
  width: 12px;
  height: 12px;
  border: 1px solid #CCCCCC;
  background: white;
  transform: rotate(45deg);
}

.fra-issue__issue {
  position: relative;
  background: white;
  border: 1px solid #CCCCCC;
  padding: 8px 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  width: 256px;
}

.fra-issue__issue-comment-input {
  border: none;
  margin: 8px 0;
  min-height: 14px;
  max-height: 256px;
  width: 100%;
  resize: none;
  padding: 8px 16px 0;
  font-size: @font-s;
  font-family: @font-family-1;
  &:focus {
    outline: none;
  }
}

.fra-issue__comment-buttons {
  padding: 0 16px 8px;
}

.fra-issue__comment {
  padding: 8px 16px;
}

.fra-issue__comment-edit-author {
  font-size: @font-s;
  font-family: @font-family-1;
  font-weight: bold;
  padding: 8px 16px 16px;
  border-bottom: @ui-thin-border;
}

.fra-issue__comment-edit-author-empty {
  padding-bottom: 8px;
  border-bottom: @ui-thin-border;
}

.fra-issue__issue-close {

}
.fra-issue__issue-status-count {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: @ui-accent;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  font-size: @font-xs;
}

.fra-issue__issue-hidden {
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s, opacity 0.2  s linear;
}

.fra-issue__issue-visible {
  height: auto;
  width: 256px;
  visibility: visible;
  transition: width 0s, 0.1s linear;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  opacity: 1;
}

.fra-issue__issue-status-hidden {
  display: none;
}
.fra-issue__issue-status-visible {
  cursor: pointer;
}

.fra-issue__comment-add-btn {
  margin-right: 8px;

}

.fra-issue__comment-author {
  font-size: @font-s;
  font-weight: bold;
}
.fra-issue__comment-time {
  color: @text-mute;
  font-size: @font-xxs;
  margin-bottom: 6px;
}
.fra-issue__comment-text {
  font-size: @font-s;
  line-height: 1.4;
  overflow-wrap: break-word;
}
