@import 'src/client/style/partials';

.geo-map-menu-data-visualizer-agreement-levels-control {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 30px 30px;
}

.geo-map-menu-data-visualizer-agreement-levels-boxes {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;

  .geo-map-menu-data-visualizer-agreement-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &.disabled {
      color: #bdbdbd;
    }
  }

  .geo-map-menu-data-visualizer-agreement-levels-box {
    appearance: none;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    background-color: #e7e7e7;
    border: 1px solid #949495;
    border-radius: 3px;
    cursor: pointer;

    &::before {
      content: '';
      width: 1em;
      height: 1em;
    }

    &:checked {
      background-color: #262627;
      border-color: #5f5f5f;
      box-shadow: none;
    }

    &:disabled {
      background-color: #f8f7f7;
      border-color: #dedfdf;
      box-shadow: 0 0 10px 2px #efeeee inset;
      cursor: default;
    }
  }

  .disabled .icon {
    color: lightgray;
  }
}

.custom-agreement-area-container {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
}
.custom-agreement-area-scale-selector {
  height: 24px;
  width: 170px;
}

.custom-agreement-area-estimate-button {
  height: 100%;
  width: 160px;
  white-space: normal;
}

.estimation-error-message {
  color: red;
}
