@use 'sass:color';
@import 'src/client/style/partials';

.form-grid {
  border-radius: 2px;
  box-shadow: 0 0 5px 0 $ui-border;
  grid-column-gap: $spacing-xs;
  grid-row-gap: $spacing-l;
  margin: 0 auto;
  max-width: 50%;
  padding: $spacing-m $spacing-s;
}

.form-cell-label {
  align-self: center;
  justify-self: right;

  label {
    color: color.adjust($text-mute, $lightness: 10%, $space: hsl);
    font-size: $font-xs;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.form-cell-error {
  align-items: center;
  display: flex;
  font-size: $font-xxs;
  font-weight: 600;
  gap: $spacing-xxxxs;
  position: absolute;
  top: calc(100% + 4px);

  svg {
    color: $ui-destructive;
    height: 12px;
    width: 12px;
  }
}

.form-button-container {
  display: flex;
  gap: $spacing-m;
  grid-column: 1 / -1;
  justify-content: center;
  margin-top: $spacing-xs;
}
