@import 'src/client/style/partials';

.form-grid {
  border-radius: 2px;
  box-shadow: 0 0 5px 0 $ui-border;
  grid-column-gap: $spacing-xs;
  grid-row-gap: $spacing-l;
  margin: 0 auto;
  max-width: 50%;
  padding: $spacing-m $spacing-s;
}
