@import 'src/client/style/partials';

.national-class-validations {
  margin-top: $spacing-xs;
  color: $ui-destructive;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: $spacing-xxxs;
  font-size: $font-s;
  align-items: center;

  .msg {
    grid-column: 2;
  }

  svg.icon {
    color: $ui-destructive;
    width: 12px;
    height: 12px;
  }
}
