@import 'src/client/style/partials';

.repository {
  .data-grid-column {
    align-items: center;
    display: grid;
    height: $spacing-xl;
  }
}

.repository__header {
  align-items: center;
  display: flex;
  height: $spacing-s;
  justify-content: flex-start;
  margin: $spacing-m 0 $spacing-xs;

  button,
  a {
    margin-left: $spacing-xxs;
  }
}
