@import 'src/client/style/partials';

.repository {
  padding-top: $spacing-s;

  .data-grid-column {
    align-items: center;
    display: grid;
    height: $spacing-xl;
  }

  .hr {
    margin: $spacing-s auto;
    width: 50%;
  }
}

.repository__header {
  align-items: center;
  display: flex;
  height: $spacing-s;
  justify-content: flex-start;

  button,
  a {
    margin-left: $spacing-xxs;
  }
}
