@use 'src/client/style/partials' as *;

.repository {
  padding-top: $spacing-s;

  .data-cell {
    align-items: center;
    display: grid;
    height: $spacing-xl;
  }

  // Don't alter HR style between links and repository (horizontal)
  .hr:not(.vertical) {
    margin: $spacing-s auto;
    width: 50%;
  }

  h3 {
    margin-bottom: $spacing-xxs;
  }
}

.repository__header {
  align-items: center;
  display: flex;
  height: $spacing-s;
  justify-content: center;

  button,
  a {
    margin-left: $spacing-xxs;
  }
}
