@use 'sass:color';
@import 'client/style/partials';

.country-header {
  align-items: center;
  display: grid;
  grid-row-gap: 4px;
  justify-items: start;
  width: 100%;
}

.country-header__label {
  align-items: center;
  display: flex;
  gap: $spacing-s;
  height: 40px;

  .country-header__title {
    display: flex;
    gap: 8px;
  }
}

.country-header__tabs {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 100%;
  border: 1px solid $ui-border;
  padding: 2px;
  border-radius: 2px;
  background-color: $ui-bg;

  a.button__type-black.inverse {
    background-color: $ui-bg;
    color: color.adjust($ui-black-map, $lightness: 30%);

    &:hover {
      background-color: $ui-bg-hover;
    }
  }
}
