@import 'src/client/style/partials';

.modal-collaborator-access {
  width: 100vw;
  height: 100%;

  .modal-content {
      margin: $spacing-m $spacing-s;
      width: calc(100% - #{$spacing-s * 2});
    }

  .modal-body {
    overflow-y: auto;
    height: calc(100vh - 87px - 85px);
  }
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $spacing-xs;

  select {
    width: 100%;
  }

  hr {
    margin: $spacing-xxxs 0;
  }

  .form-field-label {
    text-align: left;
    flex: 0 1 100%;
  }

  .form-field-container {
    display: flex;
    flex: 0 1 25%;
    flex-flow: column;
  }
}

.form-field-container-label {
  text-align: left;
  font-weight: bold;
}

.form-field-selector {
  cursor: pointer;
  display: flex;
  padding: 5px;
  align-items: center;
  min-width: 83px;
  justify-content: center;

  .fra-checkbox {
    margin-right: 4px;
  }

  &.disabled {
    cursor: not-allowed !important;
    color: $text-disabled;
    pointer-events: none;

    .fra-checkbox {
      border: 1px solid $ui-border-light;
    }
  }
}