@import 'src/client/style/partials';

.modal-collaborator-access {
  width: 100vw;
  height: 100%;

  .filter {
    width: 200px;
    padding: 7px 9px;
    border: 1px solid #888;

    @include min-width($laptop) {
      width: 400px;
    }
  }

  .modal-content {
      margin: $spacing-m $spacing-s;
      width: calc(100% - #{$spacing-s * 2});
    }

  .modal-body {
    overflow-y: auto;
    height: calc(100vh - 87px - 85px);
  }

 .modal-footer {
    .btn {
      width: 100px;
      justify-self: center;
      margin-left: 12px;

      @include min-width($tablet-portrait) {
        width: 200px;
      }

      &.btn-primary {
        @include min-width($laptop) {
          margin: auto;
          position: relative;
          left: -100px;
        }
      }
    }
  }
}

.form-container {
  display: grid;
  grid-row-gap: $spacing-xxs;

  @include min-width($laptop) {
    display: flex;
    justify-content: center;
  }

  &.inline {
    grid-template-columns: 50% 50%;

    @include min-width($laptop) {    
      flex-direction: row;
    }
  }

  select {
    width: 100%;
  }

  hr {
    margin: $spacing-xxxs 0;
  }

  .form-field-label {
    text-align: left;
    flex: 0 1 100%;
  }

  .form-field-container {
    display: flex;
    flex: 0 1 15%;
    flex-flow: column;
  }
}

.form-field-container-label {
  text-align: left;
  font-weight: bold;
}

.form-field-selector {
  cursor: pointer;
  display: flex;
  padding: 5px;
  align-items: center;
  min-width: 83px;
  justify-content: center;

  .fra-checkbox {
    margin-right: 4px;
  }

  &.disabled {
    cursor: not-allowed !important;
    color: $text-disabled;
    pointer-events: none;

    .fra-checkbox {
      border: 1px solid $ui-border-light;
    }
  }
}