@import 'src/client/style/partials';

.description {
  grid-row-gap: $spacing-xxxs;

  .data-cell.actions {
    align-self: start;
    padding-top: $spacing-xs;
  }
}

.description__editor-container:not(.editable) {
  div.jodit-wysiwyg {
    padding: unset;
  }
}
