@use 'src/client/style/partials' as *;

.repository-folder {
  align-items: center;
  display: flex;
  gap: $spacing-xxxs;

  button {
    all: unset;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: $spacing-xxxs;
  }

  .icon_small-down {
    transform: rotate(-90deg);
    transition: $ease-out;
  }

  &.expanded {
    .icon_small-down {
      transform: unset;
    }
  }
}

.repository-list-item--folder > button {
  grid-column: 1 / -1;
}
