@use 'src/client/style/partials' as *;

.repository-folder {
  all: unset;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: $spacing-xxxs;

  .icon_small-down {
    transform: rotate(-90deg);
    transition: $ease-out;
  }

  &.expanded {
    .icon_small-down {
      transform: unset;
    }
  }
}
