@import 'src/client/style/partials';

.descriptions {
  display: grid;
  grid-row-gap: $spacing-s;
  margin-bottom: $spacing-s; // TODO: refactor section style with grid and row gap - future task
}

.descriptions__group {
  border-bottom: $ui-thin-border;
  display: grid;
  grid-row-gap: $spacing-xxs;
  padding-bottom: $spacing-xxs;
}

@include print {
  .descriptions {
    margin-bottom: unset;
  }

  .descriptions__group {
    border-bottom: unset;
    padding-bottom: unset;
  }
}
