@import "./config";

button:hover {
  cursor: pointer;
}

.btn {
  border-radius: 2px;
  border: solid 1px transparent;
  cursor: pointer;
  display: inline-block;
  font-family: @font-family-1;
  font-size: @font-m;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all .15s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: .4;
  pointer-events: none;
}

.btn-s {
  font-size: @font-s;
  padding: 5px 10px;
}

.btn-primary {
  background-color: @ui-accent;
  color: white;

  &:hover {
    background-color: darken(@ui-accent, 4%);
    color: white;
  }
}

.btn-secondary {
  background-color: @ui-bg;
  border-color: @ui-border;
  color: @text-mute;

  &:hover {
    background-color: darken(@ui-bg, 4%);
    color: @text-mute;
  }
}

.btn-destructive {
  background: transparent;
  color: @ui-destructive;
  font-weight: 400;

  &:hover {
    color: darken(@ui-destructive, 4%);
    text-decoration: underline;
  }
}
