@import (reference) "./config";
@import (reference) "./form";

.fra-table__container {
  position: relative;
}

.fra-table__scroll-wrapper {
  overflow-x: auto;
  width: 100%;
}

.fra-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 20px;
}

// Cells

.fra-table__header-cell {
  .mixin-table-header-cell-base(left, 700);
}

.fra-table__header-cell-sub {
  .mixin-table-header-cell-base(left, 400);
}

.fra-table__header-cell-sub-right {
  .mixin-table-header-cell-base(right, 400);
}

.fra-table__header-cell-right {
  .mixin-table-header-cell-base(right, 700);
}

.fra-table__header-cell-middle {
  .mixin-table-header-cell-base(center, 700);
}

.fra-table__row-header-continued-with-fillers {
  .mixin-table-header-cell-base(left, 700);
  border-right: none;
}

.fra-table__cell {
  .mixin-table-cell-base(left, 400, 0);
}

.fra-table__cell-right {
  .mixin-table-cell-base(right, 400, 0);
}

.fra-table__text-readonly-cell {
  .mixin-table-cell-base(right, 400, 0);
}

.fra-table__aggregate-cell {
  .mixin-table-cell-base(right, 700, 10px);
}

// Header override when in tbody

tbody {
  .fra-table__header-cell,
  .fra-table__header-cell-sub,
  .fra-table__header-cell-sub-right,
  .fra-table__header-cell-right {
    min-width: 200px;
  }
}

// Select

.fra-table__select {
  .mixin-select-base(10px);
  font-size: @font-s;
  border: none;
  height: 100%;
  width: 100%;

  &:focus {
    outline: 1px solid @text-body;
    outline-offset: 0px;
  }
}

.fra-table__input {
  .mixin-input-base;
}

.fra-table__integer-input {
  text-align: right;
  text-overflow: ellipsis;
  .mixin-input-base;
}

// Misc

.fra-table__row-anchor-cell {
  padding: 0;
  width: 1px;
  vertical-align: top;
}

.fra-table__filler-cell {
  border: none;
  border-bottom: 1px solid @ui-border;
  background-color: @ui-bg;
}

.fra-table__hidden-cell {
  display: none;
}

.fra-table__divider {
  border-right: 3px double @ui-border;
}

// Mixins

.mixin-table-cell-base(@align, @weight, @padding) {
  border: @ui-thin-border;
  font-weight: @weight;
  height: 36px;
  min-width: 120px;
  padding: @padding;
  text-align: @align;
  white-space: nowrap;
}

.mixin-table-header-cell-base(@align, @weight) {
  background-color: @ui-bg;
  background-color: fade(black, 4%);
  border: @ui-thin-border;
  font-weight: @weight;
  padding: 10px;
  text-align: @align;
}

.mixin-input-base() {
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  text-align: inherit;
  margin: 0;
  padding: 10px;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px @text-body;
  }

  &::placeholder {
    color: @text-mute;
  }
}
