@import (reference) "./config";
@import (reference) "./form";

.fra-table__container {
  position: relative;
}

.fra-table__scroll-wrapper {
  overflow-x: auto;
  width: 100%;
}

.fra-table {
  border-collapse: collapse;
  font-size: @font-s;
  line-height: 20px;
  width: 100%;
}

// Cells

.fra-table {
  th {
    background-color: @ui-bg;
  }

  tbody {
    th {
      min-width: 200px;
    }
  }
}

.fra-table__header-cell {
  .mixin-table-cell(700, left, 10px);
}

.fra-table__header-cell-right {
  .mixin-table-cell(700, right, 10px);
}

.fra-table__header-cell-middle {
  .mixin-table-cell(700, center, 10px);
}

.fra-table__category-cell {
  .mixin-table-cell(400, left, 10px);
}

.fra-table__category-cell-right {
  .mixin-table-cell(400, right, 10px);
}

.fra-table__subcategory-cell {
  .mixin-table-cell(400, left, 10px 10px 10px 20px);
  font-size: @font-xs;
  color: @text-mute;
}

.fra-table__cell {
  .mixin-table-cell(400, left, 0, true);
}

.fra-table__cell-right {
  .mixin-table-cell(400, right, 0, true);
}

.fra-table__calculated-cell {
  .mixin-table-cell(700, right, 10px, true);
  cursor: default;

  &:empty:after {
    content: '\2212';
    color: @text-disabled;
    font-weight: 400;
    padding-right: 2px;
  }
}

.fra-table__calculated-sub-cell {
  .mixin-table-cell(400, right, 10px, true);
  cursor: default;
}

// Helper cells

.fra-table__row-header-continued-with-fillers {
  .mixin-table-cell(700, left, 10px);
  background-color: @ui-bg;
  border-right: none;
}

.fra-table__filler-cell {
  border: none;
  border-bottom: 1px solid @ui-border;
  background-color: @ui-bg;
}

.fra-table__row-anchor-cell {
  padding: 0;
  width: 1px;
  vertical-align: top;
}

.fra-table__review-indicator-anchor {
  position: absolute;
  right: 0;
}

.fra-table__hidden-cell {
  display: none;
}

.fra-table__divider {
  border-right: 3px double @ui-border;
}

// Select cell

.fra-table__select {
  .mixin-select-base(10px);
  font-size: @font-s;
  border: none;
  height: 100%;
  min-width: 100%;

  &:focus {
    outline: 1px solid @text-body;
    outline-offset: 0px;
  }
}

// Mixins

.mixin-table-cell(@fontWeight, @align, @padding, @cell: false) {
  border: @ui-thin-border;
  font-weight: @fontWeight;
  padding: @padding;
  text-align: @align;

  & when (@cell=true) {
    white-space: nowrap;
    height: 1px;
    min-width: 120px;
  }
}
