// Fra view classes

.fra-view__container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 64px;
}

.fra-view__content {
  padding: 28px 32px 48px 32px;
}

.fra-view__page-header {
  .mixin-flex-header-row(24px, center)
}

.fra-view__section-header {
  .mixin-flex-header-row(16px, baseline)
}

.fra-view__page-header-controls {
  select {
    margin-right: 8px;
  }
}

.fra-view__header-secondary-content {
  margin: 0;
  width: 100%;

  > * {
    margin: 8px 16px 0 0;
  }

  .support-text {
    color: @text-mute;
    display: block;
  }
}

.mixin-flex-header-row(@margin, @align) {
  display: flex;
  flex-flow: row wrap;
  align-items: @align;
  justify-content: space-between;
  margin-bottom: @margin;

  > * {
    margin-left: 16px;
  }

  .title,
  .subhead {
    margin-left: 0;
  }

  .align-left {
    margin-right: auto;
  }

  .align-right {
    margin-left: auto;
  }
}
