// Fra view classes

.fra-view__container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 64px;
}

.fra-view__content {
  padding: 28px 32px 48px 32px;
}

.fra-view__page-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .margin-right {
    margin-right: 8px;
  }

  .margin-right-big {
    margin-right: 16px;
  }

  .margin-left {
    margin-left: 8px;
  }

  .margin-left-big {
    margin-left: 16px;
  }

  .align-left {
    margin-right: auto;
  }

  .align-right {
    margin-left: auto;
  }
}

.fra-view__section-toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;

  .support-text {
    color: @text-mute;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-right {
    margin-right: 8px;
  }

  .margin-right-big {
    margin-right: 16px;
  }

  .margin-left {
    margin-left: 8px;
  }

  .margin-left-big {
    margin-left: 16px;
  }

  .align-left {
    margin-right: auto;
  }

  .align-right {
    margin-left: auto;
  }
}

.fra-view__page-header-controls {
  select {
    margin-right: 8px;
  }
}

.fra-view__header-secondary-content {
  margin: 0;
  width: 100%;

  > * {
    margin: 8px 16px 0 0;
  }

  .support-text {
    color: @text-mute;
    display: block;
  }

  .support-text-right {
    color: @text-mute;
    float: right;
    margin-right: 0;
  }
}

.mixin-flex-header-row(@margin, @align) {
  display: flex;
  flex-flow: row wrap;
  align-items: @align;
  justify-content: space-between;
  margin-bottom: @margin;
}

.mixin-flex-header-row-items() {
  > * {
    margin-left: 16px;
  }

  > .align-left {
    margin-right: auto;
  }

  > .align-right {
    margin-left: auto;
  }

  h1, h2, h3 {
    margin-left: 0;
  }
}
