@import "./config";

.icon {
    display: inline-block;
    fill: rgba(0,0,0,.5);
    stroke: none;
    height: 16px;
    width: 16px;
}

.icon-24 {
    display: inline-block;
    fill: rgba(0,0,0,.6);
    stroke: none;
    height: 24px;
    width: 24px;
}


.icon-middle {
    vertical-align: middle;
    position: relative;
}

.icon-white {
    fill: white;
}

.icon-red {
    fill: @ui-destructive;
}

.icon-accent {
    fill: @ui-accent;
}
