@import "./config";

.icon {
    display: inline-block;
    fill: rgba(0,0,0,.6);
    stroke: none;
    height: 16px;
    width: 16px;
}

.icon-middle {
    vertical-align: middle;
    position: relative;
}

.icon-white {
    fill: white;
}

.icon-red {
    fill: @ui-destructive;
}
