//===WARNING==== DO NOT IMPORT SPECIFIC COMPONENT STYLES HERE
@import "./config";
//Import all common application styles
@import "./buttons";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: @text-body;
  font-family: @font-family-1;
  font-weight: 400;
  font-size: @font-m;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
  margin-top: 0;
}

h2 {
  font-size: @font-xl;
  color: @text-heading;
}

a {
  color: @ui-accent;
}

a:hover {
  color: darken(@ui-accent, 4%);
}

.fra-routes__container {
  padding: 24px;
}

.app__root {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
