//===WARNING====
// DO NOT IMPORT SPECIFIC COMPONENT STYLES HERE,
// ONLY MORE GENERAL STUFF USED IN MANY PLACES
@import "./config";
//Import all common application styles
@import "./buttons";
@import "./checkbox";
@import "./icon";
@import "./form";
@import "./fraTable";
@import "./fraView";
@import "./fraValidation";

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  color: @text-body;
  font-family: @font-family-1;
  font-weight: 400;
  font-size: @font-m;
  line-height: 20px;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  color: @text-heading;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-size: @font-xxl;

  &.only-print {
    margin-bottom: 24px;
  }
}

.headline {
  font-size: @font-xl;
}

.subhead {
  font-size: @font-l;
}

a {
  color: darken(@ui-accent, 2%);
}

a:hover {
  color: darken(@ui-accent, 4%);
}

hr {
  border: 0px;
  border-top: 1px solid @ui-border;
  margin: 24px 0;
}

.app__root {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.notfound {
  padding: 100px;
  width: 500px;
  text-align: center;
  margin: 0 auto;

  img {
    animation: wobble 0.3s ease-in-out 0.1s;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(5deg)
  }
  75% {
    transform: rotate(-5deg)
  }
  100% {
    transform: rotate(0deg)
  }
}
