//===WARNING====
// DO NOT IMPORT SPECIFIC COMPONENT STYLES HERE,
// ONLY MORE GENERAL STUFF USED IN MANY PLACES
@import "./config";
//Import all common application styles
@import "./buttons";
@import "./icon";
@import "./fraTable";
@import "./traditionalView";
@import "./form";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: @text-body;
  font-family: @font-family-1;
  font-weight: 400;
  font-size: @font-m;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  color: @text-heading;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-size: @font-xxl;
}

.headline {
  font-size: @font-xl
}

.subhead {
  font-size: @font-l
}

a {
  color: darken(@ui-accent, 2%);
}

a:hover {
  color: darken(@ui-accent, 4%);
}

hr {
  border: 0px;
  border-top: 1px solid @ui-border;
  margin: 24px 0;
}

.app__root {
  display: flex;
  flex-flow: row nowrap;
}

.fra-view-content__container {
  width: calc(~"100% - 256px");
  overflow-x: hidden;
}

.fra-view-content__container-commenting {
  width: calc(~"100% - 544px");
  overflow-x: hidden;
}

.notfound {
  padding: 100px;
  width: 500px;
  text-align: center;
  margin: 0 auto;

  img {
    animation: wobble 0.4s ease-in-out;
  }
}

@keyframes wobble {
  0%   { transform: rotate(0deg) }
  25%  { transform: rotate(5deg) }
  75% { transform: rotate(-5deg) }
  100% { transform: rotate(0deg) }
}
