/* Styles which seemed to be similar in the traditional table-views */

.tv__page-header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 24px;

  > *:nth-child(n + 2) {
    margin-left: 16px;
  }

  .align-left {
    margin-right: auto;
  }

  .aling-right {
    margin-left: auto;
  }

  .support-text {
    color: @text-mute;
    margin: 8px 0 0 0;
    width: 100%;
  }
}
