@import 'src/client/style/partials';

.nav-header__sep-container {
  display: grid;
  grid-template-columns: $spacing-xl 1fr $spacing-xl - 4;
  grid-auto-rows: $spacing-s/2;
  margin: -6px 0;

  .btn-toggle {
    grid-row: 1/3;
    grid-column: 3;
    justify-self: center;
    align-self: center;
    width: $spacing-s;
    height: $spacing-s;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: unset;
    margin-right: -1.5px;
    transition: all 0.2s;

    svg {
      color: $text-link;
      height: 15px;
      width: 15px;
      margin: unset;
    }

    &.active {
      svg {
        color: $ui-accent;
      }
    }

    &:hover {
      svg {
        transform: scale(1.025);
        color: $text-mute;
      }
    }
  }

  .hr {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    height: 1px;
    opacity: 0.8;
    $color-hr: darken($ui-border, 10%);
    background: radial-gradient($color-hr, lighten($color-hr, 32%));
  }
}
