@import 'src/client/style/partials';

.nav-assessment-header {
  margin-top: $spacing-xs;

  @include min-width($laptop) {
    margin-top: 0px;
  }

  .nav-assessment-header__toggler {
    padding: $spacing-xxs $spacing-xxs $spacing-xxs $spacing-xs;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .desk-study {
      color: $text-mute;
      font-size: $font-xs;
    }

    .nav-assessment-header__btn-toggle-sections {
      justify-self: right;
      font-weight: 400;
      transition: $ease-out;
      text-decoration: none;
      color: $text-mute;

      &:hover {
        color: $text-body;
      }
    }
  }

  hr {
    margin: $spacing-xxs 0;
  }
}
