@use 'sass:color';
@use 'sass:math';
@use 'src/client/style/partials' as *;

.nav-header__sep-container {
  display: grid;
  grid-template-columns: $spacing-xl 1fr $spacing-xl - 4;
  grid-auto-rows: math.div($spacing-s, 2);
  margin: -6px 0;

  .btn-toggle {
    grid-column: 3;
    grid-row: 1/3;
  }

  .hr {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    $color-hr: color.adjust($ui-border, $lightness: -10%, $space: hsl);
  }
}
