@import 'src/client/style/partials';

.nav-header {
  margin-top: $spacing-xs;

  @include min-width($laptop) {
    margin-top: $spacing-xxxs;
  }
}

.nav-header__sep-container {
  display: grid;
  grid-template-columns: $spacing-xl 1fr $spacing-xl - 4;
  grid-auto-rows: $spacing-s/2;

  .btn-toggle {
    grid-row: 1/3;
    grid-column: 3;
    justify-self: center;
    align-self: center;
    width: $spacing-s;
    height: $spacing-s;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: unset;

    svg {
      color: $text-body;
      height: 17px;
      width: 17px;
    }

    &.active {
      svg {
        color: $ui-accent;
      }
    }
  }

  .hr {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    height: 1px;
    opacity: 0.8;
    background: radial-gradient($ui-border, lighten($ui-border, 6%));
  }
}
