@import 'src/client/style/partials';

.change-password {
  // Hide labels
  .form-cell-label {
    display: none;
  }

  .form-grid {
    grid-template-columns: 1fr !important;
    grid-row-gap: 40px;
    box-shadow: none;
  }

  .data-cell {
    border: none !important;
  }

  input[type='text'],
  input[type='password'] {
    padding: $spacing-xs $spacing-s;
    text-align: center;
    background-color: white;
  }

  input[type='text']:disabled {
    background-color: $ui-bg-hover;
  }
}
