@import '_legacy_webapp/style/partials';

.login-error {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 16px 0;
  line-height: 16px;
  background-color: $ui-destructive;

  .icon {
    margin-right: 8px;
    flex-shrink: 0;
    display: inline-block;
    color: white;
    fill: currentColor;
    stroke: none;
    height: 16px;
    width: 16px;
  }
}
