@use 'sass:color';

@use 'src/client/style/partials' as *;

$icon-size: 14px;

.multiselect__tooltip-trigger {
  height: 100%;
}

.multiselect__tooltip-values {
  display: grid;
  row-gap: $spacing-xxxs;
}

.multiselect__tooltip-value {
  padding: $spacing-xxxs 0;
}

div.multiselect__container {
  border-radius: 2px;
  border: 1px solid $ui-border;
  font-size: $font-xxs;
  min-width: #{3 * $spacing-xl};
  padding: 0;
  transition: all 0.2s ease;

  div.select__control {
    min-height: unset;
    padding: 0 6px;

    &.isDisabled {
      align-content: unset;
    }
  }

  div.select__groupHeading {
    background-color: color.adjust($ui-bg, $lightness: 1%, $space: hsl);
    border-bottom: 1px solid color.adjust($ui-border, $lightness: 1%, $space: hsl);
  }

  &.active {
    border: 1px solid $ui-accent;
  }
}
