@import 'src/client/style/partials';

.topic {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: white;
  border-left: $ui-thin-border;
  box-shadow: 0px 0px 12px 12px $ui-border;
  margin-right: 32px;
  align-self: flex-end;
}

.topic-header {
  position: relative;
  padding: 12px 16px 12px 16px;
  border-bottom: 1px solid $ui-border;
  background-color: $ui-bg;
  .topic-title {
    font-weight: 700;
  }
  .topic-subtitle {
    font-weight: 100;
    font-size: $font-xs;
  }
  .topic-close {
    position: absolute;
    right: $spacing-xxs;
    top: $spacing-xxs;
    line-height: 0;
    &:hover {
      cursor: pointer;
      .icon {
        color: $text-disabled;
      }
    }
  }
}

.topic-body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: $spacing-xxs 0;
  display: grid;
  align-content: start;
  &.empty {
    align-content: center;
  }
}

.topic__no-comments {
  color: $text-disabled;
  text-align: center;
  align-self: center;
}

.topic__loading {
  font-style: italic;
  justify-self: center;
}

.topic__footer {
  padding: $spacing-xs;

  .topic-form {
    align-items: end;
    grid-column-gap: $spacing-xxs;
  }
  .topic-review {
    float: right;
    margin-top: $spacing-xxs;
  }
}
