@import 'src/client/style/partials';

.review-indicator {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  width: 32px;

  svg {
    color: $text-disabled;

    &:hover {
      color: $text-body;
      height: 18px;
      transition: all 0.1s ease-out;
      width: 18px;
    }
  }

  &.open {
    svg {
      color: $ui-accent;
    }
  }

  &.unread {
    svg {
      color: $ui-alert;
    }
  }

  &.resolved {
    svg {
      color: darken($ui-accent, 20%);

      &:hover {
        color: darken($ui-accent, 25%);
      }
    }
  }
}
