@use 'sass:color';

@import 'src/client/style/partials';

button.review-indicator.button__type-primary.inverse {
  svg {
    color: $text-disabled;
  }

  &.open {
    svg {
      color: $ui-accent;
    }
  }

  &.unread {
    svg {
      color: $ui-alert;
    }
  }

  &.resolved {
    svg {
      color: color.adjust($ui-accent, $lightness: -20%, $space: hsl);
    }
  }
}
