@use 'sass:color';

@import 'src/client/style/partials';

button.btn-lock {
  align-items: center;
  background-color: color.adjust($ui-status-approval, $lightness: 40%, $space: hsl);
  border-radius: 2px;
  border: 1px solid color.adjust($ui-status-approval, $lightness: -10%, $space: hsl);
  display: grid;
  height: $spacing-m;
  justify-content: center;
  padding: unset;
  transition: all 0.2s;
  width: $spacing-l;

  svg {
    color: color.adjust($ui-status-approval, $lightness: -15%, $space: hsl);
    height: 20px;
    width: 20px;
  }

  &:hover {
    background-color: color.adjust($ui-status-approval, $lightness: 35%, $space: hsl);

    svg {
      transform: scale(1.02);
    }
  }

  &.locked {
    background-color: color.adjust($ui-destructive, $lightness: 53%, $space: hsl);
    border: 1px solid color.adjust($ui-destructive, $lightness: 30%, $space: hsl);

    svg {
      color: color.adjust($ui-destructive, $lightness: -2.5%, $space: hsl);
    }

    &:hover {
      background-color: color.adjust($ui-destructive, $lightness: 51%, $space: hsl);
    }
  }

  &:disabled {
    pointer-events: none;
    border-color: color.adjust($ui-destructive, $lightness: -10%, $space: hsl);

    svg {
      color: color.adjust($ui-destructive, $lightness: -10%, $space: hsl);
    }
  }
}
