@import 'src/client/style/partials';

button.btn-lock {
  align-items: center;
  background-color: lighten($ui-status-accepted, 38%);
  border-radius: 2px;
  border: 1px solid $ui-status-accepted;
  display: grid;
  height: $spacing-m;
  justify-content: center;
  padding: unset;
  transition: all 0.2s;
  width: $spacing-l;

  svg {
    color: darken($ui-status-accepted, 15%);
    height: 20px;
    width: 20px;
  }

  &:hover {
    background-color: lighten($ui-status-accepted, 35%);

    svg {
      transform: scale(1.02);
    }
  }

  &.locked {
    background-color: lighten($ui-destructive, 53%);
    border: 1px solid lighten($ui-destructive, 30%);

    svg {
      color: darken($ui-destructive, 2.5%);
    }

    &:hover {
      background-color: lighten($ui-destructive, 51%);
    }
  }
}
