@import 'src/client/style/partials';

.edit-user__form-item {
  display: flex;
  padding: 10px;
  height: 60px;
}

.edit-user__form-label {
  flex: 0 1 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $font-xxs;
  color: lighten($text-mute, 10%);
}

.edit-user__form-field {
  position: relative;
  border: $ui-thin-border;
  flex: 0 1 40%;
  display: flex;
  justify-content: center;

  &.disabled {
    input:disabled,
    select:disabled {
      background-color: $ui-border-light;
    }
  }
}

.edit-user__form-item-picture {
  @extend.edit-user__form-item;
  height: auto;

  .edit-user__form-field {
    border: none;
    padding: 10px 0;
  }

  .btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.edit-user__picture-img {
  border-radius: 100%;
  width: 85px;
  height: 85px;
}

.edit-user__picture-img-invalid {
  position: absolute;
  bottom: -5px;
  color: lighten($ui-destructive, 1%);
  font-weight: bold;
  font-size: $font-xs;
}

.edit-user__form-container {
  .country-select {
    .modal-content {
      margin: 2.5vh;
      animation-duration: 0.1s;
    }

    .modal-header {
      height: 5vh;
    }

    .modal-body {
      overflow: auto;
      height: 80vh;
    }

    .modal-footer {
      padding: 0;
      height: 10vh;
    }
  }

  .edit-user__form-item-buttons {
    margin-top: 20px;
    height: auto;
  }

  .edit-user__form-field-buttons {
    border: none;
    .btn {
      min-width: 80px;
      margin: 0 6px;
    }
  }
}
