@import 'src/client/style/partials';

.geo-map-menu-forest-layer-options-panel {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;

  > div {
    flex-direction: row;
    margin: 0 0 0 0;
    height: 40px;
    justify-content: space-between;

    > p {
      font-size: $font-l;
      text-justify: left;
      width: 165px;
      margin: 0 auto 0 0;
      display: inline-block;
      vertical-align: middle;
    }

    > div {
      display: inline-block;
      vertical-align: middle;

      > input {
        width: 200px;
        vertical-align: middle;
        margin: 0 10px 0 auto;
      }
    }
  }
}

.geo-map-menu-mosaic-btn-apply {
  width: 150px;
  margin: 40px 1px 0 auto;
}
