@use 'sass:color';

@use 'src/client/style/partials' as *;

.table-paginated {
  display: grid;
  grid-row-gap: $spacing-xs;
}

.table-paginated-datagrid {
  .data-cell {
    border: none;
    padding: $spacing-xxs;
    text-align: left;
    word-break: break-word;

    &.withBorder {
      border-top: 1px solid $ui-border-light;
    }
  }

  .data-cell.header {
    align-items: center;
    background-color: $ui-bg;
    border-bottom: 1px solid color.adjust($ui-border, $lightness: -15%, $space: hsl);
    display: flex;
    font-size: $font-m;
    justify-content: start;
    overflow-wrap: break-word;
    padding: $spacing-xxs;
    text-align: left;
  }
}
