@import 'src/client/style/partials';

.table-paginated-datagrid {
  .data-grid-column {
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-color: #dadada;
    text-align: left;
    cursor: default;
    padding: 12px 10px;
    word-break: break-word;
  }

  .data-grid-column.head {
    font-size: 14px;
    padding: 12px 10px;
    text-align: left;
    overflow-wrap: break-word;
    background-color: initial;
    border: initial;
    border-bottom: 1px solid #dadada;
  }

  .table-paginated-counts {
    border-top: 1px solid $text-heading;
    padding: $font-xs;
    margin-top: -1px;

    .table-paginated-count-item {
      color: $text-mute;
      padding: 1px 0;
      font-size: $font-xs;
      font-weight: bold;
    }
  }
}
