@import 'src/client/style/partials';

.table-paginated {
  display: grid;
  grid-row-gap: $spacing-xs;
}

.table-paginated-actions {
  align-items: center;
  display: flex;
  gap: $spacing-xs;
  padding: $spacing-xxxs;
}

.table-paginated-datagrid {
  .data-grid-column {
    border: none;
    text-align: left;
    padding: $spacing-xxs;
    word-break: break-word;

    &.withBorder {
      border-top: 1px solid $ui-border-light;
    }
  }

  .data-grid-column.head {
    background-color: $ui-bg;
    font-size: $font-m;
    padding: $spacing-xxs;
    text-align: left;
    overflow-wrap: break-word;
    border: none;
    border-bottom: 1px solid darken($ui-border, 15%);
    display: flex;
    justify-content: start;
    align-items: center;

    button.btn-sort {
      border: unset;
      background: unset;
      padding: unset;
      margin: 0 0 0 $spacing-xxs;
      display: flex;
      align-items: center;

      svg {
        color: $text-body;
      }

      &.active {
        svg {
          color: $ui-accent;
        }
      }
    }
  }
}

.table-paginated-actions-sep {
  background: radial-gradient($ui-accent-dark, $ui-bg);
  height: $spacing-s;
  width: 1px;
}
