@import 'src/client/style/partials';

.message {
  padding: ($spacing-xxs + 2) $spacing-xs;
  font-size: $font-s;

  .message-header {
    display: grid;
    grid-template-columns: auto 1fr;

    .message-avatar {
      flex: 0 0 auto;
      width: 32px;
      height: 32px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  .message-info {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .message-author {
    font-weight: 700;
    height: 16px;
    display: flex;
    align-items: center;

    &.author-me {
      color: darken($ui-accent, 2%);
    }
  }
  .message-time {
    color: $text-mute;
    font-size: $font-xxs;
    height: 16px;
    display: flex;
    align-items: flex-end;
  }
  .btn-remove-msg {
    padding: 4px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
    grid-column: 2;
    align-self: flex-start;
    .icon {
      margin: 0;
      height: 13px;
      width: 13px;
    }
  }

  .message-body {
    margin-top: $spacing-xxxs + 2;
    line-height: 1.5;
    word-wrap: anywhere;
  }
}

.message.deleted {
  .message-avatar {
    filter: grayscale(100%);
  }

  .message-author {
    color: $text-disabled;
  }

  .message-time {
    color: $text-disabled;
    font-style: italic;
  }
}
