@use 'sass:color';

@import 'src/client/style/partials';

a.toolbar__data-link {
  color: $text-link;
  font-family: $font-family-1;
  font-size: $font-m;
  font-weight: 500;
  outline: none;
  padding: $spacing-xxxs;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $ui-accent;
  }

  &.disabled {
    color: color.adjust($text-link, $lightness: 25%, $space: hsl);
    cursor: default;
    pointer-events: none;
  }
}
