@import 'src/client/style/partials';

.nav-assessment {
  overflow-y: auto;
  padding: $spacing-xxs 0;
  position: sticky;
  top: 50px;
}

.nav-assessment__bulk-download {
  margin-top: $spacing-xxs;

  svg {
    color: $text-body;
  }
}
