@import 'src/client/style/partials';

.sliding-panel {
  background: lighten($ui-bg, 2%);
  padding: $spacing-l $spacing-s $spacing-s;
  position: relative;
}

button.sliding-panel__close {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: $spacing-s;
  justify-content: center;
  left: $spacing-xxxs;
  padding: 0;
  position: absolute;
  top: $spacing-xxxs;
  width: $spacing-s;

  svg.icon {
    margin: unset;
  }
}
