@use 'sass:color';

@import 'src/client/style/partials';

.sliding-panel {
  background: color.adjust($ui-bg, $lightness: 2%, $space: hsl);
  padding: $spacing-l $spacing-s $spacing-s;
  position: relative;
}

button.sliding-panel__close {
  left: $spacing-xxs;
  position: absolute;
  top: $spacing-xxs;
}
