@import 'src/client/style/partials';

.contacts {
  display: grid;
  grid-row-gap: $spacing-xxxs;
  margin-bottom: unset;
  margin-top: $spacing-m;
}

.contacts__subTitle {
  margin-bottom: $spacing-xxs;
}
