@import 'src/client/style/partials';

.invitation-info-box {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -200%;
  background-color: $ui-bg;
  color: $text-body;
  border: 1px solid $ui-border-dark;
  text-align: left;
  z-index: 1;

  .label {
    margin: $spacing-xs;
    font-weight: 600;
  }

  ul {
    padding: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      padding: $spacing-xs;
      border-bottom: 1px solid $ui-border-dark;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border: none;
      }

      .input-buttons-wrapper {
        border: 1px solid $ui-border-dark;
        display: flex;

        input {
          background-color: transparent;
          border: none;
          padding: 4px;
          flex: auto;
        }

        button {
          border-left: 1px solid $ui-border-dark;
        }
      }

      .btn-link {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .invitation-info-box-close {
    position: absolute;
    top: $spacing-xxs;
    right: $spacing-xxs;
    cursor: pointer;
  }
}
