@import 'src/client/styles/config';
@import 'src/client/style/partials';

.autocomplete {
  transition: all 0.1s ease-out;
  height: 100%;

  &[aria-expanded='true'] .autocomplete-dropdown {
    border-top: 1px solid $text-link;
    border-bottom: 1px solid $text-link;
  }
}

.autocomplete-input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;

  &.arrow {
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDcgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8dGl0bGU+CiAgICAgICAgY29sbGFwc2UKICAgIDwvdGl0bGU+CiAgICA8cGF0aCBkPSJNMy41IDBMNyA1SDBsMy41LTV6bTAgMTJMMCA3aDdsLTMuNSA1eiIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjMzMzIi8+Cjwvc3ZnPgo=);
  }

  > svg {
    margin: $spacing-xxs;
  }
}

.autocomplete-dropdown {
  position: absolute;
  background: white;
  border-radius: 2px;
  z-index: 4;
  top: 100%;
  left: -1px; // align with top container border
  min-width: calc(100% + 2px); //2px parent border
  max-height: 50vh;
  overflow-y: scroll;
  border-right: 1px solid $text-link;
  border-left: 1px solid $text-link;
}

.autocomplete-item {
  align-items: center;
  color: $text-link;
  cursor: pointer;
  display: flex;
  font-weight: normal;
  justify-content: flex-start;
  line-height: 16px;
  padding: $spacing-xxs 9px;
  text-decoration: none;

  &.selected {
    border-left: 2px solid darken($ui-accent-light, 25%);
    padding: $spacing-xxs;
  }

  &.highlighted {
    padding: $spacing-xxs 9px;
    background-color: $ui-accent-light;
    border-left: 1px solid darken($ui-accent-light, 25%);
    border-right: 1px solid darken($ui-accent-light, 25%);
  }
}
