@import 'src/client/styles/config';

$border-radius: 10px;

.statistics-table__container {
  padding: 0 2em 0 2em;
  margin: auto;
}
.statistics-table {
  margin: auto;
  width: calc(100% - 2em);
  border-collapse: separate;
  border-spacing: 0 0.5em;
  margin-top: -10px;
}
.statistics-table td {
  font-size: $font-m;
  border: solid 1px $ui-border;
  border-style: solid none;
  padding: 1em;
}
.statistics-table td:first-child {
  border-left-style: solid;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.statistics-table td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.statistics-table__header-cell {
  font-size: $font-l;
  text-align: left;
  padding-left: 0.7em;
}
