@import '_legacy_webapp/style/partials';

.uc-survey {
  position: fixed;
  z-index: $z-index-popover;
  top: 0;
  left: 0;
  transform: translateY(-200%);
  animation: showUcSurvey 0.5s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: $spacing-xxxl;
  width: 100vw;
  height: 100%;
  background-color: rgba($text-heading, 0.8);
}

.uc-survey-content {
  display: grid;
  justify-items: center;
  grid-row-gap: $spacing-m;
  width: 70vw;
  padding: $spacing-xxs;
  background-color: rgba($ui-accent-light, 0.9);

  @include min-width($laptop) {
    padding: $spacing-m;
  }

  .fra-checkbox:not(.checked) {
    background-color: white;
  }
}

.uc-survey__message {
  display: grid;

  img {
    display: none;
    align-self: center;
  }

  @include min-width($laptop) {
    grid-template-columns: auto 1fr;
    grid-column-gap: $spacing-xs;
    img {
      display: block;
    }
  }
}

.uc-survey__btns {
  display: grid;
  grid-column-gap: $spacing-s;
  grid-row-gap: $spacing-s;

  @include min-width($laptop) {
    grid-template-columns: repeat(3, auto);
  }

  button {
    min-width: 90px;

    @include min-width($laptop) {
      min-width: 120px;
    }
  }
}

@keyframes showUcSurvey {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
