@import 'src/client/style/partials';

.history-items {
  display: grid;
}

.history-items__title {
  background-color: $ui-bg;
  font-weight: 600;
  margin-top: -$spacing-xxs;
  padding: $spacing-xs;
  position: sticky;
  top: -$spacing-xxs;
  z-index: 1;
}

.history-items__activities {
  .table-paginated-datagrid {
    align-items: center;
    grid-column-gap: $spacing-xxs;
    padding: 0 $spacing-xs;
  }
}
