
.commentable-description {
  display: flex;
  justify-content: space-between;
}

.commentable-description__description-wrapper {
  flex-grow: 2;
}

.commentable-description__review-indicator-wrapper {
  padding-top: 60px;
}
